-# Custom dynamic select box
-# REQUIRED PARAMS:
-#    f: reference to form builder object
-#    label: text for descriptive label
-#    attribute: Name of hash object (Stored in HStore)
-#    list_data: Array of strings making up the list
%fieldset
  = f.label label
  = f.select attribute, list_data