-# Custom dynamic text field
-# REQUIRED PARAMS:
-#    f: reference to form builder object
-#    label: text for descriptive label
-#    attribute: Name of hash object (Stored in HStore)
-#    data_type: Array of strings making up the list
-#    placeholder: (Optional String)
-#    condition: (Optional Hash object)
.field
  = f.label label
  = f.text_field attribute
  = f.checkbox "enabled"
