#contractor_dropdown {

  min-width: 200px;
  display: block;

  li {
    background-color: none;

    &:hover {
      background-color: none;
    }

    img {
      margin-top: 1px;
      margin-right: 10px;
    }

    a {
      background-color: none;
      display: block;

      h2, h3, h4 {
        width: 90%;
        margin-top: 0;
        padding-top: 15px;
        padding-left: 60px;
        display: block;
      }

      &:hover {
        background-color: none;
      }
    }
  }
}

.small-border {
  display: block;
  border-radius: 3px;
  border: 1px solid gray;

  -moz-box-shadow: inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow: inset 0 0 10px #000000;

  margin: 0;
  padding: 0;
}