- content_for :static_page do

  = render partial: "static_pages/partials/sidenav"

  .span8.descriptiontext

    %h1.block-underline What Is Homespree?
    .intro
      %img{:src => "/assets/favicon.png"}/
      :markdown
        In an age when you can buy just about anything with a single click of your smartphone, it seems backward that hiring a home service professional requires dozens of phone calls, voicemails and meetings.

        Our mission is to make purchasing home improvement services stress-free, while empowering professionals to grow their businesses.

        Today, many homeowners rely on friendly referrals to hire contractors. Others have visited review sites or online lead generators.

        While these methods can be helpful, they often leave you with a ton of questions regarding price and quality.

        At Homespree, we want to put those concerns to rest. We’re here to help you connect with the best contractors in your area, get competitive estimates and manage payment.

        We currently service painting requests in the tri-state area, but have big plans to expand to more services and regions soon.

        If you’re looking to hire a painter, let us help you get started [here.](http://www.myhomespree.com)


  -#
  -# Don't do this: This is what the the 'min-height' css attribute is for
  -#
  -#%br
  -#%br
  -#%br
  -#%br
  -#%br
  -#%br
  -#%br
  -#%br
  -#%br
  -#%br
  -#%br
  -#%br
  -#%br
  -#%br
  -#%br
  -#%br
  -#%br
  -#%br
  -#%br
  -#%br
  -#%br
  -#%br
  -#%br
  -#%br
  -#%br
  -#%br
