- content_for :static_page do

  = render partial: "static_pages/partials/sidenav"

  .span8.descriptiontext

    %h1.block-underline What Is Homespree?
    .intro
      %img{:src => "/assets/favicon.png"}/
      = render partial: "Content/about"

  -#
  -# Don't do this: This is what the the 'min-height' css attribute is for
  -#
  -#%br
  -#%br
  -#%br
  -#%br
  -#%br
  -#%br
  -#%br
  -#%br
  -#%br
  -#%br
  -#%br
  -#%br
  -#%br
  -#%br
  -#%br
  -#%br
  -#%br
  -#%br
  -#%br
  -#%br
  -#%br
  -#%br
  -#%br
  -#%br
  -#%br
  -#%br
