- content_for :static_page do

  .span10.offset1.descriptiontext
    %h1.block-underline Consumer Terms of Service

    %p This Terms Of Service Agreement was last updated on June 20, 2013.
    %p This Terms Of Service Agreement is effective as of June 20, 2013.
    %h2#1introductiontotheconsumertermsofserviceagreement 1. Introduction to the Consumer Terms of Service Agreement
    %p
      Thank you (“User”, “Consumer”) for your interest in Homespree.com, an Internet platform (“Website”) owned and
      operated by Homespree, Inc., a Delaware corporation (“Homespree”, “we”, “us”, “our”).
    %p Homespree provides you a radically easier way to purchase home improvement services.
    %p
      By registering on the Website, you become a Consumer at no cost and will have the ability to request estimates,
      schedule appointments and manage payments for home improvement services. References to Website shall include, but
      are not limited to, any and all uses of www.myhomespree.com via mobile devices, personal computers, email,
      telephones and other electronic devices.
    %h2#2acknowledgementandacceptance 2. Acknowledgement and Acceptance
    %p
      %strong a. Your Unconditional Acceptance
    %p
      This Website and Homespree’s services are offered to you for use only in the United States and are conditioned
      upon your unconditional acceptance, without modification, of the following terms, conditions, and notices (‘Terms”)
      contained in this Homespree Terms of Service ("Agreement"). Please read this Agreement carefully. Regardless of
      whether you register with the Website, your use of the Website and any related services constitutes your agreement
      to all Terms. You agree and understand that certain features of the Website may be subject to additional terms
      and conditions or registration requirements. You agree to abide by these additional terms, and you further agree
      that a violation of those terms while you are accessing the Website shall constitute a breach of this Agreement.
      This Agreement also includes Homespree’s Privacy Policy and any notices regarding the Website.
    %p
      %strong b. Amendments
    %p
      You acknowledge and agree that Homespree may amend this Agreement at any time by posting a revised version of
      this Agreement on the Website or by notifying Consumers directly in Homespree’s sole discretion. Your continued
      use of the Website after any changes are made to this Agreement shall constitute your consent to such changes.
      Homespree does not and will not assume any obligation to notify Consumers of any changes to this Agreement, or
      the creation or modification of any additional terms. You are responsible for remaining knowledgeable about the
      Terms of the Agreement.
    %h2#3useandagerestrictions 3. Use and Age Restrictions
    %p
      Use of the Website is permitted only by individuals who can form legally binding contracts under applicable Law.
      Without limiting the foregoing, use of the Homespree Website is not permitted by anyone under the age of 18. If
      you do not qualify, please do not use the Website.
    %h2#4servicerequestsandapproximateestimates 4. Service Requests and Approximate Estimates
    %p
      %strong a. Service Requests
    %p
      Upon registration with Homespree, a Consumer may submit through the Website a request for Approximate Estimates
      for service or work ("Service Request") from Contractors. Consumers must provide required information (e.g., what
      they want done, when they want it done, where they want it done) to submit a valid Service Request. All Service
      Requests posted through the Website must be lawful and not in violation of any city ordinance, state, local or
      federal law. Consumers have 3 options to submit a request.
    %ul
      %li
        %p
          %strong Via online forms
          \-
          Consumers are prompted to submit their service request information via standardized forms. All information must
          be completed accurately to ensure a proper Approximate Estimate. Approximate Estimates are not binding.
      %li
        %p
          %strong Via photos and description
          \-
          Consumers may upload photos and a description of their projects to allow the Homespree staff to capture enough
          information to be able to provide Approximate Estimates from registered Homespree Contractors. Approximate
          Estimates are not binding.
      %li
        %p
          %strong Via chat, email or phone
          \-
          Consumers may discuss their projects with a Homespree representative to allow the Homespree staff to capture
          enough information to be able to provide Approximate Estimates from registered Homespree Contractors. Approximate
          Estimates are not binding.
    %p
      After submission of a Service Request, Homespree will attempt to match the services requested by Consumer with a
      registered Homespree Contractor. However, Homespree does not and cannot guarantee that there will be Contractors
      who are capable of or willing to complete the requested services at the time and place requested or that the
      Consumer will receive Approximate Estimates from Contractors.
    %p
      %strong b. Agreement with the Approximate Estimate
    %p Accepting the Approximate Estimate does not constitute a binding contract.
    %p
      Prior to entering a Service Contract, the Contractor must confirm in-person whether the details and conditions
      chosen in the Service Request accurately reflect the details and conditions present.
    %p
      If the Contractor verifies that the conditions and details captured in the Service Request are, in fact, accurate,
      Homespree will use the information in the Service Request to develop a binding Service Contract for both the
      Consumer and Contractor to sign prior to any Service being rendered. This contract indicates that the Consumer
      must pay the Contractor the full amount of the price as outlined in the Service Request upon completion of the
      Services as outlined in the Service Request.
    %p
      If the Contractor confirms that the details and or conditions captured in the Service Request are not accurate,
      the Contractor must submit adjustments to the Service Request, which must be confirmed by the Consumer before a
      binding Service Contract is developed. After confirmation, Homespree will use the information in the updated
      Service Request to develop a binding contract for both the Consumer and Contractor to sign prior to any Service
      being rendered. This contract indicates that the Consumer must pay the Contractor the full amount of the price
      as outlined in the Service Request upon completion of the Services as outlined in the Service Request.
    %p
      %strong c. Intellectual Property
    %p
      By posting a Service Request you represent that the Service Request does not infringe on the intellectual property
      of any third party, including, but not limited to, the work product of a design professional or unauthorized
      reproduction of any other consultant, material supplier, or manufacturer. Your description of the Service Request
      must be truthful and accurate. Any Service Request posted on the Website: (a) shall not be fraudulent; (b) shall
      not violate any law, statute, ordinance or regulation (including without limitation those governing export control,
      consumer protection, unfair competition, anti-discrimination or false advertising); (c) shall not be defamatory,
      trade libelous, unlawfully threatening or unlawfully harassing; (d) shall not be obscene or contain child
      pornography; and (e) shall not contain any viruses, Trojan horses, worms, time bombs, cancelbots or other
      computer programming routines that are intended to damage, detrimentally interfere with, surreptitiously
      intercept or expropriate any system, data or personal information.
    %h2#5contractors 5. Contractors
    %p
      Homespree requires Contractors to post a profile ("Contractor Profile") on the Website. Homespree does not review
      or verify the information or representations set forth in those Contractor Profiles, as they are self-reported by
      the Contractors. Although Homespree may take certain steps to examine the credentials of Contractors, Homespree
      makes no guarantees, promises, warranties or representations of any kind regarding the skills or representations
      of such Contractors if you elect to retain their services.
    %p
      %strong a. Licensing
    %p
      Contractors are requested to post licensing information in their Contractor Profiles. Different jurisdictions
      may require state and/or local (county or municipal) level licensing for certain services, work, and/or project
      amounts. Consumers are responsible for determining which licenses, if any, are required for their requested
      services. Before you proceed with a project, you should confirm all licensing requirements with your state and
      local authorities and your selected Contractor. Homespree always recommends that you ask the Contractor to provide
      you with a copy of their license(s).
    %p
      %strong b. Insurance and Licensing
    %p
      Contractors may post information and documents concerning insurance policies and/or bonds covering their
      operations. While Homespree does not verify this information, Contractors are required to warrant that the
      information they submit is complete, accurate and current. Before you proceed with a project, you should confirm
      the Contractors’ existing insurance coverages and limits.
    %p
      %strong c. Relationship Between Homespree and Contractor
    %p
      Homespree and Contractor are separate entities and the employee of one of those entities is not an employee of
      another entity. Homespree is not an agent of Contractor and vice versa. Homespree and its affiliated companies
      provide only a referral service to Contractor. In no event will Homespree be considered a general contractor,
      construction manager, project manager, joint employer, joint venturer, or partner of Contractor or any of its
      affiliates or their respective personnel.
    %p
      %strong d. Consumer Verification
    %p
      You should verify that the information presented by the Contractor, including the information in the Contractor's
      profile, is accurate. Homespree does not verify all information or documents provided by Contractors and
      expressly disclaims any guarantees or warranties concerning such information. Consumers should conduct their
      own investigation of Contractors, to investigate and to determine, among other things, whether Contractors are
      appropriately licensed for the requested services, free of significant state-level civil legal judgments, and
      carry appropriate insurance or bonding at appropriate limits. Homespree does not represent or warrant that the
      information received by consumer from state, provincial or other government agencies or from third party sources
      is accurate, error free, or that it is up to date or updated at the time that consumer checks such information.
      Most agencies have periodic update cycles or schedules and this information is not updated on a real-time basis
      by such agencies and third party sources.
    %p
      %strong e. No Warranty of Endorsement of Contractor Services
    %p
      Homespree does not endorse or recommend the services of any particular Contractor. The decision to enter into an
      agreement for work belongs entirely to the Consumer. Homespree does not warrant the Contractor's performance on
      the job or the quality of goods, materials, equipment or services furnished by the Contractor. Homespree does not
      contract for or perform, and is not responsible for, any of the services requested by the Consumer in the Service
      Request. You expressly acknowledge and agree that your use of the Website is at your sole risk. Homespree makes
      no representations or warranties as to the conduct of any Contractor or the Contractor’s ability to provide a
      service compliant with the Consumer’s Service Request. You expressly acknowledge that Homespree makes no
      warranties, either express or implied, regarding the quality of services rendered by any service provider.
    %h2#6paymentstocontractors 6. Payments to Contractors
    %p
      %strong a. Payment Process Service
    %p
      Upon registration with Homespree, Consumers may link an active bank account, debit card, credit card or other
      authorized method to make online payments to their Homespree Account. Consumers must create a Homespree Account
      before submitting an Appointment Request on Homespree. Homespree may limit a Consumer’s use of the Website’s
      payment process services within Homespree’s sole discretion. The Consumer is prohibited from making separate
      payment arrangements directly with Contractor.
    %p
      %strong b. Service Request Completion
    %p
      Payments for a Service Request will be due upon the joint confirmation by the Consumer and Contractor that the
      Service request has been fully satisfied through the Completion Confirmation option within their respective
      accounts.
    %p
      If both the Consumer and Contractor confirm that the Services have been fully rendered and of satisfactory
      quality, Homespree will charge the Consumer Account the amount designated in the agreed upon Service Contract.
    %p
      If the Consumer is not satisfied with the services performed by the Contractor, or the Contractor has not
      completed the services outlined in the Service Contract, Homespree will attempt to resolve the issue through
      joint communication with the Consumer and Contractor. If the Contractor is unable to complete the Service
      Contract for any reason, the Contractor will forego any payment for the services rendered and Homespree will
      provide the Consumer options for another Contractor to complete the services outlined in the Service Contract.
    %h2#7homespreeguarantee 7. Homespree Guarantee
    %p
      %strong a. Referral Service Guarantee
    %p
      Homespree does not, and cannot, guarantee the work, materials supplied, or services rendered by the Contractor.
      Homespree has no obligation or relationship whatsoever to the Consumer with regard to the provision of work,
      material or services by the Contractor. However, Homespree offers Consumers a referral service Guarantee
      ("Homespree Guarantee"). The Homespree Guarantee is intended to restore Consumer’s confidence in the referral
      services provided by Homespree. The Homespree Guarantee does not cover faulty workmanship of the Contractor and
      damages to a Consumer’s product or property that arise from or relate to the services of the Contractor.
    %p
      %strong b. Agreement to Communicate with Contractors
    %p
      Consumers who are dissatisfied with a services rendered by a Contractor agree to initiate communication with
      the Contractor to resolve any problems. If direct communications and efforts between the Consumer and the
      Contractor do not satisfy Consumer’s concerns, Consumers may contact Homespree via email or phone to express
      dissatisfaction with the Consumer’s referral experience. In response, Homespree may contact Consumer and
      Contractor to facilitate further communication regarding Consumer’s dissatisfaction. However, Homespree is not
      responsible or liable to either the Consumer or the Contractor if a mutually acceptable resolution is not reached.
    %p
      %strong c. Eligibility Requirements for Homespree Guarantee
    %p
      In the event that a Consumer and Contractor are unable or unwilling to agree upon a resolution, the Consumer may,
      in Homespree’s sole and absolute discretion, be eligible for the Homespree Guarantee aimed at rectifying
      Consumer’s dissatisfaction with Homespree’s referral. To be eligible for the Homespree Guarantee, the Consumer must:
    %ul
      %li
        %p
          Have provided accurate and truthful information in the related Service Contract and in any other communications
          with or through Homespree
      %li
        %p Have entered into an agreement with the Contractor for work within the scope of the Service Contract
      %li
        %p
          Have supplied Homespree with any requested written documentation of Consumer’s claim, complaint or dispute,
          including, without limitation, any documents relating in any way to the quality of Homespree’s referral and
      %li
        %p
          Have complied with any request by Homespree for a third party evaluation of any service, materials, or work
          performed by a Contractor
      %li
        %p
          In order for the Homespree Guarantee to be in effect, all aspects of the transaction between Consumer and
          Contractor must go through the Homespree platform
      %li
        %p
          If the Consumer does not comply with this Agreement, or if the Consumer misrepresents the transaction or
          provides incomplete information, then the Homespree Guarantee shall be null and void
    %p
      %strong d. Payment Limit
    %p
      In the event that the above conditions are met by the Consumer, Homespree may make payment to Consumer up to
      $1,000. Homespree reserves the right, in its sole discretion, to determine the Homespree Guarantee amount.
    %h2#8interactionsanddisputeswithcontractors 8. Interactions and Disputes with Contractors
    %p
      With exception of the Homespree Guarantee, Homespree will not directly participate in the resolution of any
      disputes between Consumers and Contractors and is not responsible for disputes, claims, losses, injuries or
      damage of any kind that might arise out of or relate to conduct of Consumers or Contractors.
    %p
      The Consumer is solely responsible for its interactions with Contractors. The Consumer’s rights under contracts
      they enter into with Contractors are governed by the terms of such contracts and by applicable federal, state,
      provincial and local laws. Should a Consumer have a dispute with any Contractor, a Consumer should address such
      dispute with the Contractor directly. Homespree is not a party or third-party beneficiary to the contracts
      between Consumers and Contractors.
    %h2#9release 9. Release
    %p
      In exchange for the referral service provided by Homespree and other good and valuable consideration, the receipt
      and sufficiency of which is acknowledged, you expressly agree to release Homespree, its officers, directors,
      affiliates, parent companies, employees and agents from any claims, demands, causes of action, losses and damages
      (direct and consequential) of every kind and nature, known and unknown, suspected and unsuspected, disclosed and
      undisclosed, arising out of or in any way connected with any dispute you have with one or more Contractors.
      If you are a California resident, you waive California civil code section 1542, which says: "a general release
      does not extend to claims which the creditor does not know or suspect to exist in his favor at the time of
      executing the release, which, if known by him must have materially affected his settlement with the debtor."
    %h2#10nowarranties 10. No Warranties
    %p
      Homespree makes no representation about the suitability of the content on or services of this website for any
      purpose. Homespree does not promise that the website will be error-free, uninterrupted, or that it will provide
      specific results from use of the Website or any content, search or link on it. The Website and its content are
      delivered on an "as-is" and "as-available" basis. Homespree cannot ensure that any files you download from the
      Website will be free of viruses or contamination or destructive features. Homespree shall not have any liability
      or responsibility for any errors or omissions in the content of this Website, for your action or inaction in
      connection with this Website or for any damage to your computer or data or any other damage you may incur in
      connection with this Website. Homespree specifically disclaims all warranties and conditions of any kind,
      express or implied, including all implied warranties and conditions of merchantability, fitness for a particular
      purpose, title and non-infringement. Homespree makes no guarantees of any specific result from use of this
      Website. Your use of this Website is at your own risk.
    %h2#11limitationsofliability 11. Limitations of Liability
    %p
      In no event shall Homespree, its officers, directors, affiliates, parent companies, employees and/or agents be
      liable for any damages whatsoever, including without limitation, direct, indirect, punitive, incidental, general,
      special or consequential damages, arising out of or relating to (1) the use of, content in, delay or inability to
      use, or otherwise arising in connection with this Website, (2) the conduct of a user, Contractor or anyone else
      in connection with the use of the Website, including without limitation, bodily injury, emotional distress, and/or
      any other damages, whether based on contract, tort, strict liability or otherwise, even if advised of the
      possibility of any such damages. Homespree is not liable for any lost data resulting from the operation of the
      Website or the enforcement of the terms. Homespree expressly disclaims any and all liability for the acts,
      omissions and conduct of any third party users, Homespree users, advertisers and/or sponsors on the Website, in
      connection with the Website or otherwise related to your use of the Website. By using the Website, you agree to
      take reasonable precautions in all interactions with other users of the Website. To the extent your state does
      not allow the exclusion or limitation of incidental or consequential damages, the above exclusion may not apply
      to you.
    %h2#12websitecontent 12. Website Content
    %p
      %strong a. Proprietary Rights
    %p
      This Website and the material within it, with exception of User Content as defined below, are © 2013 Homespree,
      Inc. (“Homespree”) Viewing this Website creates a copy of Homespree materials in your computer's random access
      memory and/or your hard drive and/or in your proxy server. The Website contains the copyrighted material,
      trademarks, service marks, logos and other proprietary information (the "Intellectual Property") of Homespree.
      Nothing on this Website should be construed as granting, by implication, estoppel or otherwise, any license or
      right to use any Intellectual Property displayed on the Website, without the prior written permission of the
      Intellectual Property owner. Other product and company names mentioned in this Website may be the Intellectual
      Property of their respective owners.
    %p
      %strong b. Copyright Policy
    %p
      Except for that information which is in the public domain, you may not post, copy, modify, publish, transmit,
      distribute, perform, display, sell or reproduce in any way any Intellectual Property without obtaining the prior
      written consent of the owner of such Intellectual Property. Homespree can remove any User content you post on the
      Website if it violates this statement. If you believe that your work has been copied and posted on the Website in
      a way that constitutes infringement, please provide us with the following information: an electronic or physical
      signature of the person authorized to act on behalf of the owner of the interest; a description of the work that
      you claim has been infringed; a description of where the material that you claim is infringing is located on the
      Website; your address, telephone number, and email address; an electronic statement by you that you have a good
      faith belief that the disputed use is not authorized by the owner, its agent, or the law; a statement by you, made
      under penalty of perjury, that the above information in your notice is accurate and that you are the owner or
      authorized to act on the owner's behalf. Notice of claims of infringement can be sent by email to
      founders@myhomespree.com.
    %p
      %strong c. Content
    %p
      Users may post information, reviews, comments, messages, photos, profiles; send emails, e-cards and other
      communications; and submit materials, suggestions, ideas, comments, questions, or other information
      (collectively "User Content"), so long as the User Content is not illegal, obscene, threatening, defamatory,
      invasive of privacy, infringing of intellectual property rights, or otherwise injurious to third parties or
      objectionable and does not consist of or contain software viruses, political campaigning, commercial solicitation,
      chain letters, mass mailings, or any form of "spam." You agree that all of the User Content and information
      posted on the Website (including any ratings, reviews and/or other User Content posted by you), is the sole
      and exclusive property of Homespree or the party posting such content. Homespree reserves the right (but not
      the obligation) to remove, change or edit such User Content in its sole discretion.
    %p
      %strong d. Reliance on Content
    %p
      Opinions, advice, statements, reviews, offers, or other information or User Content made available through the
      Website, but not directly by Homespree, are those of their respective authors, and should not necessarily be
      relied upon. Such authors are solely responsible for such User Content. Homespree does not: (i) guarantee the
      accuracy, completeness, or usefulness of any information on the Website; or (ii) adopt, endorse or accept
      responsibility for the accuracy or reliability of any opinion, advice, or statement made by any party that
      appears on the Website. Under no circumstances will Homespree or its affiliates be responsible for any loss or
      damage resulting from your reliance on information or other content posted on the Website or transmitted to or
      by any Users.
    %p
      %strong e. Documents and Information Available on This Website
    %p
      Permission to use documents (such as press releases, datasheets, content, informational items and FAQs) from the
      Website is granted, provided that (1) the Copyright Policy above and this paragraph are included with such
      documents, (2) use of such documents from the Website is for your informational and non-commercial or personal
      use only and will not be copied or posted on any network computer or broadcast in any media, and (3) no
      modifications of any documents are made. Use for any other purpose is expressly prohibited by law, and may
      result in severe civil and criminal penalties. Violators will be prosecuted to the maximum extent possible.
      Documents specified above do not include the design or layout of the Homespree Website or any other Homespree
      owned, operated, licensed or controlled site (the "Homespree Websites"). Elements of Homespree Websites are
      protected by trade dress, trademark, unfair competition, and other laws and may not be copied or imitated in
      whole or in part. No logo, graphic, sound or image from any Homespree Website may be copied or retransmitted
      unless expressly permitted by Homespree.
    %p
      %strong f. Information You Provide to Homespree
    %p
      Upon using or registering for an account on the Website, you will be prompted to disclose certain information
      about yourself and your Service requirements if you request Services. Some of this information will be sent to
      Contractors, who will need this information to respond to you or to other persons or entities in connection with
      the Website. By providing this information to Homespree, or by submitting a Service Request, you are requesting,
      and you expressly consent to having details of your Service Request sent to Contractors. You further consent to
      Homespree's use and display on the Website of anonymous data records from information collected from your Service
      Request, including your first name and the nature of the services you requested in your city. Such information
      helps other Consumers and Contractors evaluate and utilize Homespree’s services.
    %p
      If you accept an Approximate Estimate from a Contractor, Homespree will send additional identifying information
      such as your full name, contact phone number, email address, and physical address of the job location to the
      Contractor whose Approximate Estimate you selected. This information will be sent to the Contractor whose
      Approximate Estimate you selected even if you are listed on any federal, state, provincial or other applicable
      "Do Not Call" list, in order that Homespree may provide the services set forth on the Website, to service your
      account, to reasonably address matters pertaining to your account or for other purposes reasonably related to
      your Service Request and Homespree’s business, including marketing related emails. For complete details on
      Homespree’s use of your information, please see our Privacy Policy here: http://www.myhomespree.com/privacy.
      You promise that all information you provide will be accurate, current and truthful to the best of your knowledge.
      If you provide any information that is untrue, not current or incomplete, or Homespree has reasonable grounds
      to suspect that such information is untrue, inaccurate, not current or incomplete, Homespree has the right to
      refuse any current or future use of the Homespree services (or any portion thereof) by you.
    %p
      You are responsible for maintaining the confidentiality of your Account Password. You are also responsible for
      all activities that occur in connection with your Account. You agree to notify us immediately of any unauthorized
      use of your Account.
    %p
      In the event that you provide Homespree with any feedback regarding the Homespree service or the Website,
      including without limitation, any flaws, errors, bugs, anomalies, problems with and/or suggestions for the service
      or the Website ("Feedback"), you hereby assign to Homespree all rights in the Feedback, including but not limited
      to, the right to use such Feedback and related information in any manner we deem appropriate.
    %p
      %strong g. Content Posted by You on the Website
    %p
      You understand and agree that Homespree may review, edit, change and/or delete any User Content in its sole
      discretion. By posting User Content to any public area of the Website, you automatically grant, and you represent
      and warrant that you have the right to grant, to Homespree, its affiliates, licensees and successors, an
      irrevocable, perpetual, non-exclusive, royalty-free, fully paid, fully sublicensable, worldwide license to use,
      copy, perform, sell, rent, lease, display, reproduce, adapt, publish, translate, modify and distribute such
      information and User Content and to prepare derivative works of, or incorporate into other works, such information
      and User Content throughout the world in any media, and to grant and authorize sublicenses of the foregoing. You
      further represent and warrant that public posting and use of your User Content by Homespree will not infringe or
      violate the rights of any third party. You grant Homespree and sublicensees the right to use the name that you
      submit in connection with such content, if they choose. Homespree takes no responsibility and assumes no liability
      for any content posted by you, any User or third party.
    %p
      You are solely responsible for the User Content that you post on the Website or transmit to other Users. You will
      not post on the Website, or transmit to other Users, any defamatory, inaccurate, abusive, obscene, profane,
      offensive, sexually oriented, threatening, harassing, racially offensive or illegal material, or any material
      that infringes or violates another party's rights (including, but not limited to, intellectual property rights,
      and rights of privacy and publicity). You will not provide inaccurate, misleading or false information to the
      Homespree or to any User. If information provided to Homespree, or another user, subsequently becomes inaccurate,
      misleading or false, you will promptly notify Homespree of such change.
    %p
      The following is a partial list of the kind of User Content that is illegal or prohibited on the Website. Homespree
      reserves the right to investigate and take appropriate legal action in its sole discretion against anyone who
      violates this provision, including without limitation, removing the offending communication from the Website and
      terminating the membership of such violators. It includes, but is not limited to, User Content that:
    %ul
      %li
        %p
          Is patently offensive to the online community, such as User Content that promotes racism, bigotry, hatred or
          physical harm of any kind against any group or individual
      %li
        %p Harasses or advocates harassment of another person
      %li
        %p Involves the transmission of "junk mail," "chain letters," or unsolicited mass mailing or "spamming"
      %li
        %p Promotes information that you know is false or misleading
      %li
        %p Promotes illegal activities or conduct that is abusive, threatening, obscene, defamatory or libelous
      %li
        %p
          Promotes an illegal or unauthorized copy of another person's copyrighted work, such as providing pirated
          computer programs or links to them, providing information to circumvent manufacture-installed copy-protect
          devices, or providing pirated images, audio or video, or links to pirated images, audio or video files
      %li
        Contains restricted or password only access pages, or hidden pages or images (those not linked to or from
        another accessible page)
      %li
        Provides material that exploits people under the age of 18 in a sexual or violent manner, or solicits personal
        information from anyone under the age of 18
      %li
        Provides instructional information about illegal activities such as making or buying illegal weapons, violating
        someone's privacy, or providing or creating computer viruses
      %li Solicits passwords or personal identifying information for commercial or unlawful purposes from other users
      %li
        Engages in commercial activities and/or sales without our prior written consent such as contests, sweepstakes,
        barter, advertising, and pyramid schemes and
      %li Violates state and/or local consumer protection laws
    %p
      Your use of the Website, including but not limited to the User Content you post on the Website, must be in
      accordance with any and all applicable laws and regulations. All information you include in your account
      information must be accurate, current and complete. Homespree reserves the right to investigate and terminate
      your membership if you have misused the Website, or behaved in a way which could be regarded as inappropriate
      or whose conduct is unlawful or illegal.
    %p
      You acknowledge that a violation of the foregoing User Content provisions could result in significant damages,
      and you agree that you are liable to Homespree for any such damages. We reserve the right to revoke your access
      to the Website and services at any time. With exception of information that is generally accessible to the public,
      all information about Contractors is confidential and for your personal use only. If it is determined or suspected
      by Homespree in its sole discretion that you are misusing or attempting to misuse or circumvent the Homespree
      services or system, or are using or attempting to use them for any inappropriate, non-personal, or commercial
      purposes, including but not limited to activities such as hacking, infiltrating, fraud, advertising, jamming or
      spamming, Homespree reserves the right, in its sole discretion, to immediately terminate your access without
      notice and to initiate without notice appropriate legal actions or proceedings to seek appropriate remedies
      and/or damages, including but not limited to lost revenue, repairs, legal fees, costs and expenses, and to seek
      injunctions or other equitable remedies.
    %p
      %strong h. Modifications to Website
    %p
      Homespree reserves the right at any time to modify or discontinue, temporarily or permanently, the Website (or
      any part thereof) with or without notice. You agree that Homespree shall not be liable to you or to any third
      party for any modification, suspension or discontinuance of the Website.
    %p
      %strong i. Blocking of IP Addresses
    %p
      In order to protect the integrity of the Website, Homespree reserves the right at any time in its sole discretion
      to block Users from certain IP addresses from accessing the Website
    %p
      %strong j. Privacy
    %p Users of the Website are also governed by our Privacy Policy, which you can access here: www.myhomespree.com/privacy.
    %p
      %strong k. Disclaimers
    %p
      Homespree is not responsible for any incorrect or inaccurate content posted on the Website or in connection with
      the Website, whether caused by Users of the Website, or by any of the equipment or programming associated with or
      utilized in the Website.
    %p
      Homespree is not responsible for the conduct, whether online or offline, of any Consumer, Contractor or other
      third-party users of the Website.
    %p
      Homespree assumes no responsibility for any error, omission, interruption, deletion, defect, delay in operation
      or transmission, communications line failure, theft or destruction or unauthorized access to, or alteration of,
      User communications.
    %p
      Homespree is not responsible for any problems or technical malfunction of any telephone network or lines,
      computer online systems, servers or providers, computer equipment, software, failure of email or players on
      account of technical problems or traffic congestion on the Internet or at any Website or combination thereof,
      including injury or damage to Users or to any other person's computer related to or resulting from participating
      or downloading materials in connection with the Web and/or in connection with the Website.
    %p
      Under no circumstances will Homespree or any of its affiliates, advertisers, promoters or distribution partners
      be responsible for any loss or damage, including personal injury or death, resulting from anyone's use of the
      Homespree’s Websites, any content posted on the Website or transmitted to Users, or any interactions between
      Users of the Website, whether online or offline. The Homespree Websites are provided "as-is" and Homespree
      expressly disclaims any warranty of fitness for a particular purpose or non-infringement.
    %p Homespree cannot guarantee and does not promise any specific results from use of the its Websites.
    %p
      In addition to the preceding paragraph and other provisions of this Agreement, any advice that may be posted on
      the Website is for informational and entertainment purposes only and is not intended to replace or substitute for
      any professional financial, medical, legal, or other advice. Homespree makes no representations or warranties and
      expressly disclaims any and all liability concerning any treatment, action by, or effect on any person following
      the information offered or provided within or through the Website. If you have specific concerns or a situation
      arises in which you require professional or medical advice, you should consult with an appropriately trained and
      qualified specialist.
    %p
      %strong l. Links
    %p
      The Website may provide, or third parties may provide, links to other sites or resources, including, by way of
      example, the placement of a widget or live feed from a customer ratings website. Because Homespree has no control
      over such sites and resources, you acknowledge and agree that Homespree is not responsible for the availability of
      such external sites or resources, and does not endorse and is not responsible or liable for any content,
      advertising, products or other materials on or available from such sites or resources. You further acknowledge
      and agree that Homespree shall not be responsible or liable, directly or indirectly, for any damage or loss
      caused or alleged to be caused by or in connection with the use of, or reliance upon, any such content, goods or
      services available on or through any such site or resource.
    %h2#13terminationofaccount 13. Termination of Account
    %p
      This Agreement will remain in effect while you use the Website and/or are a Consumer of Homespree. You may
      terminate your account at any time, for any reason. To cancel your Account, please do so within your Account
      Settings.
    %p
      If you terminate your Account, your Account will instantly be disabled. Homespree may terminate your Account or
      this Agreement at any time, with or without cause, by sending notice to you at the email address you provide in
      your Account Registration, or such other email address as you may later provide to Homespree.
    %p
      All decisions regarding the termination of accounts shall be made in the sole discretion of Homespree. Homespree
      is not required to provide you notice prior to terminating your Account. Homespree is not required, and may be
      prohibited, from disclosing a reason for the termination of your Account. Even after your Account is terminated,
      this Agreement will remain in effect.
    %h2#14customerrepresentative 14. Customer Representative
    %p
      Homespree may provide assistance and guidance through customer representatives. When communicating with our
      customer representatives, you may not to be abusive, obscene, profane, offensive, sexist, threatening, harassing,
      racially offensive or otherwise behave inappropriately. If we feel that your behavior toward any of our customer
      representatives or other employees is at any time threatening or offensive, we reserve the right to immediately
      terminate your membership. You acknowledge and agree that Homespree may monitor and/or record any telephone calls
      between you and Homespree.
    %h2#15disputeresolution 15. Dispute Resolution
    %p
      At the sole option of Homespree, any claim, dispute or controversy arising out of, relating to or concerning in
      any way the agreement or use of the Website shall be resolved by binding arbitration administered by the American
      Arbitration Association ("AAA") under its commercial arbitration rules. The decisions of the arbitrators shall be
      binding and conclusive upon all parties involved, and judgment upon any arbitration award may be entered by any
      court having competent jurisdiction. Each party shall bear its own costs, fees, and expenses associated with any
      arbitration, except that the parties agree to split equally the costs and expenses of the arbitrator/AAA.
      Homespree may elect, in its sole discretion, not to use arbitration for any individual claim that you properly
      file and pursue in court. If arbitration is chosen by Homespree with respect to a claim, you will not have the
      right to litigate the claim in court, have a jury trial, or engage in pre-arbitration discovery except as provided
      for in the AAA code of procedures. Further, you will not have the right to participate in any class of claimants
      pertaining to any claim subject to arbitration. Other rights that you would have if you went to court may also not
      be available in arbitration.
    %h2#16indemnification 16. Indemnification
    %p
      The Consumer agrees to indemnify, defend and hold harmless Homespree, its parents, subsidiaries, affiliates,
      officers, agents, and other partners and employees, from and against any loss, liability, claim, demand or suit,
      including reasonable attorney's fees, resulting from or arising out of any act or omission of Consumer, except
      to the extent such loss is caused by Homespree’s sole negligence.
    %h2#17nothirdpartybeneficiaries 17. No Third Party Beneficiaries
    %p
      Except as otherwise set forth expressly herein, nothing contained in this Agreement, express or implied, is
      intended to confer upon any person or entity, other than Homespree and the Consumer, any benefit, right or remedy.
    %h2#18survival 18. Survival
    %p
      The following provisions shall survive termination of the Agreement: No Warranty or Endorsement, Interactions and
      Disputes with Contractors, Release, No Warranties, Limitations of Liability, all provisions in the Content on
      Website section, Disclaimers, Dispute Resolution, Indemnification, No Third Party Beneficiaries, and Survival.