- content_for :static_page do

  = render partial: "static_pages/partials/contractor_sidenav"

  #faqs.span8.descriptiontext

    %h1.block-underline Why use Homespree?
    %h3 Customized
    %p
      Get referrals from homeowners in your area for services you provide
    %h3 Qulaified
    %p
      You will only be contacted for appointments by homeowners who have agreed to an estimate based
      on pricing guidlines you set.
    %h3 Effective
    %p
      We're exclusive. We only sign up a few of the best service professionals in each geographic location to ensure you get
      the value you deserve

    %h1.block-underline How does it work?
    %h3 Create your profile
    %p
      Make your business stand out with a beautiful Homespree profile that shows homeowners how you are unique.

    %h3 Set up your pricing
    %p
      Use our online tool to enter your pricing guidlines. This way we only match you with work in your price range.
    %h3 Homeowners request an appointment
    %p
      Only homeowners who have agreed to your estimate and have reviewed your profile are able to request an appointment

    %br
    #createprofilebutton
      = link_to "Create a free profile", new_contractor_registration_path, class: 'btn'