- content_for :static_page do
  = render "static_pages/partials/sidenav"
  .span8.descriptiontext
    %h1.block-underline-full Homespree for Contractors
    %p
      So you just completed a full basement renovation. Unfortunately, you don’t have any new jobs lined up.
      Situations
      like this are typically very stressful. How will you pay your crew? How long until a new job comes along? Should
      you spend more money on marketing? This may seem daunting, but Homespree can help.
    %p
      With Homespree, you don’t need to rely solely on broad advertising to acquire new customers. Instead of waiting
      for new customers to approach you, Homespree allows you to engage homeowners who are actively seeking a
      contractor.
    %br/
    %h1.block-underline Getting the Mobile app
    .clearfix.description-block
      %p
        The Homespree mobile app will be available in the App Store for iPhone and iPad and the Google Play Store for
        Android devices beginning in mid-2013.
      %img{:src => "/assets/app_store_logo.png.png", :style => "float:left; padding: 20px"}/
      %img{:src => "/assets/google_play_logo.png", :style => "padding: 20px"}/
    .clearfix.description-block
      %h3.block-underline-small Submitting an estimate
      %img.iphone{:src => "/assets/leads_1.png", :style => "float:left; padding-right: 20px;"}/
      %p
        After registering as a new user, you will be ready to submit your first bid. You can filter for projects
        based on type, distance, and timeline.
      %p
        Make sure to scroll through all photos and details to get the full sense of the work. If you require more
        details, there is an option to contact the homeowner.
      %p If the homeowner has chosen you for the job, you will receive a message via email and the app on your device.
    .clearfix.description-block
      %h3.block-underline-small Ratings and Reviews
      %img.iphone{:src => "/assets/view_profile_1.png", :style => "float:right; padding-left: 20px;"}/
      %p Homeowners will hire a contractor based on several factors, including price, ratings and reviews. To improve your chances of being selected, ensure that you have an adequate number of quality reviews. Your portfolio is also very important as it is proof of your service quality.
    .clearfix.description-block
      %h3.block-underline-small Pricing
      %p
        Homespree is a free service for homeowners. Homespree charges contractors a small commission on the price of the jobs they are awarded. It is always free to join Homespree and submit estimates. Payment will only be collected if the job is awarded to you. The commission is applied to the agreed upon price of the estimate.
    %h2.block-underline-small Feedback?
    %p
      We'd love to hear from you. Click
      %a{:href => "http://www.surveymonkey.com/s/RPH239T"} here
      to take a quick
      survey.
