- content_for :static_page do
  .span10.offset1.descriptiontext
    %h1.block-underline We would love to hear from you!
    %p
      Questions? Comments? Just want to say hi? We're real people, and we'd love to help however we can. If you have any issues requesting a service provider, please let us assist you.

    %h3
      Call:
      %a{:href=>"tel://855-798-6007"} 855-798-6007
    %br
    %h3
      Email:
      %a{:href=>"mailto:youremailaddress"} support@myhomespree.com
    %br
    %iframe{:allowtransparency => "true", :frameborder => "0", :height => "514", :scrolling => "no", :src => "http://homespree.wufoo.com/embed/m7x3z9/", :style => "width:100%;border:none"}
      \&lt;a
      href="http://homespree.wufoo.com/forms/m7x3z9/"&gt;Fill out my Wufoo form!&lt;/a&gt;
