- content_for :static_page do
  = render "static_pages/partials/sidenav"
  .span8.descriptiontext
    %iframe{:allowtransparency => "true", :frameborder => "0", :height => "514", :scrolling => "no", :src => "http://homespree.wufoo.com/embed/m7x3z9/", :style => "width:100%;border:none"}
      \&lt;a
      href="http://homespree.wufoo.com/forms/m7x3z9/"&gt;Fill out my Wufoo form!&lt;/a&gt;
