- content_for :static_page do

  = render partial: "static_pages/partials/contractor_sidenav"

  .span8.descriptiontext

    %h1.block-underline Company
    .intro
      %img{:src => "/assets/favicon.png"}/
      %p
        Most homeowners rely on friendly referrals to hire contractors. Others have visited review sites or online lead generators to connect with contractors. While this is helpful, there are too many
        unknowns for homeowners to feel confident throughout the process
      %p
        A typical homeowner may ask himself or herself, 'Am I paying a fair price?,''How do I know this contractor is going to do good work?,''Will he walk away with my money before the job is complete?.'
      %p
        At Homespree, we want to put those concerns to rest. We offer a convenient online concierge-type service to hire a quality contractor, compare prices and manage payment.
      %p
        Our job is to help you navigate through the difficult process of completing a renovation. We strive to make the experience as easy and stress-free as possible.