- content_for :static_page do

  = render partial: "static_pages/partials/sidenav"

  #faqs.span8.descriptiontext

    %h1.block-underline Frequently Asked Questions
    %br

    =render "Content/faqs"

