- content_for :static_page do

  = render partial: "static_pages/partials/sidenav"

  #faqs.span8.descriptiontext

    %h1.block-underline Frequently Asked Questions

    %h1 For Homeowners
    %h5
      %b What is Homespree?
    %p
      We are an online service that helps homeowners connect with quality contractors, get estimates, schedule projects and
      manage payments.
    %h5
      %b How much does Homespree cost?
    %p
      Homespree is a free service for homeowners. Your business is valuable to the contractors in our network. You will pay
      the contractor for their services; we negotiate referral rates with those contractors.
    %h5
      %b What renovations can Homespree help me with?
    %p
      We currently service painting, however we have plans to expand to many other areas of home improvement in the coming
      months.
    %h5
      %b Which locations does Homespree service?
    %p
      We currently service requests in the state of New Jersey, however, we have plans to expand to the broader East Coast
      in the coming months.
    %h5
      %b I can’t capture all the details in the online form. What should I do?
    %p
      Don’t panic! We know that some homeowners just aren’t certain of all the details their request requires. Give us a
      call at 855-798-6007 or email us at founders@myhomespree.com and we can walk you through the process.
    %h5
      %b Is the approximate estimate the final price I will pay?
    %p
      It’s possible. The approximate estimate you choose is valid based on the criteria you submitted to Homespree. However,
      there may be undisclosed details that the contractor uncovers when he or she visits the project in-person. If that is
      the case, you will need to confirm the price adjustment before the contractor begins work.
    %h5
      %b Who are the contractors in your network?
    %p
      With over 100,000 contractors in NJ, it can get a bit overwhelming finding the right one. So we’ve established
      partnerships with a few hundred we think are fantastic at what they do.
    %h1.block-underline For Contractors
    %h5
      %b How can I join Homespree?
    %p
      We’re always looking to add talented contractors to our network. If you’d like to apply, please submit an application 
      here.
    %h5
      %b Why should I join Homespree?
    %p
      Our goal is to help you grow your business by making it easy to connect with local homeowners interested in your
      services. We are very different from lead generators you may have used in the past. Homeowners can only engage you on
      Homespree after agreeing to an approximate estimate based on your pricing guidelines. This ensures that you don’t
      waste time or money bidding on unqualified leads.
    %h5
      %b How much does Homespree cost?
    %p
      You are only charged a flat 8% commission for service requests booked through Homespree. There are no monthly
      subscriptions or hidden fees. Our product is straightforward and so is our pricing.
    %h5
      %b How do I become a Homespree contractor?
    %p
      You can apply to become a Homespree approved contractor by signing up here. We will review your application to
      determine whether your company is the right fit for Homespree’s network.
    %h5
      %b How do I get matched to a service request?
    %p
      When a homeowner submits a request, we capture which type of service they need and where they need it. Based on your
      company’s location, service radius, services provided, and appointment status we match you with homeowners whose
      request is aligned.
    %h5
      %b How do I set up pricing?
    %p
      One of the biggest benefits of Homespree is that we help you set guidelines so you can automatically provide
      approximate estimates to homeowners. We ask homeowners for very specific information when they request a project. We
      convert this information into required labor hours and use the hourly rate you set to provide instant estimates.
      Within your account settings, we provide several project request examples and allow you to manipulate the hourly rate
      until you are satisfied with the results.
    %h5
      %b Is my estimate binding?
    %p
      No, the approximate estimate that is presented to homeowners when they submit a service request is not binding. The
      estimate is an approximation of the required cost of labor, but must be confirmed by both the contractor and homeowner
      in-person before the project can begin.
    %p
      However, we have designed our request forms to avoid surprises down the road. If the details that the homeowner
      submits are verified to be accurate upon your in-person inspection, our terms dictate that you cannot change the
      price. However, if the details are inaccurate, you and the homeowner must agree to the necessary adjustments before
      the price can be altered.
    %h5
      %b What happens if I am unavailable to handle a requested appointment?
    %p
      By registering as a Contractor on Homespree, you agree to maintain your appointment status at all times. You can
      change this status at any time within your account settings. This information helps us match you with service requests
      that you can handle given your schedule.


