- content_for :static_page do

  = render partial: "static_pages/partials/sidenav"

  #faqs.span8.descriptiontext

    %h1.block-underline Frequently Asked Questions
    %br

    %h2 For Homeowners

    %h5 What is Homespree?
    %p
      We are an online service for homeowners. We help homeowners connect with quality contractors, get estimates, schedule projects and manage payments.

    %h5 How much does Homespree cost?
    %p
      Homespree is a free service for homeowners. Your business is valuable to the contractors in our network. You will pay the contractor for their services; we negotiate referral rates with those contractors.

    %h5 What type of renovations can Homespree help me with?
    %p
      We currently service painting, however we have plans to expand to many other areas of home improvement in the coming months.

    %h5 I can’t capture all the details in the online form. What should I do?
    %p Don’t panic! We know that some homeowners just aren’t certain of all the details their request requires. Give us a call at 908.461.5094 or email us at founders@myhomespree.com and we can walk you through the process.

    %h5 Is the instant quote the final price I will pay?
    %p It’s possible. The instant quote you choose is valid based on the criteria you submitted to Homespree. However, there may be undisclosed details that the contractor uncovers when he or she visits the project in-person. If that is the case, you will need to confirm the price adjustment before the contractor begins work.

    %h5 Who are the contractors in your network?
    %p
      With over 100,000 contractors in NJ, it can get a bit overwhelming finding the right one. So we’ve established partnerships with around 100 we think are fantastic at what they do.

    %br
    %h2 For Contractors
    %br

    %h5 How can I join Homespree?
    We’re always looking to add talented contractors to our network. If you’d like to apply, please submit an application
    = link_to "here", new_contractor_registration_path