- content_for :static_page do

  = render partial: "static_pages/partials/sidenav"

  #faqs.span8.descriptiontext
    = render partial: "/Content/for_professionals"

    #createprofilebutton
      = link_to "Create a free profile", new_contractor_registration_path, class: 'btn btn-success'