%iframe{:frameborder => "0", :height => "500", :marginheight => "0", :marginwidth => "0",
 :src => "https://docs.google.com/forms/d/1c9MqKch5RwPChudeX68OS5L7EUuwUS_dsNfai8Nv-Xg/viewform?embedded=true",
  :width => "100%"} Loading...