<% content_for :static_page do %>

  <%= render "static_pages/partials/sidenav" %>

  <div class="span8 descriptiontext" xmlns="http://www.w3.org/1999/html">
    <div class="intro">
      <h1 class="block-underline-full">Homespree makes life easier for homeowners</h1>

      <p><strong>So it’s 2013 and your living room has wallpaper that was installed in 1982. You start thinking that it
        might
        just be time for an update. But how do you begin?</strong></p>

      <p>Traditionally, you may look in the phonebook for the numbers of several painters. You call up a list of 5 and
        have them come out to give you an estimate. Unfortunately, most will probably arrive late or not show up at
        all.</p>

      <p>This is how Homespree can help. Nothing is more convenient when it comes to requesting home
        improvement estimates.</p>

    </div>


    <div class="clearfix description-block">
      <h3 class="block-underline-small">Download the Mobile App</h3>

      <p>The Homespree mobile app will be available in the App Store for iPhone and iPad and the Google Play Store for
        Android devices beginning in mid-2013.</p>

      <img style="float:left; padding: 20px" src="/assets/applelogo1.png">
      <img style="padding: 20px" src="/assets/googleplay4.png">
    </div>

    <div class="clearfix description-block">
      <h3 class="block-underline-small">Request an estimate</h3>

      <img class="iphone" style="float:left; padding-right: 20px; margin-top: 15px" src="/assets/iphone_camera.png">

      <p>Homespree is designed to make the process of receiving home improvement estimates easy and convenient.
        After registering as a new user, you are ready to upload your first request.
        Start by selecting which type of project you need completed.
      </p>

      <p>Next, you will be prompted to take several photos of your project using the camera on your device. A few additional details and your timeline are all that’s left before you’re ready to submit your request.
      </p>

    </div>


    <div class="clearfix description-block">
      <h3 class="block-underline-small">Review bids from local contractors</h3>
      <img class="iphone" style="float:right; padding-left: 20px;" src="/assets/iphone_bids.png">

      <p>After you submit your project request, you will be notified by email and through the app itself when a contractor enters a bid. After the period to submit bids has ended (based on the timeline you specify), you can review all the estimates using several built-in filters. These filters include price, contractor rating, and # of contractor reviews.</p>
    </div>

    <div class="clearfix description-block">
      <h3 class="block-underline-small">Choose the perfect contractor for your needs</h3>
      <img class="iphone" style="float:left; padding-right: 20px;" src="/assets/iphone_profile.png">

      <p>Homespree provides you with the right information to make a more informed decision.</p>

      <p>Please note that the estimates provided through Homespree are only valid based on the disclosed details. Any undisclosed details or changes to the request may result in an adjustment to final price. It is recommended that you meet with the contractor for a final walk through before making any payments.
      </p>
    </div>


    <h2 class="block-underline-small">Feedback?</h2>

    <p>We'd love to hear from you. Click <a href="http://www.surveymonkey.com/s/RPH239T">here</a> to take a quick
      survey.</p>

  </div>

<% end %>