- content_for :static_page do

  = render partial: "static_pages/partials/sidenav"

  #faqs.span8.descriptiontext

    %h1.block-underline Take the stress out of home improvement
    %p
      Do you need some work done around your home? Let us help you hire the right contractor at the right price. We enable you to easily request estimates, schedule the job and even pay the contractor.

    %h1.block-underline Step 1 - Request an estimate
    %p
      Instead of waiting around in-person for contractors to show up and provide estimates, we enable you to request mutiple bids online at your own convenience. And we give you a few options!
    %p
      %b 1) Get 3 instant estimates using our online request form
      %br
      This option is best if you know all the details of your project (e.g. square footage, current finish, etc). Once you fill out our standard online forms, we'll immediately provide you 3 bids from quality local contractors.
    %p
      %b 2) Submit photos and a description of you project
      %br
      Lost your tape measure or are uncetain about a few details? This option is for you. Simply give us a brief description of the services you require and upload a few photos. We'll then create a project request
      for you and provide 3 bids from quality local contractors in our network.
    %p
      %b 3) Call, chat or email us
      %br
      Feeling a little helpless? That's ok! Let us offer you live assistance. You can give us a call at 908-461-5094, chat with us from the tab on the bottom of your screen, or email us at support@myhomespree.com. We'll
      talk to you about your project needs and capture all the details we require to provide 3 bids from quality local contractors.
    %h1.block-underline Step 2 - Select a contractor
    %p
      We've done quite a bit of work to find the best contractors in your area and assemble profiles to show them off. Upon receiving the 3 estimates, be sure to carefully review each contractor's profile. Portfolios, reviews, length of service and other details
      provide information to make a better hire.
    %h1.block-underline Step 3 - Schedule the job
    %p
      Great! You've selected a contractor to achieve a more safe, comfortable and beautiful home.
    %p
      The next step requires you to select a date and time for the contractor to begin work. If you'd like to get a better feel for the contractor before beginning the project, schedule a meeting using our
      scheduling tool. To schedule a job, you will be required to create an account.
    %h1.block-underline Step 4 - Pay, enjoy and repeat
    %p
      Upon completion of your job, be sure to let your contractor know if there are any outstanding items you would like him or her to address. Your satisfaction is our top priority. We only charge you and pay the contractor when you
      are 100% happy with the work.
    %p
      We hope your enjoy the improvements our contractors have made in your home. Our goal is to make home improvement enjoyable and easy to purchase. Be sure to use Homespree for any future home improvement projects.