- content_for :static_page do
  .span10.offset1.descriptiontext
    %iframe{:allowtransparency => "true", :frameborder => "0", :height => "697", :scrolling => "no", :src => "http://homespree.wufoo.com/embed/z7x3p3/", :style => "width:100%;border:none"}
      %a{:href => "http://homespree.wufoo.com/forms/z7x3p3/"} Fill out my Wufoo form!
