- content_for :static_page do

  .span10.offset1.descriptiontext

    %h1.block-underline Team
    .description-block.clearfix
      %h3 Kyle Gesuelli
      %h7.block-underline-small Co-founder / CEO
      %p
        %img{:src => "/assets/aboutus/kyleprofile3.png", :style => "float:left; padding-right: 20px"}
        Kyle graduated Magna Cum Laude from The College of New Jersey in 2011 with a BS in Finance and Economics.
        After college, he worked as a Financial Analyst at Bank of America Merrill Lynch. Kyle has always had a
        passion for home improvement; for several years he operated a succesful residential painting company.
        / He got his first taste of the startup world as a business development intern at <a href="http://www.hometalk.com">Hometalk</a>, a social hub for home improvement.

    .description-block.clearfix
      %h3 Joe Gesualdo
      %h7.block-underline-small Co-founder / COO
      %p
        %img{:src => "/assets/aboutus/joeprofileimage2.png", :style => "float:left; padding-right: 20px; padding-top: 10px; padding-bottom: 30px;"}/
        Prior to starting Homespree,
        Joe worked as a valuation associate at PwC advising
        corporate clients and private equity firms on complex valuation matters. He has always had a passion for
        entrepreneurship. Joe is on a mission to disrupt stagnant industries with technology.

    .description-block.clearfix
      %h3 Anthony Erlinger
      %h7.block-underline-small Co-founder / CTO
      %p
        %img{:src => "/assets/aboutus/anthonyprofileimage.png", :style => "float:left; padding-right: 20px; padding-top: 10px; padding-bottom: 30px;"}/
        Anthony is a Ph.D. candidate in Electrical Engineering at Columbia University, an NSF
        Fellow, a GRC fellow and co-author of two patents and over ten peer-reviewed publications. His passion for development enables Homespree to create seamless online processes for home improvement.