.row
  .span6
    .register-info-wraper
      #register-info
        %h1 Homespree...
        %ul{:dir => "rtl"}
          %li Saves you time
          %li Saves you money
          %li Saves you stress
  .span6
    #register-wraper
      %form#register-form.form
        %legend
          Sign up for
          %span.blue Homespree
        .body
          -#.control-group.control-inline
          -#  %label{:for => "name"} First name
          -#  %input.input-medium{:name => "name", :type => "text"}/
          -#
          -#.control-group.control-inline
          -#  %label{:for => "surname"} Last name
          -#  %input.input-medium{:name => "surname", :type => "text"}/

          %label E-mail
          %input.input-huge{:type => "text"}/

          %label Business name or title
          %input.input-huge{:type => "text"}/

          %label Password
          %input.input-huge{:type => "text"}/
        .footer
          %button.btn.btn-success{:type => "submit"} Register

%footer.white.navbar-fixed-bottom
  Already have an account?
  =link_to "Sign in", new_contractor_session_path, class: "btn btn-black"

= render "contractors/shared/links"