-# Info prompts for Contractor Profile
-#===========================================================================
.row-fluid
  .incomplete_sections
    .container
      %h3 Hey! It looks like there are a few incomplete sections in your profile.
      %p
        For the best chance of success in finding leads we recommend you complete the following:
        %span.incomplete_attributes
      .entry
        %span.offset1
          %strong What's your mobile phone?
        = text_field_tag :mobile
        = link_to "Update", "javascript:void(0)", class: "btn btn-success"
        = link_to "Skip &raquo".html_safe, "javascript:void(0)", class: "btn btn-info"
        %small.ignore_this= link_to "Ignore this message", "javascript:void(0)", class: "pull-right"
      - contractor_presenter.incomplete_sections
