%li.price.primary-color-bg
  #contractor_logo{style:"position: relative;"}
    =image_tag "http://placehold.it/350x200"
    .on-edit
      =link_to "Upload", "#", class: "btn btn-mini btn-success", style: "position: absolute; top: 5px, left: 5px"

  %span= @address.city
  %span= @address.state
  %span.stars5