
=image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@address.latitude}%2C#{@address.longitude}", id: "map"

-#.no-edit
-#  .address.line1
-#    = best_in_place @address, :line1
-#    = render "contractors/profiles/edit_link"
-#
-#  .address.line2
-#    = best_in_place @address, :line2
-#
-#  %span.address
-#    = best_in_place @address, :city
-#
-#  %span.address
-#    = best_in_place @address, :state

.on-edit
  = simple_form_for [@contractor, @address], method: :put, class: "intro", remote: true do |f|
    .address.line1
      =f.input :line1, placeholder: "Address Line 1", label: "Street"

    %span.address
      =f.input :city, placeholder: @location.city || @address.city, label: "City"

    .address
      =f.input :state, collection: us_states, label: "State"

    %span.address
      =f.input :zipcode, maxlength: 5, placeholder: "Zipcode", label: "Zipcode"

    = f.submit "Update Location", class: "btn custom-btn btn-small btn-info"