- if own_profile?
  %p
    %strong Protip:
    %em Drag services below based on their relevance.

-# List of specialties which have been claimed by this contractor ----------------------------------------------------
- sortable_tag = "contractor_specialties#{"_disabled" unless own_profile?}"
= content_tag :ol, id: sortable_tag, class: "specialties", data: { "update-url" => "/contractors/#{id}/specialties/sort" } do
  =render specialties

-# List of "available" pecialties which have not yet been selected:  --------------------------------------------------
- if own_profile?
  %h3{style: "font-size: 16px;"} Add more services to your profile
  %hr{style: "margin-top: 5px; margin-bottom: 5px"}

  %ul.specialties#available_specialties
    - available_specialties = Specialty.painting_types.values - specialties.map(&:name)
    - available_specialties.each do |specialty_name|
      = render "specialties/available_specialty", specialty_name: specialty_name

