<footer class="site-footer" role="contentinfo">
  <div class="container">
    <p>
      <a class="twitter-share-button"
         href="https://twitter.com/share"
         data-count="none"
         data-lang="en"
         data-via="h5bp"
         data-size="large"
         data-text="Mobile Boilerplate: A best practice baseline for your mobile web app"
         data-url="http://html5boilerplate.com/mobile/">Tweet</a>
      &nbsp;
      <a class="twitter-follow-button"
         href="https://twitter.com/h5bp"
         data-show-count="false"
         data-lang="en"
         data-size="large">Follow @Homespree</a>
    </p>

  </div>
</footer>