@import "global/palette.css.scss";

$shadow: 0px 0 8px 0 rgba(0, 0, 0, 0.5);

.secondary {

  .container {

    border-radius: 15px;
    box-shadow: $shadow;
    background-color: white;
    padding-bottom: 2em;
    padding-top: 60px;
  }

  a {
    color: $homespree_blue;
    text-decoration: none;

    &:hover {
      color: $homespree_light;
      text-decoration: underline;
    }
  }

  form {
    small {
      margin-left: 1em;
      a {
        text-decoration: none;
        border-bottom:1px dotted;

        &:hover {
          text-decoration: none;
          border-bottom: 1px dotted $homespree_light;
        }
      }
    }
  }


  iframe {
    margin-top: 10px;
  }

  .bs-docs-sidebar {
    margin-top: 30px;
    color: black;
  }

  a:visited {
    text-decoration: none;
  }

  .nav-stacked {
    color: black;
  }

  .description-block {
    margin-bottom: 2em;

    img {
      padding: 10px;
    }

    .iphone {
      width: 145px;
      height: 304px;
    }

    p {
      margin-top: 1em;
      text-align: justify;
    }

  }

  .intro {
    margin-bottom: 3em;

    img {
      float: right;
      padding: 0 0 0 20px;
    }

    p {
      display: block;
      text-align: justify;
    }
  }

}
