$shadow: 0px 0 8px 0 rgba(0, 0, 0, 0.5);

.bs-docs-sidebar{
  margin-top: 100px;
  color: black;
}

.nav-stacked{
  color: black;
}

.secondary {
  .container {
    border-radius: 15px;
    box-shadow: $shadow;
    background-color: white;
  }

  a{
    text-decoration: none;
 
  }
  a:visited{
    text-decoration: none;
  }

  h2{

  }
  h3{
    color: gray;
    text-align: left;
  }
}

.active{

}

.descriptiontext{
  margin-top: 85px;
}