<div class="container">
  <header class="site-header cf" role="banner">
    <div class="site-logo">
      <span class="star">&#x2605;</span> Homespree <span class="star">&#x2605;</span>
    </div>

    <h2>I am a...</h2>
    <ul class="site-nav inline-block-list">
      <li><a href="#"
             data-ga-category="Outbound links"
             data-ga-action="Nav click"
             data-ga-label="Source code">Homeowner</a></li>
      <li><a href="#"
             data-ga-category="Outbound links"
             data-ga-action="Nav click"
             data-ga-label="Docs">Contractor</a></li>
      <li><a href="#"
             data-ga-category="Outbound links"
             data-ga-action="Nav click"
             data-ga-label="Other projects">MILF</a></li>
    </ul>
  </header>

  <div class="site-promo">
    <h1>Pitch description hre</h1>
    <p class="description">Homespree saves you <strong>time</strong>, <strong>money</strong>, and <strong>effort</strong>.</p>

    <div class="cta-option">
      <a class="btn-download"
         href="https://github.com/h5bp/mobile-boilerplate/zipball/v4.1.0"
         data-ga-category="Download"
         data-ga-action="Download - top"
         data-ga-label="v4.1.0">
        <strong>Download iPhone App</strong>
        <span class="version">v1.0 Beta</span>
      </a>
      <a class="last-update" href="https://github.com/h5bp/mobile-boilerplate/tree/v4.1.0/CHANGELOG.md">
        View desktop version
      </a>
    </div>
  </div>
</div>

<div class="site-content">
  <div class="container">
    <h2>Stress-free Home Improvement</h2>

    <div class="grid">
      <div class="grid-cell">
        <h3>Damn I'm fucking tired</h3>
        <p>A, B, C. Easy as 1, 2, 3... As simple as, do re mi. A B C, 1 2 3
          Baby, you and me girl</p>
      </div>

      <div class="grid-cell">
        <h3>Document work</h3>
        <p> description </p>
      </div>

      <div class="grid-cell">
        <h3>Submit bids</h3>
        <p> description </p>
      </div>

      <div class="grid-cell">
        <h3>Shop for contractors</h3>
        <p> description </p>
      </div>
    </div>

  </div>
</div>

<aside class="aside">
  <div class="container">
    <ul class="inline-block-list">
      <li><a href="https://github.com/h5bp/mobile-boilerplate/blob/master/doc/contribute.md#reporting-issues"
             data-ga-category="Outbound links"
             data-ga-action="Footer click"
             data-ga-label="Report issues">
        <img class="icon" src="http://www.google.com/s2/favicons?domain=github.com" alt="">
        Report issues
      </a></li>
      <li><a href="https://github.com/h5bp/mobile-boilerplate/wiki"
             data-ga-category="Outbound links"
             data-ga-action="Footer click"
             data-ga-label="Read the wiki">
        <img class="icon" src="http://www.google.com/s2/favicons?domain=github.com" alt="">
        Contact Us
      </a></li>
      <li><a href="http://stackoverflow.com/questions/tagged/mobile"
             data-ga-category="Outbound links"
             data-ga-action="Footer click"
             data-ga-label="Help on Stack Overflow">
        <img class="icon" src="http://www.google.com/s2/favicons?domain=stackoverflow.com" alt="">
        jobs
      </a></li>
    </ul>
  </div>
</aside>
