- content_for :dashboard do

  %h1.block-underline My Inbox

  %p
    %em No messages found
  %br
  -#%ul= render mailbox.inbox
  %h1.block-underline Sent messages

  %p
    %em No messages found
  %br
  -#%ul= render mailbox.sentbox
  %h1.block-underline Trash

  %p
    %em No messages found
  %br
  -#%ul= render mailbox.trash

  -#= link_to 'Start Conversation', :new_conversation