%footer.white.navbar-fixed-bottom
  Don't have an account yet?
  =link_to "Sign Up", new_contractor_registration_path, class: "btn btn-black"

#login-wraper
  = simple_form_for resource, :as => resource_name, :url => contractor_session_path(resource), class: "form login-form" do |f|
    %legend
      %span.blue Contractor Sign In
    .body
      = f.input :email, placeholder: 'user@example.com'
      = f.input :password
      = f.button :submit, "Sign In", class: "btn btn-success"
