#login-wraper
  -#%h1 Create contractor profile

  = simple_form_for resource, :as => resource_name, :url => session_path(resource_name), class: "form login-form" do |f|
    %legend
      Contractor sign in
    .body
      = f.input :email
      = f.input :password
      = f.button :submit, text: "Sign In", class: "btn btn-success"

%footer.white.navbar-fixed-bottom
  Don't have an account yet?
  =link_to "Sign Up", new_contractor_registration_path, class: "btn btn-black"