#login-wraper
  -#%h1 Create contractor profile

  = simple_form_for resource, :as => resource_name, :url => session_path(resource_name), class: "form login-form" do |f|
    %legend
      Sign up for
      %span.blue Homespree
    .body
      = f.input :email
      = f.input :password
      = f.button :submit, text: "Login", class: "btn btn-success"

%footer.white.navbar-fixed-bottom
  Don't have an account yet?
  =link_to "Sign up", new_contractor_registration_path, class: "btn btn-black"


  -# TODO:  --------------------------------------------------------------------------------------------------
  -# Previous style -- disabled for now
  -# TODO:  --------------------------------------------------------------------------------------------------

  -#%form.form.login-form
  -#  %legend
  -#    Sign in to
  -#    %span.blue Homespree
  -#  .body
  -#    %label Email
  -#    %input{:type => "text"}/
  -#    %label Password
  -#    %input{:type => "password"}/
  -#  .footer
  -#    %label.checkbox.inline
  -#      %input#inlineCheckbox1{:type => "checkbox", :value => "option1"}/
  -#      Remember me
  -#    %button.btn.btn-success{:type => "submit"} Login