- content_for :project_wizard do
  %h1
    = @project.project_type

  = select_tag "Service Types", options_for_select(ServiceType.all)
  = select_tag "Project Types", options_for_select(ProjectType.all)

  = @project.complete_form

  -#= render partial: 'step', locals: { title: 'Request', step_number: '1', project: @project }