- content_for :project_wizard do
  %h1
    = @project.project_type

  = @project.complete_form
  -#- @project.fields.each do |field|
  -#  %h5= field.name
  -#  %p= field.field_type
  -#  %p= field.required
  -#  %p= field.field_data if field.field_data.present?

  -#= form_for @project do |f|
  -#  = @project.show_fields(f)

  -#= render partial: 'step', locals: { title: 'Request', step_number: '1', project: @project }