- content_for :project_wizard do
  %h1 Review Estimates

  %hr
  .row
    = render partial: 'contractor', collection: @contractors
  %hr

  = link_to 'back'
  = link_to 'next', next_wizard_path, class: 'pull-right'
  