- content_for :project_wizard do
  %h1 Review Estimates

  %hr
  .row
    = render partial: 'contractor', collection: @contractors
  %hr


  -#17257
  -#19072
  -#07801
  -#10583
  -#19131
  -#07070
  -#14624
  -#10027
  -#11109
  -#18201
  -#11735
  -#07675
  -#06482
  -#10977
  -#11377
  -#07748
  -#18045
  -#15066
  -#07748
  -#19701
  -#19083
  -#21755
  -#07092
  -#07065
  -#08753
  -#08053
  -#19382
  -#17110
  -#18944
  -#06880
  -#11219
  -#11510