.conversations
  = render @conversations
  = render partial: 'layouts/more',      |
     locals: {                           |
       path: users_conversations_path,         |
       per_page: 9,                      |
       total: @conversations.total_count |
    }                                    |
