%section.footer-credits
  .container
    %ul.clearfix
      %li © 2013 Your Company Name. All rights reserved.
      %li
        %a{:href => "#"} Link
      %li
        %a{:href => "#"} Link
%span.backToTop
  %a{:href => "#top"}
    %i.e-icon-up-open-big