%footer.footer.clearfix
  .container
    .row-fluid
      .span3
        %section
          =image_tag "/assets/homespree_transparent.png"

        %section
          %h4 Contact Us
          %p
            New York
            %br/
            New York, NY 10027
            %br/
            %strong phone:
            %a.tele{:href => "tel:8135551234"} 661.555.1234
            %br/
            %span.overflow
              %strong email:
              %a{:href => "mailto:support@myhomespree.com"} support@myhomespree.com

        %section
          %h4 Follow Us
          %ul.social
            %li
              .social.clearfix
                %a.fc-webicon.facebook.round{:href => "#", :title => "Facebook"}
                %a.fc-webicon.twitter.round{:href => "#", :title => "Twitter"}
                %a.fc-webicon.linkedin.round{:href => "#", :title => "Skype"}
                %a.fc-webicon.pinterest.round{:href => "#", :title => "pinterest"}

      .span5
        %section
          %h4 Stay Updated
          %p Sign up for the Homespree newsletter. We won't share your email address.
          %form{:action => "", :method => "post"}
            .input-append.append-fix.custom-append.row-fluid
              %input.span8{:name => "email", :placeholder => "Email Address", :type => "email"}/
              %button.btn.btn-primary Sign Up

        %section
          %h4 Get Inspired
          %ul.image-widget.clearfix
            %li
              %a{:href => "#"}
                %img{:alt => "", :src => "http://placehold.it/50x50"}/
            %li
              %a{:href => "#"}
                %img{:alt => "", :src => "http://placehold.it/50x50"}/
            %li
              %a{:href => "#"}
                %img{:alt => "", :src => "http://placehold.it/50x50"}/
            %li
              %a{:href => "#"}
                %img{:alt => "", :src => "http://placehold.it/50x50"}/
            %li
              %a{:href => "#"}
                %img{:alt => "", :src => "http://placehold.it/50x50"}/
            %li
              %a{:href => "#"}
                %img{:alt => "", :src => "http://placehold.it/50x50"}/
            %li
              %a{:href => "#"}
                %img{:alt => "", :src => "http://placehold.it/50x50"}/
            %li
              %a{:href => "#"}
                %img{:alt => "", :src => "http://placehold.it/50x50"}/
            %li
              %a{:href => "#"}
                %img{:alt => "", :src => "http://placehold.it/50x50"}/
            %li
              %a{:href => "#"}
                %img{:alt => "", :src => "http://placehold.it/50x50"}/
            %li
              %a{:href => "#"}
                %img{:alt => "", :src => "http://placehold.it/50x50"}/
            %li
              %a{:href => "#"}
                %img{:alt => "", :src => "http://placehold.it/50x50"}/

      .span4
        %section
          %h4 About Homespree
          %p
            Finding a trustworthy contractor at a reasonable price is usually quite a challenge. However, Homespree lets you quickly upload project requests online or from your mobile device and receive competitive estimates from quality local pros.
            %span.small © Homespree

%span.backToTop
  %a{:href => "#top"}
    %i.e-icon-up-open-big

:javascript
  $(document).ready(function(evt) {
    console.log("loading carousel");
    $('.carousel').carousel();
  });
