%section.footer-credits
  .container
    %ul.clearfix

      %li
        =link_to "Blog", "http://homespree.wordpress.com/"
      %li
        =link_to "Jobs", jobs_path

      %li.logo-center
        =link_to root_path do
          =image_tag asset_path("favicon.png")

      %li
        =link_to "Contact", contact_path
      %li
        =link_to "About", about_path

- if Rails.env.development?
  %a#show_debug
    Show/Hide Debug Info

%span.backToTop
  %a{:href => "#top"}
    %i.e-icon-up-open-big

- if Rails.env.development?

  = link_to "ajax", test_ajax_path, remote: true

  .debug
    = debug(params)
    = debug(cookies)