%section.footer-credits
  .container{style: "position: relative;"}
    %ul.clearfix

      %li
        =link_to "Team", team_path
      %li
        =link_to "Jobs", jobs_path

      %li.logo-center
        =link_to root_path do
          =image_tag asset_path("favicon.png")

      %li
        =link_to "Blog", "http://homespree.wordpress.com/"
      %li
        =link_to "Contact", contact_path
      .qualitypro
        = link_to "Are you a quality pro?", new_contractor_registration_path, class: "pull_right", style: "position: absolute; right: 50px; top: 50px; color: white;"


- if Rails.env.development?
  %a#show_debug
    Show/Hide Debug Info

%span.backToTop
  %a{:href => "#top"}
    %i.e-icon-up-open-big

- if Rails.env.development?

  .debug
    = debug(params)
    = debug(cookies)