%section.footer-credits
  .container
    %ul.clearfix
      %li © 2013 Homespree. All rights reserved.
      %li
        %a{:href => "#"} About
      %li
        %a{:href => "#"} Terms of Service
%span.backToTop
  %a{:href => "#top"}
    %i.e-icon-up-open-big