%ul#top.visuallyhidden
  %li
    %a{:accesskey => "n", :href => "#nav", :title => "Skip to navigation"} Skip to navigation
  %li
    %a{:accesskey => "c", :href => "#page", :title => "Skip to content"} Skip to content
%header.clearfix
  %h5.mobile_nav
    #logo
      =link_to "", root_path
    %a.mobiletrigger{:href => "javascript:void(0)"}
      \&nbsp;
      %span

  #nav
    =render "partials/header_top"
