/[if lt IE 9]
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
/ Viewport Meta Tag
%meta{:content => "Homespree is the smart way to get home improvement estimates.", :name => "description"}/
%meta{:content => "width=device-width", :name => "viewport"}/
%meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
%meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/

%link{:rel => "shortcut icon", :href => "/assets/favicon.png"}

/ GOOGLE ANALYTICS
:javascript
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-37015205-1']);
  _gaq.push(['_setDomainName', 'myhomespree.com']);
  _gaq.push(['_setAllowLinker', true]);
  _gaq.push(['_trackPageview']);

  (function () {
    var ga = document.createElement('script');
    ga.type = 'text/javascript';
    ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(ga, s);
  })();


-#Open Graph for facebook http://graph.facebook.com/[UserName] replace [UserName] with yours and get your fb:admis content information where the XXXX goes.
-#\==================================================
-#%meta{:content => "", :property => "og:title"}/
-#%meta{:content => "", :property => "og:type"}/
-#%meta{:content => "", :property => "og:url"}/
-#%meta{:content => "", :property => "og:image"}/
-#%meta{:content => "", :property => "og:site_name"}/
-#%meta{:content => "XXXXX", :property => "fb:admins"}/
-#%meta{:content => "en_us", :property => "og:locale"}/
-#%meta{:content => " ", :property => "og:description"}/
/ JS JQuery in the head you can use ajax if you want ================