.navbar.secondary-menu
  .container
    .navbar-inner
      .nav-collapse.collapse
        %ul.nav.accordmobile.pull-right

          - if contractor_signed_in?

            %li.dropdown.parent
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                Messages
                %i.e-icon-comment
              %ul.dropdown-menu
                %li.visible-phone.visible-tablet.phonenumber
                  %a{:href => "tel:+8135553333"} 813.555.3333
                %li.menu-text.visible-desktop.phonenumber 813.555.3333
                %li
                  %a{:href => "mailto:contact@longdomaingoeshere.com"} email: admin@myhomespree.com
                %li.divider
                %li.nav-header Sign up for our mailing list!
                %li
                  %form{:action => "yourscript.php", :method => "post"}
                    .input-append.custom-append
                      %input{:name => "email", :placeholder => "Email Address", :type => "email"}/
                      %button.btn.btn-primary Sign Up
                %li.divider
                %li.nav-header Follow Us!
                %li
                  .social.clearfix
                    %a.fc-webicon.facebook.round{:href => "#", :title => "Facebook"}
                    %a.fc-webicon.twitter.round{:href => "#", :title => "Twitter"}
                    %a.fc-webicon.linkedin.round{:href => "#", :title => "Linked In"}
                    %a.fc-webicon.pinterest.round{:href => "#", :title => "pinterest"}

            %li.dropdown.parent
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                My Projects
                %i.e-icon-tools
              %ul.dropdown-menu
                %li.visible-phone.visible-tablet.phonenumber
                  %a{:href => "tel:+8135553333"} 813.555.3333
                %li.menu-text.visible-desktop.phonenumber 813.555.3333
                %li
                  %a{:href => "mailto:contact@longdomaingoeshere.com"} email: admin@myhomespree.com
                %li.divider
                %li.nav-header Sign up for our mailing list!
                %li
                  %form{:action => "yourscript.php", :method => "post"}
                    .input-append.custom-append
                      %input{:name => "email", :placeholder => "Email Address", :type => "email"}/
                      %button.btn.btn-primary Sign Up
                %li.divider
                %li.nav-header Follow Us!
                %li
                  .social.clearfix
                    %a.fc-webicon.facebook.round{:href => "#", :title => "Facebook"}
                    %a.fc-webicon.twitter.round{:href => "#", :title => "Twitter"}
                    %a.fc-webicon.linkedin.round{:href => "#", :title => "Linked In"}
                    %a.fc-webicon.pinterest.round{:href => "#", :title => "pinterest"}

            %li.dropdown.parent
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                Settings
                %i.e-icon-cog
              %ul.dropdown-menu
                %li.current-user
                  %a{:href => "#"}
                    %img.avatar.name{:src => "http://placehold.it/50x50"}
                    %b.fullname= current_contractor.first_name
                    %br/
                    %small Edit profile
                %li.divider
                %li
                  =link_to "Account Settings"
                %li
                  =link_to "Sign out", destroy_contractor_session_path, method: :get

          - else

            %li
              =link_to "About", about_path

            %li
              =link_to "For Professionals", for_professionals_path

            %li
              =link_to "Sign Up ", new_contractor_registration_path

            %li.dropdown.parent
              =link_to new_contractor_session_path do
                Sign In
                %i.e-icon-login

          %li.divider-vertical
            -#%li.search-wrapper
            -#  %form{:action => "someaction.php", :method => "post"}
            -#    #search-trigger
            -#      %i.e-icon-search
            -#    %input{:placeholder => "search + enter", :type => "text"}/

      #logo
        =link_to "", root_path

