.navbar.secondary-menu
  .container
    .navbar-inner
      .nav-collapse.collapse
        %ul.nav.accordmobile.pull-right

          - if user_signed_in?
            %li.dropdown.parent
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                My Messages
                %i.e-icon-comment
              %ul.dropdown-menu
                %li.menu-text
                  %i No Messages found.

            %li.dropdown.parent
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                My Projects
                %i.e-icon-tools
              %ul.dropdown-menu
                %li.menu-text
                  %i No projects found.
                  -#  = link_to "Find jobs in my area"

            %li.dropdown.parent
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                Settings
                %i.e-icon-cog
              %ul.dropdown-menu
                %li.current-user
                  = link_to current_user do
                    %b.fullname= current_user.name
                    %br/
                    %small Edit profile
                    - if current_contractor && current_contractor.portrait_url?
                      = image_tag current_contractor.portrait_url.to_s, class: "name avatar pull-right"
                %li.divider
                %li
                  =link_to "Account Settings", general_settings_path
                %li
                  =link_to "Sign out", destroy_contractor_session_path, method: :get

          - else
            %li
              =link_to "About", about_path
            %li
              =link_to "For Professionals", for_professionals_path
            %li
              =link_to "Sign Up ", new_contractor_registration_path
            %li.dropdown.parent
              =link_to new_contractor_session_path do
                Sign In
                %i.e-icon-login

          %li.divider-vertical
            %li.search-wrapper
              %form{:action => "search", :method => "post"}
                #search-trigger
                  %i.e-icon-search
                %input{:placeholder => "Search by job type", :type => "text"}/

      #logo
        =link_to "", root_path
