%footer.footer.clearfix
  .container
    / footer container
    .row-fluid
      .span3
        %section
          %h4 Contact Us
          %p
            Corporate-Elegance Creative
            %br/
            1255 Nowhere Street
            %br/
            Tampa, FL 33655
            %br/
            %strong phone:
            %a.tele{:href => "tel:8135551234"} 813.555.1234
            %br/
            %strong fax:
            813.555.1235
            %br/
            %span.overflow
              %strong email:
              %a{:href => "mailto:email@domain.com"} email@companydomain.com
        / close section
        %section
          %h4 Follow Us
          %ul.social
            %li
              %a.fc-webicon.rss.round{:href => "#", :title => "RSS"}
            %li
              %a.fc-webicon.facebook.round{:href => "#", :title => "Facebook"}
            %li
              %a.fc-webicon.twitter.round{:href => "#", :title => "Twitter"}
            %li
              %a.fc-webicon.skype.round{:href => "#", :title => "Skype"}
            %li
              %a.fc-webicon.dribbble.round{:href => "#", :title => "dribble"}
            %li
              %a.fc-webicon.linkedin.round{:href => "#", :title => "Skype"}
        / close section
      / close .span3
      / section containing newsletter signup and recent images
      .span5
        %section
          %h4 Stay Updated
          %p Sign up for our newsletter. We won't share your email address.
          %form{:action => "yourscript.php", :method => "post"}
            .input-append.append-fix.custom-append.row-fluid
              %input.span8{:name => "email", :placeholder => "Email Address", :type => "email"}/
              %button.btn.btn-primary Sign Up
          / close input-append
        / close section
        %section
          %h4 Recent Images
          %ul.image-widget.clearfix
            %li
              %a{:href => "#"}
                %img{:alt => "", :src => "../demo/image-widget/1.png"}/
            %li
              %a{:href => "#"}
                %img{:alt => "", :src => "../demo/image-widget/2.png"}/
            %li
              %a{:href => "#"}
                %img{:alt => "", :src => "../demo/image-widget/3.png"}/
            %li
              %a{:href => "#"}
                %img{:alt => "", :src => "../demo/image-widget/4.png"}/
            %li
              %a{:href => "#"}
                %img{:alt => "", :src => "../demo/image-widget/5.png"}/
            %li
              %a{:href => "#"}
                %img{:alt => "", :src => "../demo/image-widget/6.png"}/
            %li
              %a{:href => "#"}
                %img{:alt => "", :src => "../demo/image-widget/7.png"}/
            %li
              %a{:href => "#"}
                %img{:alt => "", :src => "../demo/image-widget/8.png"}/
            %li
              %a{:href => "#"}
                %img{:alt => "", :src => "../demo/image-widget/9.png"}/
            %li
              %a{:href => "#"}
                %img{:alt => "", :src => "../demo/image-widget/10.png"}/
            %li
              %a{:href => "#"}
                %img{:alt => "", :src => "../demo/image-widget/11.png"}/
            %li
              %a{:href => "#"}
                %img{:alt => "", :src => "../demo/image-widget/12.png"}/
        / close section
      / close .span5
      / section containing blog posts
      .span4
        %section
          %h4 About Us
          %p
            Immortal robot bodies are the new rage. Religion can’t provide immortal robot bodies. Flying heads in bubbles are also popular. The cost of preserving a head is much less than the entire body and at least you can keep your face. But with the immortal robot, after you die, your soul or spirit is digitized and your flesh body rots, but you don’t care, ‘cause having an immortal robot body is ultra cool and sexy. While you’re still on earth, your immortal robot body sits in storage ready for the fateful day. You betcha, it does provide peace of mind or piece of mind.
            %span.small © Christina Arasmo Beymer (me).