%section.strip{style: "margin: 0;"}
  .call-to-action
    %h2 Submit project details straight from the convenience of your smartphone.
    %a.btn.custom-btn.btn-large.btn-primary{:href => "pricing-tables.html"}
      Download App
      %i.e-icon-forward


.container
  .row-fluid
    .span4
      .well
        %h4.primary-color Homespree on your smartphone
        %p
          %img.alignleft{:alt => "", :src => "http://placehold.it/100x150"}/
          Finding a trustworthy contractor at a reasonable price is usually quite a challenge. However, Homespree lets you quickly upload project requests online or from your mobile device and receive competitive estimates from quality local pros.
        %p.text-right
          %a.btn.custom-btn.btn-primary{:href => "#"} Download the App

    .rotating-testimonials.span8
      %h3.short_headline
        %span Testimonials
      .panels
        #t1
          %blockquote
            %p No testimonials yet for this contractor
            %footer Homespree

      %ul.tabs
        %li.tab
          %a{:href => "#t1"} Homespree

      %p.text-right
        %a.btn.custom-btn.btn-small.btn-very-subtle{:href => "testimonials.html"} All Testimonials