.static_page {
  background: url(/assets/backgrounds/background_small.jpg) no-repeat center center fixed;

  height: 100%;
  min-height: 1250px;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.login_page {
  background: url(/assets/backgrounds/homebackground.png) no-repeat center center fixed;

  height: 100%;
  min-height: 1250px;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}