@import "../global/palette.css.scss";

$pitch_height: 0px;
$shadow: 0px 0 8px 0 rgba(0, 0, 0, 0.5);

.qualitypro {
  a {
    margin-top: -22px !important;
  }
}

#content {
  min-height: 600px;
}

#home {
  .dropdown-menu {
    a {
      width: 252px !important;
    }
  }
  #space {
    height: 400px;
  }
  #mainpicture_mobile {
    img {
      display: none;
    }
  }

  #homepage_overlay {
    position: absolute;
    top: 20%;
    margin: 0 auto;
  }

  #maintext {
    min-height: 850px;
    top: 15%;
    left: 10%;
    right: 10%;

    h1 {
      padding: 0 7%;
      padding-top: 80px;
      margin: 0 auto;

      color: white;
      width: 1200px;

      font-weight: 400;
      font-size: 4em;
      line-height: 1.1em;
      text-shadow: 0 0 15px rgba(0, 0, 0, 1), 0 -1px 1px rgba(0, 0, 0, 1);
    }

    h2 {
      padding: 0 7%;
      margin: 0 auto;
      color: white;
      width: 1200px;
      text-align: left;
      font: 2.2em "helvetica neue", helvetica, sans-serif;

      text-shadow: 0 0 13px rgba(0, 0, 0, 1), 0 -1px 1px rgba(0, 0, 0, 1);
    }
  }

  margin: 0 0 0 0;

  .pitch {
    top: 30%;
    width: 100%;
    min-height: $pitch_height;
    padding: 0px !important;

    h1 {
      color: white;
      font-weight: 400;
      font-size: 4em;
      line-height: 1.1em;
      text-shadow: 0 0 15px rgba(0, 0, 0, 1), 0 -1px 1px rgba(0, 0, 0, 1);
    }

    h2 {
      color: white;
      text-align: left;
      font: 2.2em "helvetica neue", helvetica, sans-serif;
      margin: 18px 0;

      text-shadow: 0 0 13px rgba(0, 0, 0, 1), 0 -1px 1px rgba(0, 0, 0, 1);

      strong {
        font-weight: 700;
      }
    }

    #new_project {
      margin: 50px;
      width: 670px;

      background: none repeat scroll 0px 0px rgba(255, 255, 255, 0.7);
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
      border-radius: 3px 3px 3px 3px;
      border: 1px solid rgb(0, 0, 0);
      padding: 7px;
      line-height: 1.4;

      #pitch_label {
        display: block;
        float: left;
        height: 40px;
        line-height: 40px;
        font-weight: bold;

        font-size: 18px;
        color: black;
        margin: 2px 10px 0 15px;
      }

      .dropdown-menu {
        z-index: 10;
        width: 293px;
      }

      #submit_success {
        color: #50001e;
        display: none;
        font-size: 16px;
        margin-bottom: 2px;
        font-weight: bold;
        text-align: left;
        margin: 10px;
        margin-left: 20px;
      }

      #submit_location{
        height: 40px !important;
      }

      input {
        border-radius: 3px !important;
        -moz-border-radius: 3px !important;
        -webkit-border-radius: 3px !important;
        border: 1px solid black;
      }

      select {
        height: 40px;
        font-size: 1.5em;
        padding-left: 15px;
        margin-left: 5px;
        border: 1px solid black;
      }

      #zipcode {
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4) inset;
        /*float: left;*/
        border: 1px solid #000000;
        border-radius: 3px;
        text-shadow: 0 1px 1px #FFFFFF;
        margin: 0px;
        line-height: normal;
        height: 30px;
        color: black;
        font-size: 1.5em;
        width: 100px;
      }

    }

    .icon-and-text {
      height: 47px;
      width: 125px;
      margin-left: 3px;
      margin-top: 1px;
    }

    .submit {
      margin-left: 3px !important;
      width: 150px;

      @media (max-width: 767px) {
        margin-left: 0px !important;
      }

      &.large {
        font-size: 18px;
        margin: 0;
        padding: pliy 0;
      }

      &.green {
        .caret {
          border-top-color: black;
        }

        font-weight: 500;
        color: white;
        text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.4);
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

        vertical-align: middle;
        border-radius: 4px;
        border-width: 1px;
        border-style: solid;

        box-shadow: 0 0 0.2em rgba(255, 255, 255, 0.5) inset, 0 1px 2px rgba(0, 0, 0, 0.15), 0 0 0 black;
      }

      #customer_type {

        .btn .caret, .btn-primary .caret {
          border-top-color: black;
          border-bottom-color: black;
        }

        .btn {
          &:hover {
            opacity: 1;
          }
        }

        display: inline-block;
        height: 48px !important;
        /*width: 190px;*/
        width: 300px;
        margin-left: 6px;

        .caret {
          margin-left: -10px;
        }

        & > a, & > input {
          border-color: black;
          color: black;

          background: #ffffff; /* Old browsers */
          background: -moz-linear-gradient(top, #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%); /* FF3.6+ */
          background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(50%, #f1f1f1), color-stop(51%, #e1e1e1), color-stop(100%, #f6f6f6)); /* Chrome,Safari4+ */
          background: -webkit-linear-gradient(top, #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%); /* Chrome10+,Safari5.1+ */
          background: -o-linear-gradient(top, #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%); /* Opera 11.10+ */
          background: -ms-linear-gradient(top, #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%); /* IE10+ */
          background: linear-gradient(to bottom, #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%); /* W3C */
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6', GradientType=0); /* IE6-9 */

          &:hover {
            background: #ffffff; /* Old browsers */
            background: -moz-linear-gradient(top, #ffffff 0%, #f8f8f8 50%, #f0f0f0 51%, #fafafa 100%); /* FF3.6+ */
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(50%, #f8f8f8), color-stop(51%, #f0f0f0), color-stop(100%, #fafafa)); /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(top, #ffffff 0%, #f8f8f8 50%, #f0f0f0 51%, #fafafa 100%); /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(top, #ffffff 0%, #f8f8f8 50%, #f0f0f0 51%, #fafafa 100%); /* Opera 11.10+ */
            background: -ms-linear-gradient(top, #ffffff 0%, #f8f8f8 50%, #f0f0f0 51%, #fafafa 100%); /* IE10+ */
            background: linear-gradient(to bottom, #ffffff 0%, #f8f8f8 50%, #f0f0f0 51%, #fafafa 100%); /* W3C */
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#fafafa', GradientType=0); /* IE6-9 */
          }

          font-size: 18px;
          width: 270px;
          @media (max-width: 321px) {
            width: 222px !important;
          }
          height: 30px;
          padding-top: 13px;
          border: 1px solid #2f2f2f;
          text-align: left;
        }

        li {
          width: 190px;
          border: none !important;
        }
      }

    }
    #iphone_preview {
      position: absolute;
      right: -35px;
      z-index: -1;

      width: 550px;
      height: 572px;

      background-size: auto auto;
      background: url("/assets/iphone.png") right bottom no-repeat;
      top: 0px;
    }

  }

  .showcase {

    position: relative;
    z-index: 2;
    box-shadow: 12px 0 15px 0 rgba(0, 0, 0, 0.5);
    background: url("/assets/bg/bg5.png") repeat;
    background-color: white;
    min-height: 400px;

    .carousel a {
      color: #ffffff;

      .item a {
        color: #3799ca;
      }
    }

    a.carousel-control {
      text-decoration: none !important;
    }

    .carousel-caption {
      position: static;
      background: transparent;
      text-align: center;
      h3 {
        text-align: center;
      }
    }

    .carousel .item > p,
    .carousel-caption p {
      font: 16px/23px  "helvetica neue", helvetica, sans-serif;
      text-shadow: #ffffff 0 1px 0;
      color: #333333;
      text-align: center;
    }

    #screenshot_carousel {
      img {
        width: 65%;
        height: auto;

        box-shadow: $shadow;
      }
    }

    #iphonecarousel {
      margin-top: 40px;
      background: none;

      img {
        margin: 0 auto;
      }
    }

  }

  section#section_three {

    color: white;
    text-align: center;
    position: absolute;
    bottom: 70px;
    width: 100%;

    h2 {
      margin-bottom: 10px;
      color: $homespree_accent;
      font-weight: 300;
      font-size: 2em;
    }

    background-color: rgba(0, 0, 0, 0.7);
  }
}

/*********************************************************************************
>>>>>>>>>>>>>>>>>>>  MEDIA QUERIES  <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
**********************************************************************************/

/*>>>>>>>>>> MAX WIDTH: 1200 <<<<<<<<<<<<<<*/
@media (max-width: 1200px) {
  .pitch {
    padding-top: 0;
    height: auto;
  }
}

/*>>>>>>>>>> MAX WIDTH: 966 <<<<<<<<<<<<<<*/

@media (max-width: 966px) {
  #logo {
    a {
      width: 150px !important;
    }
  }
  #maintext {
    position: relative !important;
    width: 100%;
    left: 0% !important;
    right: 0% !important;
    h1 {
      width: 80% !important;
    }
    h2 {
      width: 80% !important;
    }
  }
  .pitch {
    position: relative !important;
  }
}

/*>>>>>>>>>> MAX WIDTH: 767 <<<<<<<<<<<<<<*/

@media (max-width: 767px) {

  #home {
    body, .container {
      padding: 0 !important;
      margin: 0 !important;
    }
  }

  .stress-free {
    font-size: 3em !important;
    text-align: left;
  }

  .get-quotes {
    display: none;
  }

  #maintext {
    min-height: 980px !important;

    h1 {
      padding-top: 30px !important;
    }
  }
  .qualitypro {
    display: none;
  }

  .pitch {
    padding: 0 15px;

    h2 {
      margin: 5px 0 !important;
      max-width: 480px;
    }

    .stressfree {
      padding-left: 8px !important;
    }
  }

  .submit {
    &.large {
      width: 297px !important;
    }
  }

  #new_project {

    display: table !important;
    margin: 50px auto !important;

    width: 300px !important;
    padding: 8px !important;

    label, input, .btn {
      display: table !important;
      margin: 8px auto !important;
    }

    #pitch_label {
      font-size: 24px !important;
      margin-top: 15px !important;
      margin-bottom: 15px !important;
      display: block !important;
      text-align: center !important;
      width: 100% !important;
    }

    #project_project_type_name {
      margin-left: 10px !important;
      width: 280px !important;
    }

    #zipcode {
      width: 267px !important;
      margin-top: 15px !important;
      height: 31px !important;
    }

    #submit_location {
      width: 279px !important;
      margin-top: 15px !important;
      margin-bottom: 14px !important;
    }
  }

  .navbar-inner {
    padding: 0px !important;
  }

  .pitch {
    #customer_type {
      margin-left: 1px !important;
    }

    padding-top: 0px !important;

    #iphone_preview {
      height: 400px !important;
      top: 160px !important;
      width: 300px !important;
      background-size: 300px !important;
    }
  }

  .desktop {
    position: relative;
  }

  .secondary {
    position: relative;

    img{
      display: none;
    }

    .container {
      position: relative !important;
      padding: 15px !important;

    }
  }

}
