// --------------------------------------------------------------------------
// Layout-specific styles.
//    These tags should have the same class name as the layout's filename
// --------------------------------------------------------------------------


.application {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover !important;
  //position: relative;
  background: url(/assets/backgrounds/background_small.jpg) no-repeat center center fixed;
}

.static_page {
  @extend .application;

  background: url(/assets/backgrounds/bg4.jpg) no-repeat center center fixed;
}

.login_page {
  @extend .application;

  background: url(/assets/backgrounds/bg6.jpg) no-repeat center center fixed;
}

.project_wizard {
  @extend .application;

  background: url(/assets/backgrounds/bg2.jpg) no-repeat center center fixed;
}

.dashboard {
  @extend .application;

  background: url(/assets/backgrounds/bg2.jpg) no-repeat center center fixed;
}
