-#= f.select :location, options_from_collection_for_select(ProductType.all, :id, :name)
= f.select :location, options_from_collection_for_select(ProductType.all, :id, :name)
= f.select :desired_finish, options_from_collection_for_select(ProductType.all, :id, :name)
= f.select :location, options_from_collection_for_select(ProductType.all, :id, :name)
