<div class="secondary">
  <div class="container">
      <div class="span3 bs-docs-sidebar sidenav">
        <ul class="nav nav-list bs-docs-sidenav nav-tabs nav-stacked">
          <li class="active"><a href="/about"><i class="icon-play"></i>Company</a></li>
          <li><a href="/homeowners">Homeowners</a></li>
          <li><a href="/contractors">Contractors</a></li>
          <li><a href="http://www.homespree.wordpress.com" target="_blank">Blog</a></li>
          <li><a href="/jobs">Jobs</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </div>
      <div class="span8 descriptiontext">
      <h1>About Us</h1>
      <br>
      <br>

      <h2>Company</h2>
      <br>

      <p><a href="http://www.myhomespree.com">Homespree</a> was founded in Brooklyn, NY in late 2012. In the aftermath of
        Hurricane Sandy, roommates Kyle Gesuelli and Joe Gesualdo began talking about the home improvement industry and
        how the traditional process of requesting and submitting home improvement estimates was inefficient. Both saw an
        opportunity to leverage the rapid adoption of smartphones and mobile applications to improve the experience for
        both homeowners and contractors.
      </p>
      <br>

      <h2>Kyle Gesuelli</h2><h4>Co-founder / Director of Business Development</h4>
      <br>

      <p><img style="float:left; padding-right: 20px" src="/assets/kyleprofile3.png">Kyle graduated Magna Cum Laude from
        The College of New Jersey in 2011 with a BS in Finance and Economics. After college, he went to work as a
        Financial Analyst at Bank of America Merrill Lynch. Kyle has always had a passion for home improvement; he
        operated a residential painting company throughout high school and
        college. <!--He got his first taste of the startup world as a business development intern at <a href="http://www.hometalk.com">Hometalk</a>, a social hub for home improvement.-->
      </p>
      <br>
      <br>

      <h2>Joe Gesualdo</h2><h4>Co-founder / Director of Product Development</h4>
      <br>

      <p>
        <img style="float:left; padding-right: 20px; padding-top: 10px; padding-bottom: 30px;" src="/assets/joeprofileimage2.png">
        Prior to starting <a href="http://www.myhomespree.com">Homespree</a> Joe worked as a valuation associate at PwC advising
        corporate clients and private equity firms on complex valuation matters. He has always had a passion for
        entrepreneurship. Joe is on a mission to disrupt stagnant industries with technology.
        <br>
        <br>Joe also founded <a href="http://www.startupthecity.com">Startup The City</a>, an entrepreneurial event
        aggregator, to help make entrepreneurship accessible to everyone. Joe graduated with honors from The College of
        New Jersey, where he studied Finance.
      </p>

        <h2>Anthony Erlinger</h2><h4>Co-founder / Lead Developer</h4>
        <br>

        <p>
          <img style="float:left; padding-right: 20px; padding-top: 10px; padding-bottom: 30px;" src="/assets/anthonyprofileimage.png">

          <br>
          <br>
          Joe also founded <a href="http://www.startupthecity.com">Startup The City</a>, an entrepreneurial event
          aggregator, to help make entrepreneurship accessible to everyone. Joe graduated with honors from The College of
          New Jersey, where he studied Finance.
        </p>

    </div>
</div>
</div>
</div>