= content_for :static_page do
  .div#unavailable{style: "text-align: center;"}
    %h1 Sorry!
    %h5 Available contractors could not be found near the zipcode: #{@project.zipcode}
    =link_to raw("&laquo Back to main page"), :back, class: "back"