Hey Joe,

<p>
	Thank you for joining Homespree! We're to excited to help you connect with new homeowners and grow your business.
</p>

<p>
	By completing a profile for your company, you will boost your online presence and gain
	exposure to the many homeowners that visit <%= link_to "myhomespree.com", "www.myhomespree.com" %>
	each day.
</p>

<p>
	Once your profile is filled out, a Homespree team member will review the information to determine
	if you are qualified to become a Homespree Approved Pro. This designation enables you to receive
	online service requests from homeowners in your area.
</p>

<p>
	Upon approval, we will send you another email with instructions to get started.
</p>

<p>
	Please don’t hesitate to reach out if you have any questions. We’re real people and we’re here to
	help! You may contact us by phone at 855-798-6007 or by email at
	<%= link_to "support@myhomespree.com", "mailto:support@myhomespree.com" %>.
</p>

<p>
	Have a great day!
</p>

<p>
	Regards,
	<br />
	<i>The Homespree Team</i>
</p>

<br/>

<%= render 'unsubscribe' %>