@import "global/mixins";
@import "global/palette";

$header_height: 110px;

.project-form {
  h1, h2, h3, h4, h5 {
    margin-top: 15px;
    margin-bottom: 5px;
  }

  hr {
    margin-top: 25px;
  }
}

#project_wizard {
  .container {
  }

  .outset {
    width: 670px;
    display: table;
    margin: 10px auto;

    background: none repeat scroll 0px 0px $homespree_lightest;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    border-radius: 3px 3px 3px 3px;
    border: 3px solid white;
    padding: 7px;
    line-height: 1.4;

    label {
      display: inline;
    }

    input {
      width: 50px;
    }
  }

  .square-feet {
    * {
      font-weight: bold;
    }
  }

  #submit_request {
    display: table;
    margin: 30px auto;
    width: 500px;
  }

  #new_project {
    margin: 10px auto;

    #update_project {
      width: 100px;
    }

    select {
      height: 40px;
      width: 250px;
      font-size: 1.5em;
      padding-left: 15px;
      margin-left: 5px;
      margin-bottom: 0;
      border: 1px solid black;
    }
  }

  .add-room, .add-wall {
    font-weight: bold;
  }

  .project_form {
    width: 670px;

    display: table;
    margin: 50px auto;

    background: none repeat scroll 0px 0px $homespree_blue;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    border-radius: 3px 3px 3px 3px;
    border: 3px solid white;
    padding: 7px;
    line-height: 1.4;

    select {
      height: 40px;
      width: 200px;
      font-size: 1.5em;
      padding-left: 15px;
      margin-left: 5px;
      margin-bottom: 0;
      border: 1px solid black;
    }
  }

  .contractor-preview {
    @include five-pixel-rounded;

    box-shadow: $shadow;
    -moz-box-shadow: $shadow;

    position: relative;
    display: block;
    min-height: 300px !important;
    border: 2px solid $homespree_light;
    background-color: white;

    &:hover {
      background-color: #FAFAFA;
      border: 2px solid black;
    }

    .header {
      height: $header_height;
      font-size: 11px;
      background-color: $homespree_lightest;

      margin: 0;

      -moz-border-radius-topleft: 4px;
      -moz-border-radius-topright: 4px;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      -webkit--top-left-radius: 4px;
      -webkit-top-right-radius: 4px;

      img {
        position: absolute;
      }

      .title {

        position: absolute;
        height: $header_height;
        margin: 0;
        padding: 0;
        right: 0;

        .slogan {
          text-align: center;
          font-size: 12px;
          font-style: italic;
          color: black;
          padding-left: 5px;
          margin: 0;
        }

        h5 {
          border-bottom: 2px solid white;
          -moz-border-radius-topright: 3px;
          border-top-right-radius: 3px;
          -webkit-top-right-radius: 3px;


          margin: 0;
          margin-left: -30px;
          font-size: 14px;
          font-weight: bold !important;
          background-color: $homespree_blue;
          color: white;
          padding: 4px 5px;
          text-align: center;
        }

        .btn-view-profile {
          position: absolute;
          font-weight: bold;
          display: table;

          width: 100px;
          bottom: 5px;
          left: 30px;
        }
      }
    }

    .portrait {
      position: relative;

      img {
        display: block;
        position: absolute;
        height: $header_height !important;

        z-index: 1;

        width: auto;
        float: left;

        font-style: normal;
        border-radius: 3px 0 0 0;
      }
    }

    .description {
      display: block;
      text-align: justify;
      font-size: .9em;
      line-height: 1.2em;
      padding: 10px 0px;
      height: 150px;
      margin: 0;

      p {
        display: static;
        padding: 0 10px;
      }
    }

    .hourly-rate {
      display: block;
      background-color: $homespree_lightest;

      border-top: 2px solid $homespree_blue;
      border-bottom: 1px solid rgb(196, 196, 196);

      text-align: center;
      padding: 0;
      margin: 0;
    }

    .select-contractor {
      margin-bottom: 0 !important;
    }

    .accreditations {
      display: block;
      margin: 0;
      border-top: 1px solid white;

      .span-tri {
        width: 33.3333%;
        //border-left: 2px solid $homespree_blue;
        cursor: default;
        border-left: 2px solid white;
        display: table;
        text-align: center;
        line-height: 30px;
        margin: auto;

        font-weight: bold;
        background-color: $homespree_lightgreen;
        color: white;
      }
    }

    .btn-select {
      display: block;
      margin: 20px auto;

      border-top: 5px solid $homespree_green;

      border-top-left-radius: 0;
      border-top-right-radius: 0;
      -moz-border-radius-topleft: 0;
      -moz-border-radius-topright: 0;
      -webkit-border-top-left-radius: 0;
      -webkit-border-top-left-radius: 0;
    }

    hr {
      margin: 5px;
    }

    .select-contractor {
      color: white;
      font-size: 18px;
      padding: 15px;

      &:hover {
        text-decoration: none;
      }
    }
  }

  form {
    input[type='radio'] {
      display: block;
      float: left;
      margin-right: 5px;
    }
  }
}