//Font From: http://www.knechtdance.com/knecht-font-test.html & https://www.splitsecnd.com/ & http://wistia.com/
//How to add font-face: http://stackoverflow.com/questions/12812441/how-do-i-use-woff-fonts-for-my-website


@font-face {
  font-family: "Avenir";
  src: url("fonts/Avenir-LT-W01-65-Medium-Book.woff") format('woff');
}

@font-face {
  font-family: "Avenir Black";
  src: url("fonts/Avenir-LT-W01-65-Medium-Black.woff") format('woff');
  font-weight: bold;
}

