.footer-credits {
  ul li a {
    color: white;
    font-size: 1.2rem;

    &:hover {
      color: inherit;
      text-decoration: underline;
    }
  }

  .logo-center {
    a:hover {
      text-decoration: none;
    }
    img {
      display: inline;
      max-width: 50px !important;
      max-height: 50px !important;
    }
  }
}

.footer-box {
  padding: 30px 0;
  text-align: center;
  font-family: "Helvetica Neue", helvetica, sans-serif;
  font-size: 14px;
  line-height: 26px;
  color: #888888;

  a {
    font: 600 16px/26px "Helvetica Neue", helvetica, sans-serif;
    padding: 6px 18px;
    color: #ffffff;
    text-shadow: 0px 0px 13px black, 0px -1px 1px rgba(0, 0, 0, 0.6);
    line-height: 16px;
    text-align: center;
  }

  img {
    margin: 0;
  }

  .links {
    margin: 5px 0px 20px 0px;

    a {
      font-weight: 500;
      color: white;
      opacity: 0.9;
      display: inline-block;
      margin: 4px 0px;

      &:hover {
        text-shadow: 0px 0px 13px black, 0px -1px 1px rgba(0, 0, 0, 0.4);
        text-decoration: none;
        color: #bbcfff;
      }
    }
  }

  .social-icons {
    a {
      text-decoration: none;
      opacity: .7;

      &:hover {
        text-decoration: none;
        opacity: 1;
      }
    }
  }
}


