$homespree_blue: rgb(48, 59, 106);
$homespree_light: rgb(61, 74, 145);
$homespree_accent: rgb(138, 155, 242);
$homespree_accent_light: rgb(189, 207, 253);
$homespree_lightest: rgb(247, 249, 253);

$shadow: 0px 0 8px 0 rgba(0, 0, 0, 0.5);