@import "./palette.css.scss";

textarea:not(.pitch), input:not(.pitch) {
    border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
}


.no-bg {
    background: none !important;
}

.navbar-fixed-top {
  position: relative !important;
}

ul.nav-collapse li a:hover {
  color: white !important;
}

.sidenav li a:hover {
  .active {
    color: white !important;
    text-shadow: none !important;
  }
  color: black !important;
}

.sidenav li.active a:hover {
  color: white !important;

  background: rgb(31, 66, 117);
}

.no-margin {
    margin: 0 !important;
}

.no-padding {
    padding: 0 !important;
}

/* --------------------->>> main containers <<<---------------------*/
#home {
  margin: 120px 0 0 0; /* 40px (secondary-menu) + 80px (primary-menu and logo) + 40px (standard margin)*/
  clear: both;
}

.delete-button {
  position: relative;
  color: darkred;
}

body.DESKTOP {
  background: url(/assets/backgrounds/background_small.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100%;
  position: relative;

  .navbar {
    margin: 0px !important;
  }

  div.spacer10px {
    display: block;
    height: 10px;
    width: 100%
  }

  div.spacer20px {
    display: block;
    height: 20px;
    width: 100%
  }

  a {
    color: #338bb8;
    &:link, &:visited {
    }

    &:hover {
      color: #3799ca;
    }
  }

  a.btn {
    color: white;

    &:hover {
      color: white;
      text-decoration: none;
    }
  }

  .nav-list li a:hover {
    color: #deebfd;
  }

  .center-align {
    text-align: center;
  }

  .right-align {
    text-align: right;
  }

  .left-align {
    text-align: left;
  }

  h1, h3 {
    font-weight: 300;
  }

  h2 {
    font-size: 1.9em;
    color: $homespree_blue;
    font-weight: 100;
  }

  .slogan {
    font-style: italic;
  }

  .black-bottom {
    border-bottom: 1px solid black;
  }

  .gray-bottom {
    border-bottom: 1px solid #818181;
  }

  light-bottom {
    border-bottom: 2px solid $homespree_accent_light !important;
  }

  .carousel-control {
    a {
      &:hover {
        text-decoration: none;
      }
    }
  }

  .block-underline {
    display: block;
    width: 100%;
    overflow: show !important;
    text-align: left;
    line-height: 1.4em;
    border-bottom: 1px solid $homespree_accent_light;
  }

  .block-underline-full {
    display: block;
    width: 100%;
    max-width: 100%;
    text-align: left;
    line-height: 1.4em;
    border-bottom: 2px solid $homespree_accent_light;
  }

  .block-underline-small {
    display: inline-block;
    width: 100%;
    overflow: show !important;
    text-align: left;
    line-height: 1.4em;
    border-bottom: 1px solid $homespree_accent_light;
    margin-bottom: 5px !important;
  }

  h3 {
    color: $homespree_light;
    text-align: left;
    font-size: 22px;
    line-height: 23px;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  h4 {
    margin: 0;
    margin-bottom: 1em;
    margin-top: 0;
    color: $homespree_accent;
  }

  .subhead {
    font-weight: 400;
    color: #aaaaaa;
    margin-bottom: 40px;
  }

  .quotes {
    font-size: 24px;
    color: #555555;
  }

  .navbar .nav .active a,
  .footer-box .active a {
    color: #ffffff;

    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    text-shadow: 0px 0px 13px black, 0px -1px 1px rgba(0, 0, 0, 0.6);
  }

  .navbar .nav li a:hover,
  .footer-box a:hover {
    color: #334fa8;
    text-shadow: none;
  }

  .navbar .nav .active a:hover,
  .footer-box .active a:hover {
    color: #4fb6e9;
    text-shadow: none;
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    text-shadow: 0 1px 0 #ffffff;
  }

  * highlight section .highlight {
    margin-top: 40px;
  }

  * shadows .shadow {
    position: relative;

    &:before, &:after {
      left: 18px;
      z-index: -1;
      position: absolute;
      width: 90%;
      height: 90%;
      bottom: 18px;
      content: "";

      -webkit-transform: rotate(-1deg);
      -moz-transform: rotate(-1deg);
      -o-transform: rotate(-1deg);
      transform: rotate(-1deg);

      -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 1);
      -moz-box-shadow: 0 10px 10px rgba(0, 0, 0, 1);
      box-shadow: 0 10px 10px rgba(0, 0, 0, 1);
    }
  }
}
footer {
  opacity: 1;
  background: white;
}

#show_debug{
  z-index: 1000 !important;
  position: absolute !important;
  bottom: 0 !important;
  font-size: em;
}
