= image_tag photo.image_url.to_s
-#= link_to photo.image_url.to_s, class: "zoom-image fancyme", data: {"fancybox-group" => "portfolio"} do
  -#%i.icon-fullscreen
-#= link_to photo.image_url.to_s, class: "upload-image fancyme btn btn-info", data: {"fancybox-group" => "portfolio"}, style: "right: 5px;" do
  -#%i.e-icon-plus-circled
  -#Edit image