@charset "UTF-8";

/*font add this to head in the html using the correct sytax for html once you choose your font */
@import url('http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,700,600,400italic,300italic,700italic,600italic,900italic,900');

@import url('entypo.css');            /* entypo icons */
@import url('portfolio.css');         /* portfolio */
@import url('profiles/contractor_card.css');    /* pricinging columns */
@import url('toggles.css');           /* bootstrap data collapse and slide to top accordion toggles */
@import url('fc-webicons.css');       /* social icons */
@import url('jquery.fancybox.css');   /* fancybox combined retina ready custom */

// AE: I've disabled these temporarily
//@import url('simple-gallery.css');    /* simple gallery of images */
//@import url('blog.css');              /* blog */
//@import url('lemmon-slider.css');     /*sliders*/ /* variable width image slider */
//@import url('animated-slider.css');   /* animated slider */
//@import url('full-width-slider.css'); /* full width flex slider */


/* --------------------->>> change the font here <<<---------------------*/

body, input, textarea, button, form, #countdown {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

h1, h2 {
  font-weight: 300;
}

/* --------------------->>> html / body <<<---------------------*/
html, body {
  display: block;
  width: 100%;
  height: 100%;
  //min-height: 100%;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100%;
  //display: absolute;
  color: #222222;

  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.8;
  background: #fff;
  overflow-x: hidden;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

#content{
  padding-bottom: 70px;
}

.btn, .footer, .footer-credits {
  -webkit-font-smoothing: subpixel-antialiased;
}

/* --------------------->>> main containers <<<---------------------*/

#page {
  //position: relative;
  /* 40px (secondary-menu) + 80px (primary-menu and logo) + 40px (standard margin)*/
  //clear: both;
  //background-color: #fff;
}

/*----- .container class for the max width ----*/

.container {
  padding: 0 7%;
  margin: 0 auto;
  max-width: 1200px;
  width: auto !important;
  position: relative;
  z-index: 2;
}

.page-header h1 {
  padding: 3% 8% 0 8%;
  max-width: 1200px;
  margin: 0;
}

/*less than ie9 */

.lt-ie9 {
  .container {
    padding: 0 2%;
    min-width: 980px;
  }
  .page-header h1 {
    padding: 3% 2% 1.5% 2%;
    min-width: 980px;
  }
}

/* ---------------------main-content---------------------*/

.main-content {
  clear: both;
  position: relative;
  z-index: 1;
}

/* --------------------->>> background faded image <<<---------------------*/

.bg {
  height: 400px;
  width: 100%;
  display: block;
  position: absolute;
  left: 0;
  top: -40px;
  background-position: 50% 0;
  background-repeat: repeat-x;
}

/* --------------------->>> strip <<<---------------------*/

.strip {
  margin: 1.5% 0;
  position: relative;
  z-index: 3;
  padding: .75% 0;
  background: #f7f7f7;
  box-shadow: inset 0 8px 8px -8px rgba(0, 0, 0, 0.05), inset 0 -8px 8px -8px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: inset 0 8px 8px -8px rgba(0, 0, 0, 0.05), inset 0 -8px 8px -8px rgba(0, 0, 0, 0.05);
  &.primary-color-bg {
    box-shadow: inset 0 8px 8px -8px rgba(0, 0, 0, 0.3), inset 0 -8px 8px -8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 0 8px 8px -8px rgba(0, 0, 0, 0.3), inset 0 -8px 8px -8px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 8px 8px -8px rgba(0, 0, 0, 0.3), inset 0 -8px 8px -8px rgba(0, 0, 0, 0.3);
    .btn {
      border-color: transparent;
    }
  }
}

.main-content .strip:last-child {
  margin-bottom: 0;
}

/* --------------------->>> colors / general text-styles / general atmosphere <<<---------------------*/


a {
  color: #222222;
  &:hover, &:focus {
    color: #777777;
  }
}

h1 a, h2 a, h3 a, h5 a, h4 a, h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover {
  color: inherit;
}

.primary-color {
  color: #5676a5;
  a {
    color: #5676a5;
  }
}

.primary-color-bg, .strip.primary-color-bg, .testimonial-gallery .primary-color-bg {
  background: #5676a5;
}

.white-text {
  color: white;
  a {
    color: white;
  }
  &.text-shadow {
    text-shadow: 1px -1px 2px rgba(0, 0, 0, 0.3);
  }
}


/* --------------------->>> .short_headline <<<---------------------*/

.short_headline {
  margin: 10px 0 30px 0;
  line-height: 1.2;
  clear: both;
  font-size: 180%;
  padding-bottom: 5px;
  position: relative;
  text-transform: capitalize;
  font-weight: 300;
  span {
    border-bottom: 3px solid #5676a5;
    padding-bottom: 5px;
  }
  &.block span {
    display: block;
  }
}

p + .short_headline, table + .short_headline, blockquote + .short_headline, ul + .short_headline, ol + .short_headline, dl + .short_headline, form + .short_headline, h1 + .short_headline, h2 + .short_headline, h3 + .short_headline, h4 + .short_headline, h5 + .short_headline, h6 + .short_headline, .row-fluid + .short_headline {
  margin-top: 30px !important;
}

.short_headline {
  + h1 {
    margin-top: 3% !important;
  }
  &.margin-top {
    margin: 2em 0 1em 0;
  }
}

.widget .short_headline {
  font-size: 120%;
  margin-bottom: 1em;
  margin-top: 0;
  padding-bottom: 8px;
  line-height: 1;
  span {
    border-width: 2px;
    padding-bottom: 3px;
  }
}

/* --------------------->>> hero unit <<<---------------------*/

.hero-unit {
  position: relative;
  clear: both;
  margin: -40px 0 30px 0;
  padding: 40px 0;
  h1 {
    padding: 0;
    line-height: 1.2;
    font-size: 280%;
    font-weight: 300;
  }
}

.main-content .hero-unit {
  margin: 30px 0 30px;
  padding: 0;
}

/* --------------------->>> page header <<<---------------------*/

.page-header {
  margin: -40px 0 40px 0;
  clear: both;
  padding: 0 0 10px 0;
  z-index: 1;
  position: relative;
  border: none;
  h1 {
    small {
      font-size: 45%;
      position: relative;
      padding: 0 0 0 18px;
      margin: 0 0 0 10px;
      border-left: 1px solid #777;
      top: -5px;
      color: #000;
    }
    margin: 0 auto;
    font-weight: 300;
    font-size: 36px;
    line-height: 1;
  }
}

/* --------------------->>> well <<<---------------------*/

.well {
  padding: 4% 5%;
  border: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.05), inset 0px -2px 5px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.05), inset 0px -2px 5px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.05), inset 0px -2px 5px rgba(0, 0, 0, 0.05);
  background: #f7f7f7;
}

.strip .well {
  background: white;
}

.well {
  h2 {
    margin-top: 0;
  }
  img {
    &.alignleft, &.alignright {
      margin-top: 2%;
    }
  }
}

/* --------------------->>> one line call to action <<<---------------------*/

.call-to-action {
  text-align: center;
  margin: 50px 0;
  h2 {
    display: inline;
    margin: 0;
    padding: 0 30px 0 0;
  }
}

/* --------------------->>> feature strip <<<---------------------*/

.feature-strip {
  margin: -40px 0 40px;
  padding: 2% 0;
  position: relative;
  z-index: 3;
  background: #5173a4 url(/assets/images/muted-blue-feature-strip-bg.jpg) center center;
  -moz-background-size: cover;
  -ie-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  box-shadow: inset 0 -8px 8px -8px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 -8px 8px -8px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: inset 0 -8px 8px -8px rgba(0, 0, 0, 0.05);
  h1 {
    font-size: 300%;
  }
}

/* Other background images for feature-strip:
	green-feature-strip-bg.png
	orange-feature-strip-bg.png
	blue-feature-strip-bg.png
*/

@media only screen and (min-width: 1980px) {
  .feature-strip {
    -moz-background-size: 100%;
    -ie-background-size: 100%;
    -o-background-size: 100%;
    -webkit-background-size: 100%;
    background-size: 100%;
  }
}

/* --------------------->>> feature box image and caption slider <<<---------------------*/
//
//.feature-strip-image-slider.flexslider {
//  position: relative;
//  .flex-direction-nav {
//    display: none;
//  }
//  .flex-control-nav {
//    position: relative;
//    display: block;
//    text-align: center;
//    left: 0;
//    width: 100%;
//    margin: 10px 0 0 0;
//    height: 20px;
//    overflow: hidden;
//    li {
//      margin: 0 0 0 5px;
//      display: inline-block;
//      zoom: 1;
//      *display: inline;
//    }
//  }
//  .flex-control-paging li a {
//    width: 6px;
//    height: 6px;
//    display: block;
//    border: 2px solid #777;
//    background: #777;
//    cursor: pointer;
//    text-indent: 9999px;
//    -webkit-border-radius: 20px;
//    -moz-border-radius: 20px;
//    border-radius: 20px;
//    &:hover {
//      background: transparent;
//    }
//    &.flex-active {
//      background: transparent;
//      border: 2px solid #777;
//      cursor: default;
//    }
//  }
//  p {
//    font-size: 90%;
//    text-align: center;
//    margin: 10px 0;
//  }
//  &.darkbg .flex-control-paging li a {
//    background: #fff;
//    width: 6px;
//    height: 6px;
//    border: 2px solid #fff;
//    &:hover {
//      background: transparent;
//    }
//    &.flex-active {
//      background: transparent;
//      border: 2px solid #fff;
//    }
//  }
//}

/* --------------------->>> dark background <<<---------------------*/

/* --------------------->>> basic image slider in blog or any other page <<<---------------------*/

.image-slider {
  &.flexslider {
    padding-bottom: 3%;
    position: relative;
  }
  .caption {
    text-align: left;
    margin-top: 0px;
    padding: 10px 0;
    clear: both;
    font-size: 85%;
    border-bottom: 1px solid #ddd;
    &.no-border {
      background: none;
    }
    p:last-child {
      margin-bottom: 0;
    }
  }
  .flex-direction-nav {
    .flex-disabled {
      display: none !important;
      cursor: default;
    }
    .flex-next {
      cursor: pointer;
      top: 30%;
      opacity: 0;
      margin-top: -20px;
      -webkit-transition: all 1s ease;
      -moz-transition: all 1s ease;
      transition: all 1s ease;
      position: absolute;
      z-index: 200;
      right: -40px;
      display: block;
      width: 40px;
      height: 40px;
      text-decoration: none;
      font-size: 20px;
      line-height: 38px;
      color: #fff;
      background: #000;
      text-align: center;
      -webkit-border-radius: 100px;
      -moz-border-radius: 100px;
      border-radius: 100px;
    }
    .flex-prev {
      cursor: pointer;
      top: 30%;
      opacity: 0;
      margin-top: -20px;
      -webkit-transition: all 1s ease;
      -moz-transition: all 1s ease;
      transition: all 1s ease;
      position: absolute;
      z-index: 200;
      right: -40px;
      display: block;
      width: 40px;
      height: 40px;
      text-decoration: none;
      font-size: 20px;
      line-height: 38px;
      color: #fff;
      background: #000;
      text-align: center;
      -webkit-border-radius: 100px;
      -moz-border-radius: 100px;
      border-radius: 100px;
      left: -40px;
      right: auto;
    }
  }
  .flex-prev:hover, .flex-next:hover {
    opacity: 0.5;
  }
  &:hover {
    .flex-next {
      opacity: 0.8;
      right: 5px;
    }
    .flex-prev {
      opacity: 0.8;
      left: 5px;
    }
    .flex-next:hover, .flex-prev:hover {
      opacity: 1;
    }
  }
}

.lt-ie8 .image-slider .flex-direction-nav {
  .flex-next i, .flex-prev i {
    position: relative;
    top: 10px;
  }
}

.image-slider .flex-direction-nav {
  .flex-next i {
    position: relative;
    left: 2px;
    top: 2px;
  }
  .flex-prev i {
    position: relative;
    top: 2px;
    left: -2px;
  }
}

.lt-ie9 .image-slider {
  .flex-direction-nav .flex-next, &:hover .flex-next {
    right: 0;
  }
  .flex-direction-nav .flex-prev, &:hover .flex-prev {
    left: 0;
  }
}

/* -------------------------------->>> COLUMNS <<<---------------------*/

/* --------------------- equal heights ---------------------*/

.equal {
  .content {
    *zoom: 1;
    &:before {
      display: table;
      content: "";
      line-height: 0;
    }
    &:after {
      display: table;
      content: "";
      line-height: 0;
      clear: both;
    }
  }
  &.equal-style [class*="span"] {
    background: #f7f7f7;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.07), 0px -2px 5px rgba(0, 0, 0, 0.07);
    -moz-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.07), 0px -2px 5px rgba(0, 0, 0, 0.07);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.07), 0px -2px 5px rgba(0, 0, 0, 0.07);
  }
  [class*="span"] [class*="span"] {
    background: transparent;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  &.equal-style .content {
    p:last-child {
      margin-bottom: 0;
    }
    padding: 20px;
  }
}

/* --------------------- featured columns on home page using equal heights ---------------------*/

.featured-columns {
  position: relative;
  .content {
    padding: 20px;
    clear: both;
  }
  .last {
    padding-bottom: 0;
    margin-bottom: 0;
  }
  [class*="span"] {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.05), inset 0px -2px 5px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.05), inset 0px -2px 5px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.05), inset 0px -2px 5px rgba(0, 0, 0, 0.05);
    background: #f7f7f7;
  }
  .banner-img {
    float: left;
    width: 100%;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
  }
  .innershadow {
    max-width: 100%;
    float: left;
    position: relative;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    &:before {
      content: "";
      position: absolute;
      z-index: 100;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      -webkit-border-radius: 5px 5px 0 0;
      -moz-border-radius: 5px 5px 0 0;
      border-radius: 5px 5px 0 0;
    }
  }
}

/* if you used this innershadow class on a link it will not display on IE8 unless you remove the :before */

.lt-ie9 .innershadow:before {
  display: none !important;
}

/* --------------------->>> left sidebar <<<---------------------*/

.row-fluid.sidebar-left {
  .span3 {
    float: left;
    margin-left: 0;
  }
  .span9 {
    float: right;
    margin-right: 0;
  }
}

.sidebar-left {
  background-image: url(/assets/images/rule.png);
  background-position: 23.5% 0;
  background-repeat: repeat-y;
  position: relative;
  z-index: 2;
  .secondary-column .widget {
    padding-right: 20px;
  }
}

/* --------------------->>> right sidebar <<<---------------------*/

.sidebar-right {
  background-image: url(/assets/images/rule.png);
  background-position: 76.5% 0;
  background-repeat: repeat-y;
  position: relative;
  z-index: 2;
  .secondary-column .widget {
    padding-left: 20px;
  }
}

/* --------------------->>> three columns fat skinny skinny <<<---------------------*/

.contemporary-three-columns {
  background-image: url(/assets/images/rule.png);
  //, url(/assets/images/rule.png);
  background-position: 50.75% 0, 76% 0;
  background-repeat: repeat-y;
  .secondary-column .widget {
    padding: 0 20px;
  }
  .tertiary-column .widget {
    padding-left: 20px;
  }
}

/* --------------------->>> holy grail skinny fat skinny <<<---------------------*/

.row-fluid.holy-grail {
  .primary-column {
    float: left;
    margin-left: 25.531914893617%;
    margin-right: -25.53191%;
  }
  .secondary-column {
    float: left;
    margin-left: -48.55%;
    *margin-left: -50%;
  }
  .tertiary-column {
    float: right;
  }
}

.holy-grail {
  background-image: url(/assets/images/rule.png);
  //, url(/assets/images/rule.png);
  background-position: 23.5% 0, 76.5% 0;
  background-repeat: repeat-y;
  position: relative;
  z-index: 2;
  .tertiary-column .widget {
    padding-left: 20px;
  }
  .secondary-column .widget {
    padding-right: 20px;
  }
}

.lt-ie9 {
  .contemporary-three-columns, .sidebar-right, .sidebar-left {
    background-image: none;
  }
}

/*--------------------------- widgets in sidebar ---------------------- */

.widget {
  margin: 0 0 30px 0;
  clear: both;
  ul, form {
    margin: 0;
  }
  p {
    font-size: 90%;
    &:last-child {
      margin: 0px;
    }
  }
  img {
    &.alignleft {
      margin: 5px 10px 0 0;
    }
    &.alignright {
      margin: 5px 0 0 10px;
    }
    &.aligncenter {
      margin: 0 0 10px 0;
      display: block;
      float: none;
      width: 100%;
    }
  }
}

/*sidebar images*/

.lt-ie8 {
  .sidebar-right .span9, .contemporary-three-columns .span6 {
    margin-left: 0 !important;
  }
}

/*--------------------------- sidebar tab pane widget ---------------------- */

.widget > .tab-pane > div.tabbable > ul.nav.nav-pills > li > a {
  padding: 3px 8px;
  font-size: 80%;
}

/*--------------------------- tags used in blog and in sidebar widget tab pane ---------------------- */

.tag-wrapper {
  margin: 10px 0 0 0;
  a {
    float: left;
    display: block;
    text-decoration: none;
    background: #eee;
    padding: 1px 10px;
    margin: 0 3px 3px 0;
    font-size: 85%;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
  }
}

.entry-tags a {
  float: left;
  display: block;
  text-decoration: none;
  background: #eee;
  padding: 1px 10px;
  margin: 0 3px 3px 0;
  font-size: 85%;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

.tag-wrapper a:hover, .entry-tags a:hover {
  background: #ddd;
}

/*--------------------------- sidebar navigation ---------------------- */

.navigation {
  margin-left: 0;
  padding-left: 0;
  li {
    margin-left: 0;
    padding: 0 0 3px 15px;
    list-style: none;
    display: block;
    position: relative;
    &:before {
      font-family: 'entypo';
      content: '\e75e';
      /*e-icon-right-open*/
      position: absolute;
      left: 0px;
      top: 1px;
      font-size: 10px;
      line-height: 2em;
    }
    a {
      text-decoration: none;
      display: block;
    }
    &.active a {
      font-weight: bold;
    }
  }
}

/*making proper hanging indent with an icon font works in ie 8 and above*/

ul.navigation {
  a:hover, li:hover a:before {
    font-weight: bold;
  }
}

.navigation li.active a:before, ul.navigation ul {
  margin-left: 10px;
  margin-bottom: 0;
  font-size: 90%;
}

/*--------------------------- widget with sponsors ---------------------- */

.widget .sponsors {
  margin: 0;
  padding: 0;
  li {
    margin: 0 3% 3% 0;
    padding: 0;
    list-style: none;
    float: left;
  }
}

.span3 .widget .sponsors li {
  width: 47%;
}

.span4 .widget .sponsors li {
  width: 100px;
  height: 100px;
}

/*--------------------------- image-widget in footer and sidebar ---------------------- */

.image-widget {
  position: relative;
  left: -5px;
  margin: 0;
  padding: 0;
  li {
    float: left;
    margin: 0 5px 10px 5px;
    width: 50px;
    height: 50px;
    list-style: none;
  }
  a {
    position: relative;
    float: left;
  }
}

/*sidebar image widget */

.widget .image-widget li {
  width: 45px;
  height: 45px;
}

/*--------------------------- .social icons wrapper (see fc-webicons.css) ---------------------- */

.social {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  li {
    display: inline-block;
    padding: 0 2px;
    *display: inline;
    *zoom: 1;
  }
}

/*--------------------------- .footer ---------------------- */

.footer {
  clear: both;
  padding: 0;
  position: relative;
  z-index: 1;
  background: url(/assets/images/3p.png);
  -webkit-box-shadow: inset 0 4px 5px -2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 4px 5px -2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 4px 5px -2px rgba(0, 0, 0, 0.05);
}

.lt-ie8 .footer {
  border-top: 1px solid #dddddd;
}

.footer {
  input {
    &[type="text"], &[type="password"], &[type="datetime"], &[type="datetime-local"], &[type="date"], &[type="month"], &[type="time"], &[type="week"], &[type="number"], &[type="email"], &[type="url"], &[type="search"], &[type="tel"], &[type="color"] {
      background: white;
    }
  }
  .row-fluid {
    margin: 20px 0;
  }
  p {
    font-size: 90%;
  }
  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  h4 {
    margin: 0 0 16px 0;
    padding: 0;
    text-transform: uppercase;
    font-size: 90%;
    span {
      border-bottom: 3px solid #5676a5;
    }
  }
  section {
    padding: 5px 0;
  }
  .social li {
    display: inline-block;
    padding: 0 2px 0 0;
    *padding: 0;
    *display: inline;
    *zoom: 1;
  }
  .tooltip {
    .tooltip-inner {
      background: #ccc;
      color: #000;
    }
    &.top .tooltip-arrow {
      border-top-color: #cccccc;
    }
  }
}

/*--------------------------- .footer-credits ---------------------- */

.footer-credits {
  position: absolute;
  position: static;
  z-index: 9000;
  font-size: 70%;
  //clear: both;
  text-align: center;
  text-transform: uppercase;
  background: #5676a5;
  height: 70px;
  width: 100%;
  left: 0;
  bottom: 0;

  .container{
    padding-right: 0px !important;
    padding-left: 0px !important;
  }

  ul {
    list-style: none;
    padding: 10px 0;
    margin: 0;
    position: relative;
  }

  li {
    display: inline;
    padding: 0 12px 0 8px;
    border-left: 1px solid #fff;
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    &:first-child {
      border: none;
    }
  }
  .first {
    border: none;
  }
  li:first-child {
    padding-left: 0;
  }
  a, li {
    color: white;
    text-decoration: none;
    margin: 0;
  }
  * {
    color: #fff;
    color: rgba(255, 255, 255, 0.7);
  }
}

.no-rgba .footer-credits * {
  color: #fff;
}

.footer-credits a:hover {
  color: white;
}

/* --------------------->>> sign in page (not toggle) <<<---------------------*/

.form-signin {
  max-width: 500px;
  padding: 3% 3% 0;
  margin: 0 auto 20px;
  .checkbox {
    margin-bottom: 10px;
  }
  input {
    &[type="email"], &[type="password"] {
      height: auto;
      margin-bottom: 15px;
      padding: 7px 9px;
    }
  }
  .btn {
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-bottom: 3% !important;
  }
}

.lt-ie8 .form-signin .social {
  float: left;
  left: 45%;
  position: relative;
  div {
    float: left;
    position: relative;
    left: -50%;
  }
  a {
    float: left;
  }
}

/* --------------------->>> registration page <<<---------------------*/

.form-register {
  max-width: 500px;
  padding: 3% 3% 0;
  margin: 0 auto 20px;
  input {
    &[type="email"], &[type="password"] {
      height: auto;
      margin-bottom: 15px;
      padding: 7px 9px;
    }
  }
  .btn {
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-bottom: 3% !important;
  }
}

.lt-ie8 .form-register .social {
  float: left;
  left: 45%;
  position: relative;
  div {
    float: left;
    position: relative;
    left: -50%;
  }
  a {
    float: left;
  }
}

/* --------------------->>> testimonial page <<<---------------------*/

.testimonial-gallery li {
  padding-top: 10px;
  padding-bottom: 10px;
  background: #f7f7f7;
  &.primary-color-bg {
    color: #fff;
    blockquote {
      background-image: url(/assets/images/open-quote-white.png);
    }
  }
  blockquote {
    margin-bottom: 0;
    font-size: 100%;
  }
}

/* ----------------------- rotating testimonials used in widgets and on home page */

.rotating-testimonials {
  padding: 10px 0px;
  .tabs {
    clear: both;
    list-style: none;
    margin: 0 0 10px 0;
    padding: 0px;
    text-align: left;
    li {
      background: #444444;
      border: none;
      display: inline-block;
      *display: inline;
      height: 8px;
      width: 8px;
      margin: 15px 5px 0px;
      zoom: 1;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
    }
  }
}

.no-js .rotating-testimonials .tabs li {
  display: none;
}

.rotating-testimonials {
  .tabs li {
    &.active, &:hover {
      background: #999999;
      padding: 0px;
    }
    a {
      display: block;
      height: 20px;
      padding: 0px;
      text-indent: 9999px;
      overflow: hidden;
    }
  }
  .panels {
    width: 100%;
    blockquote {
      margin-bottom: 0;
      background-color: transparent;
      border: 0px;
    }
  }
}

.sidebar .rotating-testimonials {
  .panels blockquote {
    font-size: 100%;
    padding: 0;
    margin-bottom: 0;
    background-image: none !important;
  }
  .tabs {
    text-align: right;
    margin-bottom: 0;
  }
}

/* ----------------------- flexslider core used whenever there is a flexslider */

.flex-container a:active, .flexslider a:active, .flex-container a:focus, .flexslider a:focus {
  outline: none;
}

.slides, .flex-control-nav, .flex-direction-nav {
  list-style: none;
  margin: 0;
  padding: 0;
}

.flexslider {
  margin: 0;
  padding: 0;
  .slides {
    > li {
      display: none;
      -webkit-backface-visibility: hidden;
      position: relative;
    }
    img {
      width: 100%;
      display: block;
    }
  }
}

.slides:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

* html .slides {
  height: 1%;
}

html[xmlns] .slides, .no-js .slides > li:first-child {
  display: block !important;
}

/* ----------------------- isotope/masonry base ---------------------------*/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

.isotope {
  -webkit-transition-duration: .8s;
  -moz-transition-duration: .8s;
  transition-duration: .8s;
  .isotope-item {
    -webkit-transition-duration: .8s;
    -moz-transition-duration: .8s;
    transition-duration: .8s;
    -webkit-transition-property: 0 opacity;
    -moz-transition-property: 0 opacity;
    transition-property: transform, opacity;
  }
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  transition-property: height, width;
}

/* ----------------------- isotope/masonry layout core used in blog and portfolio summary pages ---------------------------*/

.masonry {
  img {
    width: 100%;
  }
  position: relative;
  left: -1%;
  width: 102.87%;
  margin: 4px 0 0 0;
  padding: 2px 0 0 0;
  list-style: none;
  clear: both;
  li {
    float: left;
    width: 22.25%;
    margin: 0 1% 20px 1%;
    padding: 0 0 5px 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  }
  &.four_col li {
    width: 22.25%;
  }
  &.three_col li {
    width: 31%;
  }
  &.two_col li {
    width: 47%;
  }
}

/* ----------------------- masonry columns ---------------------------*/

.three_col li h4, .four_col li h4 {
  overflow: hidden;
  font-size: 120%;
}

/* ----------------------- masonry image ---------------------------*/

.masonry {
  li img {
    width: 100% !important;
    max-width: none;
  }
  img {
    background: white url(/assets/images/loader.gif) no-repeat 50% 50%;
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
  }
}

/* --------------------->>> filter for isotope <<<---------------------*/

#filter {
  display: none;
}

.filter-box {
  width: 100%;
}

.sort {
  float: left;
  position: relative;
  list-style: none;
  margin: 0 0 10px 0;
  padding: 0 0 10px 0;
  background: none;
  top: auto;
  width: auto;
  left: -15px;
  border: none;
  li {
    padding: 0 15px;
    margin: 0;
    float: left;
    position: relative;
    border-right: 1px solid #ddd;
    a {
      text-decoration: none;
      line-height: normal;
      display: block;
      color: #999;
    }
    &:last-child {
      border: none;
    }
    a:hover {
      color: black;
    }
  }
  a.active {
    color: black;
  }
}

.no-js {
  .masonry {
    margin-top: 20px;
  }
  .sort, .entry-summary, .categories, span.credit {
    display: none !important;
  }
  .masonry li {
    height: 200px;
    overflow: hidden;
  }
}

/* --------------------->>> back to top <<<---------------------*/

.backToTop {
  position: fixed;
  bottom: 0;
  z-index: 1000;
  right: 0;
  a {
    width: 30px;
    height: 30px;
    color: #fff;
    text-decoration: none;
    line-height: 30px;
    font-size: 20px;
    text-align: center;
    display: block;
    margin: 0;
    background: #000;
    &:hover {
      background-color: #333333;
    }
  }
}

/* --------------------->>> IE6 NOTICE <<<---------------------*/

.lt-ie7 {
  .header, #switcher-wrapper {
    display: none;
  }
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  font-size: 300%;
  padding: 0.2em 0;
}
