// Hide helper tags on mobile and small screens
@media (max-width: 768px) {
  #helper_tabs {
    display: none;
  }
}

@media only screen and (max-width: 1200px) {
  body {
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 1.7;
  }
  #logo {
    .logo-svg, img {
      max-width: 175px;
    }
  }
/*----- .container class (separated incase you want to change it)----*/
  .container {
    padding: 0 5%;
  }
  .page-header h1 {
    padding: 3% 5% 1.5% 5%;
  }
}

@media only screen and (max-width: 979px) {
  body {
    font-size: 13px;
    font-size: 1.3rem;
    line-height: 1.5;
  }
  #logo {

    margin-top: 0px !important;
    position: absolute !important;
    top: 0px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    z-index: 1000;

  }
  .navbar.secondary-menu {
    #logo {
      display: none !important;
    }
  }

  .container {
    padding: 0 5%;
  }
  .page-header {
    margin: -40px 0 0 0;
  }
  .hero-unit {
    padding: 2% 5%;
    margin-top: -40px;
    h1 {
      font-size: 170%;
    }
    p {
      font-size: 90%;
    }
    .content h3 {
      font-size: 120%;
      margin-bottom: 0;
    }
  }
  #page {
    margin-top: 0;
    padding: 0 0 0 0;
    position: relative;
  }
  .bg {
    position: absolute;
    left: 0;
    top: 0;
  }
/* --------------------->>> Text Logo Mobile (text-logo.html) <<<---------------------*/
  #logo {
    &.text-logo h2 {
      line-height: 50px;
      height: 55px;
      float: none;
      text-align: center;
      font-size: 35px;
    }
    background-image: url(/assets/logos/logo_3@2x.png);
    margin: 07px !important;
    text-align: center;
    clear: both;
    position: relative;
    float: none;

  }
/* ----------------------- svg logo mobile ---------------------------*/

  .logo-svg {
    height: auto;
    width: auto;
    max-width: 100%;
    min-width: 50%;
    max-height: 55px;
  }
  #logo img {
    margin: 0 auto;
    max-height: 55px;
  }
/* ----------------------- header mobile ---------------------------*/
  .header {
    height: auto;
    clear: both;
    margin: 0;
    position: relative;
    top: auto;
    width: 100%;
    padding: 0;
    max-width: none;
  }
  .no-js .header * {
    position: relative !important;
    top: auto !important;
    clear: both !important;
  }
  .header .container {
    padding: 0;
  }
/* ----------------------- mobile navigation trigger ---------------------------*/

  .mobile_nav {
    margin: 0;
    display: block;
    position: relative;
    top: 0;
    left: 0;
    height: 40px;
    width: 100%;
    background: #5676a5;
    a {
      span {
        display: block;
        width: 20px;
        height: 40px;
        padding: 0;
        position: absolute;
        right: 15px;
        top: 0px;
        background: url(/assets/misc/navtriggerbg.png) -20px 50% no-repeat;
      }
      &.active span {
        background-position: -60px 50%;
      }
      position: absolute;
      right: 0;
      color: #fff;
      text-decoration: none;
      display: block;
      padding: 0 0 0 5px;
      height: 40px;
      width: 70px;
      border: 0px;
      line-height: 38px;
      z-index: 1000;
    }
  }
  .no-js .mobile_nav {
    display: none;
  }
/* ----------------------- menus mobile adjustments ---------------------------*/
  .navbar.primary-menu > .navbar-inner {
    float: none;
    right: auto;
  }
  .secondary-menu {
    position: relative;
    height: auto;
    clear: both;
    top: auto;
    overflow: visibile;
    position: relative;
    font-size: 100%;
  }
  .primary-menu {
    position: relative;
    height: auto;
    clear: both;
    top: auto;
    overflow: visibile;
    position: relative;
    font-size: 100%;
    &.navbar {
      .nav .active {
        a {
          background: #f8f8f8;
        }
        li.active a, a:hover {
          background: #eee !important;
        }
      }
      .dropdown.open.active > .dropdown-menu li.active ul a {
        background-color: #fff;
      }
    }
  }
/*standard link  */
/*active grandchild link */
  .dropdown.parent.active > .dropdown-menu > .dropdown-submenu.parent.active > .dropdown-menu > li.active > a {
    background-color: #eee;
  }
  .primary-menu.navbar ul {
    margin: 0 !important;
    padding: 0 !important;
    li {
      margin: 0 !important;
      padding: 0 !important;
    }
  }
  .secondary-menu.navbar ul li {
    margin: 0 !important;
    padding: 0 !important;
  }
  .primary-menu.navbar .nav > li ul {
    max-width: none;
    min-width: none;
    width: auto;
  }
  .secondary-menu.navbar {
    .nav > li ul {
      max-width: none;
      min-width: none;
      width: auto;
    }
    margin: 0;
  }
  .primary-menu {
    &.navbar {
      margin: 0;
      .nav > li a {
        padding: 10px 0 10px 15px;
        line-height: normal;
        display: block;
        width: auto;
        margin: 0;
        max-width: none;
        min-width: none;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
      }
    }
    .dropdown-menu {
      -webkit-border-radius: 0 !important;
      -moz-border-radius: 0 !important;
      border-radius: 0 !important;
      box-shadow: none !important;
      -moz-box-shadow: none !important;
      -webkit-box-shadow: none !important;
    }
  }
  .secondary-menu.navbar {
    .dropdown-menu .nav-header {
      padding: 10px 20px !important;
    }
    .nav > li {
      a {
        margin-bottom: 0;
      }
      li a:hover {
        text-decoration: underline;
      }
    }
  }
  .primary-menu.navbar {
    .nav > li {
      ul li {
        a {
          padding: 10px 0 10px 30px;
          line-height: normal;
        }
        ul li a {
          padding: 10px 0 10px 40px;
        }
      }
      > .dropdown-menu {
        display: block;
      }
    }
    .dropdown-submenu > .dropdown-menu {
      display: block;
    }
  }
  .secondary-menu.navbar .nav > li > .dropdown-menu {
    border: 0px;
    padding: 10px 0;
    margin: 0;
    form {
      margin: 0 0 10px 0;
      margin: 0 0 10px 0;
    }
    &.signin input {
      &[type="text"], &[type="email"], &[type="password"] {
        width: 90%;
        padding-left: 4%;
        padding-right: 4%;
      }
    }
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
  }
  .js {
    .primary-menu, .secondary-menu {
      display: none;
    }
  }
  #search-trigger {
    display: none !important;
  }
  .search-wrapper {
    input {
      display: block !important;
      width: 80%;
      padding-left: 5%;
      padding-right: 5%;
      margin-left: 15px;
      text-align: center;
      margin: auto;
    }
    clear: both;
    form {
      margin: 0;
    }
  }
  .navbar.secondary-menu > .navbar-inner > .nav-collapse.collapse > .nav >   {
    .search-wrapper {
      padding-left: 15px !important;
    }
    .dropdown > .dropdown-menu {
      padding-left: 20px;
    }
  }
  a[href^=tel] {
    text-decoration: none;
  }
}

/* end max-width 979px*/

@media only screen and (max-width: 767px) {
  h1, h2 {
    font-weight: 400;
  }
  #page {
    margin-top: 0;
    padding: 0 0 0 0;
  }
  .featured-columns .innershadow {
    max-width: none;
    float: none;
    &:before {
      display: none;
    }
  }
  .widget {
    margin: 0 0 1.5% 0 !important;
    background: #f8f8f8;
    padding: 15px !important;
    border: 1px solid #eee;
    ul.blogposts span.date {
      background: white;
    }
  }
  .equal [class*="span"] {
    margin-bottom: 2%;
  }
  .row-fluid.holy-grail {
    .primary-column {
      float: none;
      margin-left: 0%;
      margin-right: 0%;
    }
    .secondary-column {
      float: none;
      margin-left: 0%;
      *margin-left: 0%;
    }
    .tertiary-column {
      float: none;
    }
  }
  .sidebar-right, .contemporary-three-columns, .holy-grail, .sidebar-left {
    background-image: none;
  }
  .span3 .widget .sponsors li, .span4 .widget .sponsors li {
    width: auto;
    height: auto;
  }
  .short_headline {
    margin: .5em 0 1em 0;
    line-height: inherit;
    font-size: 130%;
    span {
      padding: 0;
    }
  }
  .hero-unit {
    margin: 0;
    padding: 1% 3% 2%;
    h1, h2 {
      font-size: 130%;
      line-height: 1.3;
    }
    p:last-child {
      margin-bottom: 2%;
    }
  }
  .page-header {
    margin: 0 0 15px 0;
    padding: 0;
    h1 {
      padding: 3% 5% 1.5% 5%;
      font-size: 150%;
      small {
        padding: 10px 0 0;
        margin: 0;
        border-left: 0px;
        top: 0;
        font-size: 60%;
      }
    }
  }
  .call-to-action {
    margin: 20px 0;
    padding: 0 3%;
    h2 {
      display: block;
      margin: 0 0 10px;
      padding: 0;
    }
  }
  .login-box {
    width: 100%;
    .pull-left, .pull-right {
      width: 100%;
      padding: 3% 0;
      float: none;
    }
    .login-wrapper {
      background-image: none;
    }
  }
  .masonry {
    li, &.four_col li, &.three_col li, &.two_col li {
      width: 44.5%;
    }
  }
  .no-js {
    .filter-box, .sort {
      display: none;
    }
  }
  .filter-box {
    position: relative;
  }
  #filter {
    display: block;
    width: 185px;
    font-weight: normal;
    line-height: 20px;
    height: 20px;
    background: #fff;
    border: 1px solid #eee;
    padding: 5px 5px 5px 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    position: relative;
  }
  .sort {
    position: absolute;
    top: 40px;
    background: #fff;
    width: 200px;
    display: none;
    z-index: 20;
    margin: 0;
    padding: 0;
    left: 0;
    border: 1px solid #eee;
    border-top: 0px;
    li {
      list-style: none;
      float: none;
      padding: 0;
      border: none;
      a {
        display: block;
        text-decoration: none;
        padding: 2px 8px;
        float: none;
        line-height: 30px;
        border: 0px;
        position: relative;
      }
      &:after {
        content: "";
        padding-left: 0;
        color: #777;
      }
      &.first a {
        padding: 2px 8px;
        border: none;
      }
    }
  }
  ul.sort li:first-child a {
    padding: 2px 8px;
    border: none;
  }
  #filter {
    i {
      position: absolute;
      top: 5px;
      right: 10px;
      display: block;
    }
    &.active i:before {
      content: "\e767";
    }
  }
  .clientlogos .span2 {
    float: left;
    width: 33%;
  }
  .feature-strip {
    h1 {
      font-size: 200%;
    }
    margin: -20px 0 20px;
  }
}

/* end max-width 767px*/

@media only screen and (max-width: 600px) {
  body {
    font-size: 13px;
    font-size: 1.3rem;
    line-height: 1.5;
  }
  .logo-svg, #logo img {
    max-height: 35px;
  }
  img {
    &.alignright, &.alignleft {
      float: none;
      margin: 1% 0;
    }
  }
  .well img {
    &.alignleft, &.alignright {
      width: auto;
      max-width: 100%;
    }
  }
  label {
    &.checkbox.inline, &.radio.inline {
      width: 100% !important;
      clear: both;
      margin: 0 !important;
      display: block;
    }
  }
  .form-inline label {
    width: 100% !important;
    clear: both;
    margin: 0 !important;
    display: block;
  }
  #registration-form-extended select, #registration-form select {
    margin-bottom: 5px;
  }
  form span.info {
    clear: both;
    display: block;
  }
  .masonry {
    &.three_col li, &.four_col li, &.two_col li {
      width: 98%;
      margin: 0 1% 10px 1%;
    }
  }
}

/* end max-width 600px*/

/*---------------------------- RETINA -------------------------- */

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .testimonial-gallery li.primary-color-bg blockquote {
    background-image: url(/assets/misc/retina/open-quote-white_@2x.png);
    -moz-background-size: 38px 38px;
    -ie-background-size: 38px 38px;
    -o-background-size: 38px 38px;
    -webkit-background-size: 38px 38px;
    background-size: 38px 38px;
  }
  .masonry img {
    background-image: url(/assets/misc/retina/loader_@2x.gif);
    -moz-background-size: 80px 10px;
    -ie-background-size: 80px 10px;
    -o-background-size: 80px 10px;
    -webkit-background-size: 80px 10px;
    background-size: 80px 10px;
  }
}

/* ----------------------- RETINA MOBILE ----------------------- */

@media only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 979px), only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 979px), only screen and (-moz-min-device-pixel-ratio: 2) and (max-width: 979px), only screen and (-o-min-device-pixel-ratio: 2 / 1) and (max-width: 979px), only screen and (min-device-pixel-ratio: 2) and (max-width: 979px), only screen and (min-resolution: 192dpi) and (max-width: 979px), only screen and (min-resolution: 2dppx) and (max-width: 979px) {
  .mobile_nav a span {
    background-image: url(/assets/misc/retina/navtriggerbg_@2x.png);
    -moz-background-size: 80px 40px;
    -ie-background-size: 80px 40px;
    -o-background-size: 80px 40px;
    -webkit-background-size: 80px 40px;
    background-size: 80px 40px;
  }
}

/*TEST*/

