@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Aerlinger\/Dropbox\/homespree\/HomespreeRails\/app\/assets\/stylesheets\/global\/palette\.css\.scss}line{font-family:\0000327}}
.inset-shadow {
  -moz-box-shadow: inset 0 0 10px black;
  -webkit-box-shadow: inset 0 0 10px black;
  box-shadow: inset 0 0 10px black; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Aerlinger\/Dropbox\/homespree\/HomespreeRails\/app\/assets\/stylesheets\/global\/theme\.css\.scss}line{font-family:\000033}}
textarea:not(.pitch), input:not(.pitch) {
  border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -webkit-border-radius: 0 !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Aerlinger\/Dropbox\/homespree\/HomespreeRails\/app\/assets\/stylesheets\/global\/theme\.css\.scss}line{font-family:\000039}}
.no-bg {
  background: none !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Aerlinger\/Dropbox\/homespree\/HomespreeRails\/app\/assets\/stylesheets\/global\/theme\.css\.scss}line{font-family:\0000313}}
.navbar-fixed-top {
  position: relative !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Aerlinger\/Dropbox\/homespree\/HomespreeRails\/app\/assets\/stylesheets\/global\/theme\.css\.scss}line{font-family:\0000317}}
ul.nav-collapse li a:hover {
  color: white !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Aerlinger\/Dropbox\/homespree\/HomespreeRails\/app\/assets\/stylesheets\/global\/theme\.css\.scss}line{font-family:\0000321}}
.sidenav li a:hover {
  color: black !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Aerlinger\/Dropbox\/homespree\/HomespreeRails\/app\/assets\/stylesheets\/global\/theme\.css\.scss}line{font-family:\0000322}}
  .sidenav li a:hover .active {
    color: white !important;
    text-shadow: none !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Aerlinger\/Dropbox\/homespree\/HomespreeRails\/app\/assets\/stylesheets\/global\/theme\.css\.scss}line{font-family:\0000329}}
.no-margin {
  margin: 0 !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Aerlinger\/Dropbox\/homespree\/HomespreeRails\/app\/assets\/stylesheets\/global\/theme\.css\.scss}line{font-family:\0000333}}
.no-padding {
  padding: 0 !important; }

/* --------------------->>> main containers <<<---------------------*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Aerlinger\/Dropbox\/homespree\/HomespreeRails\/app\/assets\/stylesheets\/global\/theme\.css\.scss}line{font-family:\0000338}}
#prefix {
  margin: 120px 0 0 0;
  /* 40px (secondary-menu) + 80px (primary-menu and logo) + 40px (standard margin)*/
  clear: both; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Aerlinger\/Dropbox\/homespree\/HomespreeRails\/app\/assets\/stylesheets\/global\/theme\.css\.scss}line{font-family:\0000343}}
body.desktop {
  background-image: url(/assets/homebackground.jpg);
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Aerlinger\/Dropbox\/homespree\/HomespreeRails\/app\/assets\/stylesheets\/global\/theme\.css\.scss}line{font-family:\0000353}}
  body.desktop .navbar {
    margin: 0px !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Aerlinger\/Dropbox\/homespree\/HomespreeRails\/app\/assets\/stylesheets\/global\/theme\.css\.scss}line{font-family:\0000357}}
  body.desktop div.spacer10px {
    display: block;
    height: 10px;
    width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Aerlinger\/Dropbox\/homespree\/HomespreeRails\/app\/assets\/stylesheets\/global\/theme\.css\.scss}line{font-family:\0000363}}
  body.desktop div.spacer20px {
    display: block;
    height: 20px;
    width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Aerlinger\/Dropbox\/homespree\/HomespreeRails\/app\/assets\/stylesheets\/global\/theme\.css\.scss}line{font-family:\0000369}}
  body.desktop a {
    color: #338bb8; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Aerlinger\/Dropbox\/homespree\/HomespreeRails\/app\/assets\/stylesheets\/global\/theme\.css\.scss}line{font-family:\0000375}}
    body.desktop a:hover {
      color: #3799ca; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Aerlinger\/Dropbox\/homespree\/HomespreeRails\/app\/assets\/stylesheets\/global\/theme\.css\.scss}line{font-family:\0000380}}
  body.desktop a.btn {
    color: white; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Aerlinger\/Dropbox\/homespree\/HomespreeRails\/app\/assets\/stylesheets\/global\/theme\.css\.scss}line{font-family:\0000383}}
    body.desktop a.btn:hover {
      color: white;
      text-decoration: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Aerlinger\/Dropbox\/homespree\/HomespreeRails\/app\/assets\/stylesheets\/global\/theme\.css\.scss}line{font-family:\0000389}}
  body.desktop .nav-list li a:hover {
    color: #deebfd; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Aerlinger\/Dropbox\/homespree\/HomespreeRails\/app\/assets\/stylesheets\/global\/theme\.css\.scss}line{font-family:\0000393}}
  body.desktop .center-align {
    text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Aerlinger\/Dropbox\/homespree\/HomespreeRails\/app\/assets\/stylesheets\/global\/theme\.css\.scss}line{font-family:\0000397}}
  body.desktop .right-align {
    text-align: right; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Aerlinger\/Dropbox\/homespree\/HomespreeRails\/app\/assets\/stylesheets\/global\/theme\.css\.scss}line{font-family:\00003101}}
  body.desktop .left-align {
    text-align: left; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Aerlinger\/Dropbox\/homespree\/HomespreeRails\/app\/assets\/stylesheets\/global\/theme\.css\.scss}line{font-family:\00003105}}
  body.desktop h1, body.desktop h3 {
    font-weight: 300; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Aerlinger\/Dropbox\/homespree\/HomespreeRails\/app\/assets\/stylesheets\/global\/theme\.css\.scss}line{font-family:\00003109}}
  body.desktop h2 {
    font-size: 1.9em;
    color: #303b6a;
    font-weight: 100; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Aerlinger\/Dropbox\/homespree\/HomespreeRails\/app\/assets\/stylesheets\/global\/theme\.css\.scss}line{font-family:\00003115}}
  body.desktop .slogan {
    font-style: italic; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Aerlinger\/Dropbox\/homespree\/HomespreeRails\/app\/assets\/stylesheets\/global\/theme\.css\.scss}line{font-family:\00003119}}
  body.desktop .black-bottom {
    border-bottom: 1px solid black; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Aerlinger\/Dropbox\/homespree\/HomespreeRails\/app\/assets\/stylesheets\/global\/theme\.css\.scss}line{font-family:\00003123}}
  body.desktop .gray-bottom {
    border-bottom: 1px solid #818181; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Aerlinger\/Dropbox\/homespree\/HomespreeRails\/app\/assets\/stylesheets\/global\/theme\.css\.scss}line{font-family:\00003127}}
  body.desktop light-bottom {
    border-bottom: 2px solid #bdcffd !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Aerlinger\/Dropbox\/homespree\/HomespreeRails\/app\/assets\/stylesheets\/global\/theme\.css\.scss}line{font-family:\00003133}}
  body.desktop .carousel-control a:hover {
    text-decoration: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Aerlinger\/Dropbox\/homespree\/HomespreeRails\/app\/assets\/stylesheets\/global\/theme\.css\.scss}line{font-family:\00003139}}
  body.desktop .block-underline {
    display: block;
    width: 500px;
    overflow: show !important;
    text-align: left;
    white-space: nowrap;
    line-height: 1.4em;
    border-bottom: 1px solid #bdcffd; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Aerlinger\/Dropbox\/homespree\/HomespreeRails\/app\/assets\/stylesheets\/global\/theme\.css\.scss}line{font-family:\00003149}}
  body.desktop .block-underline-full {
    display: block;
    width: 100%;
    max-width: 100%;
    text-align: left;
    line-height: 1.4em;
    border-bottom: 2px solid #bdcffd; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Aerlinger\/Dropbox\/homespree\/HomespreeRails\/app\/assets\/stylesheets\/global\/theme\.css\.scss}line{font-family:\00003158}}
  body.desktop .block-underline-small {
    display: inline-block;
    width: 100%;
    overflow: show !important;
    text-align: left;
    line-height: 1.4em;
    border-bottom: 1px solid #bdcffd;
    margin-bottom: 5px !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Aerlinger\/Dropbox\/homespree\/HomespreeRails\/app\/assets\/stylesheets\/global\/theme\.css\.scss}line{font-family:\00003168}}
  body.desktop h3 {
    color: #3d4a91;
    text-align: left;
    font-size: 22px;
    line-height: 23px;
    margin-bottom: 0;
    padding-bottom: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Aerlinger\/Dropbox\/homespree\/HomespreeRails\/app\/assets\/stylesheets\/global\/theme\.css\.scss}line{font-family:\00003177}}
  body.desktop h4 {
    margin: 0;
    margin-bottom: 1em;
    margin-top: 0;
    color: #8a9bf2; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Aerlinger\/Dropbox\/homespree\/HomespreeRails\/app\/assets\/stylesheets\/global\/theme\.css\.scss}line{font-family:\00003184}}
  body.desktop .subhead {
    font-weight: 400;
    color: #aaaaaa;
    margin-bottom: 40px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Aerlinger\/Dropbox\/homespree\/HomespreeRails\/app\/assets\/stylesheets\/global\/theme\.css\.scss}line{font-family:\00003190}}
  body.desktop .quotes {
    font-size: 24px;
    color: #555555; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Aerlinger\/Dropbox\/homespree\/HomespreeRails\/app\/assets\/stylesheets\/global\/theme\.css\.scss}line{font-family:\00003196}}
  body.desktop .navbar .nav .active a,
  body.desktop .footer-box .active a {
    color: #ffffff;
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    text-shadow: 0px 0px 13px black, 0px -1px 1px rgba(0, 0, 0, 0.6); }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Aerlinger\/Dropbox\/homespree\/HomespreeRails\/app\/assets\/stylesheets\/global\/theme\.css\.scss}line{font-family:\00003206}}
  body.desktop .navbar .nav li a:hover,
  body.desktop .footer-box a:hover {
    color: #334fa8;
    text-shadow: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Aerlinger\/Dropbox\/homespree\/HomespreeRails\/app\/assets\/stylesheets\/global\/theme\.css\.scss}line{font-family:\00003212}}
  body.desktop .navbar .nav .active a:hover,
  body.desktop .footer-box .active a:hover {
    color: #4fb6e9;
    text-shadow: none;
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    text-shadow: 0 1px 0 white; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Aerlinger\/Dropbox\/homespree\/HomespreeRails\/app\/assets\/stylesheets\/global\/theme\.css\.scss}line{font-family:\00003221}}
  body.desktop * highlight section .highlight {
    margin-top: 40px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Aerlinger\/Dropbox\/homespree\/HomespreeRails\/app\/assets\/stylesheets\/global\/theme\.css\.scss}line{font-family:\00003225}}
  body.desktop * shadows .shadow {
    position: relative; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Aerlinger\/Dropbox\/homespree\/HomespreeRails\/app\/assets\/stylesheets\/global\/theme\.css\.scss}line{font-family:\00003228}}
    body.desktop * shadows .shadow:before, body.desktop * shadows .shadow:after {
      left: 18px;
      z-index: -1;
      position: absolute;
      width: 90%;
      height: 90%;
      bottom: 18px;
      content: "";
      -webkit-transform: rotate(-1deg);
      -moz-transform: rotate(-1deg);
      -o-transform: rotate(-1deg);
      transform: rotate(-1deg);
      -webkit-box-shadow: 0 10px 10px black;
      -moz-box-shadow: 0 10px 10px black;
      box-shadow: 0 10px 10px black; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Aerlinger\/Dropbox\/homespree\/HomespreeRails\/app\/assets\/stylesheets\/global\/theme\.css\.scss}line{font-family:\00003248}}
  body.desktop #logo {
    position: relative;
    top: 33px;
    margin: -7px -180px -27px 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Aerlinger\/Dropbox\/homespree\/HomespreeRails\/app\/assets\/stylesheets\/global\/theme\.css\.scss}line{font-family:\00003253}}
    body.desktop #logo img {
      width: 65%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Aerlinger\/Dropbox\/homespree\/HomespreeRails\/app\/assets\/stylesheets\/global\/theme\.css\.scss}line{font-family:\00003259}}
footer {
  opacity: 1;
  background: white; }
