:markdown

  This Terms Of Service Agreement was last updated on June 20, 2013.

  This Terms Of Service Agreement is effective as of June 20, 2013.

  ## 1. Introduction to the Contractor Terms of Service Agreement

  Thank you (“User”, “Contractor”) for your interest in Homespree.com, an Internet platform (“Website”) owned and
  operated by Homespree, Inc., a Delaware corporation (“Homespree”, “we”, “us”, “our”).

  Homespree provides you a radically easier way to sell your services to homeowners (“Consumers”) online.

  By registering and being approved on the Website, you become a Contractor at no cost and will have the ability to
  service Consumers’ Service Requests, schedule appointments and manage payments for Home Improvement Services. Future
  references to Website shall include, but are not limited to, any and all uses of www.myhomespree.com via mobile
  devices, personal computers, email, telephones and other electronic devices.

  ## 2. Acknowledgement and Acceptance

  **a. Your Unconditional Acceptance**

  This Website and Homespree’s services are offered to you for use only in the United States and are conditioned upon
  your unconditional acceptance, without modification, of the following terms, conditions, and notices (“Terms”)
  contained in this Homespree Terms of Service ("Agreement"). Please read this Agreement carefully. Regardless of
  whether you register with the Website, your use of the Website and any related services constitutes your agreement to
  all Terms. You agree and understand that certain features of the Website may be subject to additional terms and
  conditions or registration requirements. You agree to abide by these additional terms, and you further agree that a
  violation of those terms while you are accessing the Website shall constitute a breach of this Agreement. This
  Agreement also includes Homespree’s Privacy Policy and any notices regarding the Website.

  **b. Amendments**

  You acknowledge and agree that Homespree may amend this Agreement at any time by posting a revised version of this
  Agreement on the Website or by notifying Contractors directly in Homespree’s sole discretion. Your continued use of
  the Website after any changes are made to this Agreement shall constitute your consent to such changes. Homespree
  does not and will not assume any obligation to notify Contractors of any changes to this Agreement, or the creation
  or modification of any additional terms. You are responsible for remaining knowledgeable about the Terms of the
  Agreement.

  ## 3. Use and Age Restrictions**

  Use of the Website is permitted only by individuals who can form legally binding contracts under applicable Law.
  Without limiting the foregoing, use of the Homespree Website is not permitted by anyone under the age of 18. If you do
   not qualify, please do not use the Website.

  ## 4. No Implied Further Agreement

  Homespree makes no assurance that a Contractor will receive a minimum or particular number of interested customers or
  receive a minimum or particular dollar amount of business under this Agreement. Nothing in this Agreement obligates
  Homespree to refer the Contractor to any Consumer for any particular Project. In view of the foregoing, the Parties
  represent and warrant to one another that any investments or expenditures a Party has made or may make, in
  anticipation or following execution of this Agreement, are at such Party’s sole and knowing risk.

  ## 5. Ratings

  Homespree provides a rating for each Contractor. Contractor ratings are typically derived from the following sources:
  (1) Consumer ratings – Consumers can rate Contractors who either performed a Service Request for the Consumer or who
  have an appointment with the Contractor; (2) Contractor provided ratings – Contractors can provide ratings from a
  legitimate external site for use on Homespree’s Website; and (3) Homespree located ratings – Homespree can find and
  use ratings concerning a Contractor that are listed on a legitimate external site. In its absolute discretion,
  Homespree may from time to time remove reviews that are not applicable. If Contractor disagrees with a rating, it may
  appeal to Homespree through email at founders@myhomespree.com; however, ultimately, Homespree has sole discretion on
  ratings posted on the Website.

  ## 6. Registration and Contractor Profile

  Prior to becoming an active Contractor on the Website, you must complete and pass Homespree’s registration process,
  which includes without limitation: completing an application form and providing required personal, business and
  payment information. Contractor’s application is subject to Homespree’s approval in its sole discretion. Information
  provided in a Contractor’s application will be used to create an initial “Contractor Profile” on the Website. After
  application approval, Contractor may modify the Contractor Profile. All individuals, acting on behalf of Contractors
  must be at least 18 years of age to apply to the Website and complete a Contractor Profile. Contractor warrants and
  represents that the information provided in the Contractor Profile is accurate, up to date and in compliance with all
  applicable laws. Contractor represents and warrants that it is duly licensed (if applicable by local, state, and/or
  federal law) to perform the services it offers to Consumers. Homespree reserves the right to review all Contractor
  Profiles and to delete any content posted on the Website in its absolute discretion.

  ## 7. Contractor Obligations

  In an effort to provide Consumers with instant Approximate Estimates for home services, Homespree requires all
  Contractors to set up an Hourly Rate and agree to the Pricing Guidelines set forth below.

  **a. Service Requests**

  Consumers have 3 options to submit a Service Request:

  - **Via online forms**

    Consumers are prompted to submit their service request information via standardized forms. All information must be
    completed accurately to ensure a proper Approximate Estimate. Approximate estimates are subject to change based on a
    Contractor’s assessment.

  - **Via photos and description**

    Consumers may upload photos and a description of their projects to allow the Homespree staff to capture enough
    information to be able to provide Approximate Estimates from registered Homespree Contractors. Approximate estimates
    are subject to change based on a Contractor’s assessment.

  - **Via chat, email or phone**

    Consumers may discuss their projects with a Homespree representative to allow the Homespree staff to capture enough
    information to be able to provide Approximate Estimates from registered Homespree Contractors. Approximate estimates
    are subject to change based on a Contractor’s assessment.

  Through these project submission types, Homespree captures relevant information about the Consumer’s Service Request
  to estimate average Required Labor Hours based on industry research and professional surveys.

  Approximate Estimates are instantly calculated by multiplying the Required Labor Hours by the Hourly Rate set by a
  Contractor within his or her Account Settings.

  Homespree provides Contractors with a Pricing Tool to help set their Hourly Rate. Contractors cannot receive Service
  Requests until they set this Hourly Rate.

  **b. Hourly Rates and Approximate Estimates**

  Utilizing a Contractor’s Hourly Rate, Homespree has the right to submit Approximate Estimates on behalf of the
  Contractor for any Service Request subject to the following requirements:

  - **Service Area**

    Contractors are only matched with Service Requests within the Service Area they designate within their Contractor
    Profile

  - **Capabilities**

    Contractors are only matched with Service Requests that align to the “Services” they set within their Contractor
    Profile

  - **Status**

    Contractors are only matched with Service Requests when their Availability Status within their Account Settings is
    not set to “Don’t Send Me Requests”

  If these criteria are met, a Contractor is obligated by these Terms to schedule an appointment within 14 days with
  the Consumer to confirm the Service Request and schedule a time to begin the work on the project.

  The Approximate Estimate is not binding. Before rendering any Service, a Contractor must visit the project in-person
  within 14 days of receiving the Appointment Request to confirm that the details and conditions captured by the
  Consumer are, indeed, accurate. If the Service Request is accurate, the Contractor is required to confirm this within
  his or her Account.

  If the Service Request details/conditions are inaccurate, the Contractor must submit the adjustments within his or her
   Account. The Consumer will be provided a revised Approximate Estimate and must confirm the adjustments before any
   Services are rendered by the Contractor.

  **c. Service Contracts**

  Upon joint confirmation by Consumer and the Contractor of the Service Request, Homespree will issue a Service
  Contract, which lists the details and conditions captured by the Consumer in the jointly approved Service Request,
  as well as an outline of the Standard Labor Requirements associated with the specific Service Type.

  Upon esignature by the Consumer and Contractor, each Party agrees to enter into a binding Contract for the Consumer to
   pay the Contractor upon completion of the services rendered as outlined in the Service Contract.

  **d. Contractor’s Obligation to Consumer**

  Contractor commits to perform its services solely for the benefit of the Consumer and at all times in the best
  interest of the Consumer, as agreed to between Contractor and Consumer exclusively with the Service Contract.
  Contractor is responsible for managing appointments and the relationship with Consumers. Any dispute between
  Contractor and Consumer must be addressed directly with that Consumer.

  **e. Contractor Information**

  As a registered Contractor on Homespree, you must provide certain information on a Contractor Profile. Further, as
  part of registration, you may be required to provide additional information, including without limitation, email
  address(es), business name(s), business telephone number(s), mobile telephone numbers, business address(es), credit
  card information, bank account information, and information concerning Contractor principal(s)/owner(s) such as
  personal photograph(s). By registering as a Contractor, you agree that Homespree may provide your information to a
  Consumer who has submitted a Service Request, may use your information in any way necessary to facilitate a Service
  Request, and may use your information and share it with any of its affiliated companies in accordance with Homespree’s
   Privacy Policy. For details on Homespree's use of your information, please see our Privacy Policy at
   www.myhomespree.com/privacy.

  **f. Subverting the Homespree Platform**

  Contractor agrees (1) not to receive a Service Request from a Consumer and then arrange to perform the work solicited
  in the Service Request outside of the Website and without paying Homespree in accordance with Section 8 below; and (2)
  not to agree to an Appointment to confirm a Service Request with the intention of delegating the performance of the
  Services to another Contractor or to a third party for purposes of garnering a commission, agency or placement fee.

  **g. Passwords**

  Contractor is responsible for maintaining the confidentiality of his or her Account password. Contractor is also
  responsible for all activities that occur in connection with his or her Account. Contractor agrees to notify Homespree
  via email at founders@myhomespree.com immediately of any unauthorized use of his or her account.

  **h. Insurance/Bonding/Licensing**

  Contractor is allowed to post information on insurance, bonding and licensing on the Website. Contractor represents
  that the information it provides and/or posts on the Website is complete, accurate and current. Contractor agrees
  that it is solely responsible for the information posted by Contractor on the Website. Homespree is in no way required
  to validate or update Contractor’s insurance, bonding or licensing information. By accepting an appointment to confirm
  a Service Request, Contractor agrees that he or she is properly licensed in the jurisdiction in which he or she offers
  to perform services in connection the Service Area it sets within its Contractor Profile.

  ## 8. Payment

  **a. Payment Process**

  Upon completion of the work set forth in Service Contract, Homespree will charge the Consumer’s credit card the
  agreed upon price. Homespree is obligated to transfer funds to the Contractor after the Contractor has completed the
  work set forth in the Service Contract and the Consumer has confirmed satisfaction through his or her Account.  If,
  for any reason, the Consumer is dissatisfied with the Services rendered, including but not limited to the following,
  incomplete work, poor quality workmanship, low-end materials, Homespree will communicate this dissatisfaction to the
  Contractor to aid resolution. If this dissatisfaction cannot be resolved, and Homespree confirms that the Homeowner is
  expressing valid dissatisfaction, Homespree has the right to withhold all payment to the Contractor for the related
  project.

  **b. Material Purchases and Deposits**

  As part of the Service Contract, the Consumer may agree to have the Contractor purchase materials for the project. If
  the Service Contract includes a materials list, the Contractor has the right to request up-front payment for the
  materials prior to beginning the project. In that event, the money will be paid into the Consumer’s Homespree account
  and then transferred to Contractor’s account.

  The Contractor is prohibited from requesting an upfront Deposit from the Consumer prior to or during the rendering of
  services as outlined in the Service Contract.

  **c. Payments to Homespree** 

  Contractors compensate Homespree for use of its platform by paying an 8% commission on the confirmed price of each
  Service Contract the Contractor enters with a Consumer. This commission is flat across all project scopes and cost.

  **d. Payments from Homespree**

  Upon registration, Contractor is required to set up a bank account with Homespree using Homespree’s third party
  payment vendor, Stripe. Upon Consumers’ confirmation of job completion and satisfaction, Homespree will transfer the
  funds equivalent to the price of the project as outlined in the Service Contract less the standard 8% commission via
  ACH to the Contractor’s linked bank account within 7 business days.

  **e. Taxes**

  Contractor is responsible for paying all applicable taxes, including any sales, use, gross receipts, excise,
  transaction privilege, or business and occupation taxes associated with materials and services used to complete the
  jobs for Consumer, and any other costs Contractor incurs. Pursuant to Section 6050W of the Internal Revenue Code of
  1986, as amended, for tax year 2013 and future tax years, Homespree may be obligated to File Form 1099-K with the IRS
  reporting (a) the name, address, and Taxpayer Identification Number of each Contractor to whom one or more payments
  in settlement of reportable payment transactions (i.e. any payment card transactions and any third party network
  transactions) are made and (b) the gross amount of the reportable payment transaction with respect to each such
  Contractor. Contractor will receive a copy of any Form 1099-K filed by Homespree reporting the Contractor's
  information to the IRS.

  ## 9. Term/Termination

  **a. Contractor Termination**

  Contractor may terminate its Account at any time, for any reason. To terminate an Account, Contractor must select
  “Cancel my Account” in his or her Account Settings. Contractor's Account will be disabled immediately upon selection.

  **b. Homespree Termination**

  Homespree may terminate Contractor’s Account at any time, with or without cause, by sending notice to Contractor at
  the email address provided in the Account Registration. Homespree’s termination of an Account is effective
  immediately.

  ##10. Indemnification

  **a. Contractor Indemnification**

  Contractor will indemnify defend and hold harmless Homespree and its owners, parents, officers, shareholders,
  affiliates, subsidiaries, associates, directors, employees, subcontractors and agents from and against, any losses,
  liabilities, claims, causes of action, lawsuits, judgments, civil penalties, damages and expenses suffered, including
  reasonable attorneys’ fees, resulting from or arising out of any act or omission of Contractor, except to the extent
  such loss is caused by Homespree’s sole negligence.

  **b. Homespree’s Right to Assume Defense**

  Notwithstanding any other provision herein, and without limiting Contractor’s obligation to fully indemnify Homespree
  under this Agreement, Homespree reserves the absolute right to assume the defense of any claim against Homespree. In
  the event that such claim is within the scope of Contractor’s indemnification obligation, Contractor agrees to
  reimburse Homespree any and all costs and expenses, including reasonable attorneys’ fees, incurred in the defense of
  such claim.

  **c. No Settlement Without Consent**

  Contractor will not enter into any settlement or compromise of a claim that would result in the admission of any
  liability, create any financial liability, or that would subject Homespree to injunctive relief or otherwise bind,
  restrict or commit Homespree without first obtaining Homespree’s prior written consent.

  **d. Participating in the Defense**

  Homespree has the right, but not the obligation, to participate, as it deems necessary, in the handling, adjustment
  or defense of any claim. If Homespree reasonably determines that defenses are available to it that are not available
  to Contractor, and if raising such defenses would create a conflict of interest for the counsel defending the claim,
  Homespree will be entitled to retain separate counsel, at Contractor’s expense, to raise such defenses.

  **e. Assumption of Defense**

  Should Contractor fail to assume its obligations, including its obligation to diligently pursue and pay for the
  defense of Homespree under this Section, Contractor agrees that Homespree will have the right, but not the obligation,
  to proceed on its own behalf to so defend itself. Homespree may require reimbursement from proof any and all costs
  and expenses (including reasonable attorneys’ fees) and any amounts paid by Homespree on behalf of Contractor.


  ## 11. Disclaimers, Limitations and Release

  **a. Disclaimer of Warranties**

  Homespree makes no representations about the suitability of the materials on this Website for any purpose or
  contractor’s participation, benefits, use or expectations concerning Homespree’s Website, business platform or
  services. All such materials are provided “as is” without warranty of any kind, expressed or implied. Homespree
  specifically disclaims all warranties and conditions of any kind, including all implied warranties and conditions of
  merchantability, fitness for a particular purpose, title and non-infringement. Homespree shall have no liability or
  responsibility for any errors or omissions in the Content of this Website, for your action or inaction in connection
  with this Website or for any damage to your computer or data or any other damage you may incur in connection with this
  Website. Your use of this Website is at your own risk.

  **b. Limitation of Liability**

  In no event shall Homespree, its affiliates or agents be liable for any direct, indirect, punitive, incidental,
  special or consequential damages arising out of or in any way connected with the use of the Website, the materials in
  this Website, the delay or inability to use this Website or otherwise arising in connection with this Website, whether
  based in contract, tort, strict liability or otherwise, even if advised of the possibility of such damages. Some
  states and/or jurisdiction do not allow the exclusion or limitation of incidental or consequential damages, so this
  exclusion may not apply in those states.

  **c. Release**

  In exchange for the referral services provided by Homespree and the grant of access to the Website, and for other
  good and valuable consideration, the receipt and sufficiency of which is hereby acknowledged by Contractor, Contractor
  expressly agrees to release Homespree (and its officers, directors, affiliates, parent companies, employees and
  agents) from any claims, demands, causes of action, losses and damages (actual and consequential) of every kind and
  nature, known and unknown, suspected and unsuspected, disclosed and undisclosed, arising out of or in any way
  connected with the Website, Homespree’s services or any dispute Contractor has with any Consumer or other Contractor.
  If Contractor is a California resident, Contractor waives California civil code section 1542, which says: "a general
  release does not extend to claims which the creditor does not know or suspect to exist in his favor at the time of
  executing the release, which, if known by him must have materially affected his settlement with the debtor."

  ## 12. Website Content

  **a. Copyright**

  This Website and the material within it, with exception of Content posted by Users, are © 2013 Homespree, Inc.
  ("Homespree"). Viewing this Website creates a copy of Homespree materials in your computer’s random access memory
  and/or your hard drive and/or in your proxy server.

  **b. User License**

  Homespree grants Contractor permission to view this Website and to print individual pages from this Website for
  Contractor’s own personal use, provided that Contractor agrees to and accepts without modification the notices, terms
  and conditions set forth in this Agreement. You may not modify, copy (except as set forth in the preceding sentence),
  distribute, transmit, display, perform, reproduce, publish, license, create derivative works from, transfer or sell
  any information, material, software, products or services from this Website. You represent and warrant that you will
  not use this Website for any purpose that is unlawful, immoral or prohibited by these terms, conditions and notices.

  **c. Trademarks**

  The trademarks, service marks, and logos (the “Trademarks”) used and displayed on this Website are registered and
  unregistered Trademarks of Homespree and others. Nothing on this Website should be construed as granting, by
  implication, estoppels or otherwise, any license or right to use any Trademark displayed on the Website, without the
  prior written permission of the Trademark owner. Homespree, Inc. aggressively enforces its intellectual property
  rights to the fullest extent of the law. The name of Homespree, the Homespree logo or other Homespree formatives may
  not be used in any way, including advertising or publicity pertaining to distribution of materials of this Website,
  without prior, written permission from Homespree. Homespree prohibits use of the Homespree logo as part of a link to
  or from any other site unless Homespree approves establishment of such a link in advance via email. Fair use of
  Homespree’s trademarks requires proper acknowledgment. Other product and company names mentioned in this Website may
  be the trademarks of their respective owners.

  **d. Links**

  This Website may contain links to websites owned or operated by parties other than Homespree. Such links are provided
  for your reference only. Homespree does not control outside sites and is not responsible for their content.
  Homespree’s inclusion of links to an outside site does not imply any endorsement of the material on the website or,
  unless expressly disclosed otherwise, any sponsorship, affiliation or association with its owner, operator or sponsor,
  nor does Homespree’s inclusion of the links imply that Homespree is authorized to use any trade name, trademark, logo,
  legal or official seal or copyrighted symbol that may be reflected on the linked website.

  **e. Reliance on Content**

  Opinions, advice, statements, reviews, offers, or other information or user content made available through the
  Website, but not directly by Homespree, are those of their respective authors and should not necessarily be relied
  upon. Such authors are solely responsible for such content. Homespree does not: (i) guarantee the accuracy,
  completeness, or usefulness of any information on the Website; or (ii) adopt, endorse or accept responsibility for
  the accuracy or reliability of any opinion, advice, or statement made by any party that appears on the Website. Under
  no circumstances will Homespree or its affiliates be responsible for any loss or damage resulting from your reliance
  on information or other content posted on the Website or transmitted to or by any users. Content on this Website may
  be changed from time to time without notice.

  **f. Information provided to Homespree**

  Contractor agrees that all of the content and information posted on the Website, including but not limited to
  Contractor profiles, screening information, ratings and reviews (including any ratings and reviews or other content
  posted by you), is the sole and exclusive property of Homespree or the party posting such content. In the event that
  Contractor provides Homespree with any feedback regarding the Homespree service or the Website, including without
  limitation, any flaws, errors, bugs, anomalies, problems with and/or suggestions for the service or the Website
  ("Feedback"), Contractor hereby assigns to Homespree all rights in the Feedback, including but not limited to, the
  right to use such Feedback and related information in any manner we deem appropriate.

  **g. Improper Use**

  If Homespree determines or suspects, in its sole discretion, that Contractor is misusing or attempting to misuse or
  circumvent the Homespree services or system, or is using or attempting to use such for any inappropriate purposes,
  including but not limited to activities such as hacking, infiltrating, fraud, advertising, jamming or spamming,
  Homespree reserves the right, in its sole discretion, to immediately terminate Contractor’s access without notice and
  to initiate without notice appropriate legal actions or proceedings to seek appropriate remedies and/or damages,
  including but not limited to lost revenue, repairs, legal fees, costs and expenses, and to seek injunctions or other
  equitable remedies.

  **h. Contractor posted Content**

  Contractor is solely responsible for the content that it publishes or displays (hereinafter, "posts") or transmits to
  other users, or that Homespree publishes or displays at Contractor’s request on the Website. Contractor will not post
  on the Website, or transmit to other users, any defamatory, inaccurate, abusive, obscene, profane, offensive, sexually
  oriented, threatening, harassing, racially offensive or illegal material, or any material that infringes or violates
  another party's rights (including, but not limited to, intellectual property rights, and rights of privacy and
  publicity). Contractor will not provide inaccurate, misleading or false information to the Consumer or to any other
  User. If information provided to Homespree or another User subsequently becomes inaccurate, misleading or false,
  Contractor will promptly notify Homespree of such change.

  Homespree may review and delete any content, messages, double-blind emails, photos or profiles (collectively,
  "Content"), in each case in whole or in part, that in the sole judgment of Homespree violates this Agreement or which
  might be offensive, illegal, or that might violate the rights, harm or threaten the safety of users.

  By posting Content to any public area of the Website, Contractor automatically grants, and represents and warrants
  that it has the right to grant, to Homespree, its affiliates, licensees and successors, an irrevocable, perpetual,
  non-exclusive, fully paid, worldwide license to use, copy, perform, sell, rent, lease, display, reproduce, adapt,
  modify and distribute such information and Content and to prepare derivative works of, or incorporate into other
  works, such information and Content, and to grant and authorize sublicenses of the foregoing. Contractor further
  represents and warrants that public posting and use of its Content by Homespree will not infringe or violate the
  rights of any third party.

  Content that is illegal or prohibited on the Website includes, without limitation, Content that:

  * Is patently offensive to the online community, such as Content that promotes racism, bigotry, hatred or physical
  harm of any kind against any group or individual
  * Harasses or advocates harassment of another person

  * Involves the transmission of "junk mail," "chain letters," or unsolicited mass mailing or "spamming"

  * Promotes information that you know is false or misleading

  * Promotes illegal activities or conduct that is abusive, threatening, obscene, defamatory or libelous

  * Promotes an illegal or unauthorized copy of another person's copyrighted work, such as providing pirated computer
  programs or links to them, providing information to circumvent manufacture-installed copy-protect devices, or
  providing pirated images, audio or video, or links to pirated images, audio or video files

  * Contains restricted or password-only access pages, or hidden pages or images (those not linked to or from another
  accessible page)

  * Provides material that exploits people under the age of 18 in a sexual or violent manner, or solicits personal
  information from anyone under the age of 18;

  * Provides instructional information about illegal activities such as making or buying illegal weapons, violating
  someone's privacy, or providing or creating computer viruses

  * Solicits passwords or personal identifying information for commercial or unlawful purposes from other users;

  * Engages in commercial activities and/or sales without our prior written consent such as contests, sweepstakes,
  barter, advertising, and pyramid schemes and

  * Violates state and/or local consumer protection laws

  Contractor’s use of the Website, including but not limited to the Content it posts on the Website, must be in
  compliance with any and all applicable laws and regulations. All information Contractor includes in its Account
  information and Contractor Profile(s) must be accurate, current and complete. Homespree reserves the right to
  investigate and terminate your membership if you misuse the Website or behave in a way that could be regarded as
  inappropriate, unlawful or illegal.

  ## 13. Miscellaneous

  **a. Agreement Changes**

  This Agreement and the Homespree payment process may be changed from time to time, and you agree to be bound by any
  changes that are posted on the Website or which are otherwise communicated to you.

  **b. Privacy**

  Use of the Website is also governed by our Privacy Policy, available at http://www.myhomespree.com/privacy.

  **c. Relationship of the parties**

  Homespree and its affiliated companies provide only a referral service to Contractor. In no event will Homespree be
  considered a general contractor, construction manager, project manager, joint employer, joint venturer, or partner of
  Contractor or any of its affiliates or their respective personnel.

  **d. References to Contractors**

  Any reference to Contractor refers to Contractor and Contractor’s personnel, agents, equipment, facilities and
  resources used by Contractor, regardless of whether Contractor owns, operates or controls said equipment, facilities
  or resources.

  **e. Non-Exclusivity**

  This Agreement is non-exclusive and Homespree may provide Homespree’s services to any other Contractor. Similarly,
  Contractor may use referral services of any other business similar to Homespree.

  **f. Assignment**

  Contractor may not assign this Agreement without the express written consent of Homespree.

  **g. Invalid Sections**

  If any part or parts of this Agreement are held to be invalid, the remaining parts of this Agreement will be valid
  and enforceable.

  **h. Mediation**

  All disputes between the Parties arising out of this Agreement will be first submitted to mediation before a
  professional mediator selected by the Parties. Such mediation shall be conducted at a mutually agreed time and place,
  and the mediator’s fees shall be split equally between the Parties.

  **i. No Third Party Beneficiaries**

  Except as otherwise set forth expressly herein, nothing contained in this Agreement, express or implied, is intended
  to confer upon any person or entity, other than Homespree and the Contractor, any benefit, right or remedy.

  **j. Survival**

  The following sections shall survive termination of the Agreement: 7f, 8b, 8c, 8d, 10a, 10b, 10c, 10d, 10e, 11a, 11b,
  11c, 12a, 12c, 12e, 12f, 12g, 12h, 13a, 13b, 13f, 13g, 13i, 13j

