:markdown

  This Privacy Policy was last updated on June 20, 2013.

  This Privacy Policy is effective as of June 20, 2013.

  ## 1. Introduction to the Privacy Policy

  Homespree, Inc. (“Homespree”, “we”, “us”) provides this Privacy Policy to inform users (“you”, “User”, “Consumer”,
  “Contractor”) of our policies and procedures regarding the collection, use and disclosure of Personally Identifiable
  Information received or collected from users of this website located at www.myhomespree.com (“Website”), email, SMS,
  telephone, WAP, Mobile Device or any other electronic means (collectively referred to as “Applications”)

  This Privacy Policy may be updated from time to time for any reason. We will notify you of any material changes to
  our Privacy Policy by posting the new Privacy Policy on our website. You are advised to consult this Privacy Policy
  regularly for any changes.

  By using or accessing our Applications, you are consenting to our processing of your information as set forth in this
  Privacy Policy now and as amended by us. “Processing” is defined as using or touching your information in any way,
  including, but not limited to, collecting, storing, deleting, using combining and disclosing.

  If you have any questions or comments about this Privacy Policy or use of your Personally Identifiable Information,
  please contact us at founders@myhomespree.com


  ##2. Personally Identifiable Information Collected and Used

  **a. Visiting**

  When you visit our Applications, our servers automatically record information (“Log Data”) that your browser sends
  whenever you visit a website. This Log Data may include information such as your IP address, browser type or the
  domain from which you are visiting, the web pages you visit, the search terms you use, and any advertisements or
  links on which you click. For most users accessing the Internet from an Internet service provider the IP address will
  be different each time you visit the Applications. We use Log Data to monitor the use of the Applications and for the
  Applications’ technical administration.

  **b. Registration**

  If you desire to have access to certain restricted sections for the Applications, you will be required to become a
  registered User and to submit certain Personally Identifiable Information to Homespree. This happens in a number of
  instances, such as when you sign up for the Homespree service, if you desire to receive marketing materials or
  information, if you submit a Service Request, and/or if you create a Contractor Profile to offer services through
  Homespree. Personally Identifiable Information that we may collect in such instances may include your full name,
  password, email address, street address, time zone, telephone number, mobile phone number, photographs you upload,
  and other information you decide to provide us with.

  **c. Company Information**

  If you choose to register a Contractor Profile, you have the opportunity to provide additional information
  (“Company Information”) such as your company name, logo or avatar, company telephone number, company street address,
  company email address, company state license number, company insurance/bonding information, company services, company
  slogan, company description, photographs of work completed by the company and any other information you decide to
  provide us with. We may supplement or modify the Company Information to conform to our editorial policies or to add
  information from your company website, materials that you supply us, or publicly available sources. Users have the
  ability to view this information when they search for local contractors in our directory, or when they submit a
  Service Request and are matched with your Company for an Approximate Estimate.

  If you provide an optional mobile phone number, you will receive notifications on your mobile phone in a number of
  cases, such as when Homespree updates you on a new Service Request, or a Status Change of an existing Service
  Request. You may sign up for notification preferences through you Account Settings to better control when Homespree
  sends you email or SMS notifications.

  **d. Survey**

  We may also collect information if you participate in surveys conducted by or on behalf of us, including but not
  limited to questionnaires, telephone interviews and/or discussion groups, and otherwise providing general information
  about the Homespree service.


  ## 3. Use of Personally Identifiable Information

  In general, we may use the Personally Identifiable Information we collect about you to:

  * Deliver the products and services that you have requested

  * Manage your account and provide you with customer support

  * Perform research and analysis about your use of, or interest in, our Applications, content, product or services

  * Communicate with you by email, postal mail, telephone, mobile phone, or newsletters

  * Communicate with you in regards to completed or in-process Service Requests

  * Develop and display content and advertising tailored to your interests on our Applications

  * Create Anonymous Data records for such information

  * Verify your eligibility to use our Applications

  * Enforce our terms and conditions

  * Manage our business

  * Perform functions as otherwise described to you at the time of collection

  In addition, we may use your Personally Identifiable Information to market to you, and provide you with information
  about our products and services, including, but not limited to, our service. If you decide that you no longer wish
  to receive such information or communications from us, please follow the unsubscribe instructions provided in any of
  the communications.

  ## 4. Cookies

  Like many websites, we also use "cookie" technology to collect additional Website usage data and to improve the
  Applications and our service. A cookie is a small data file that we transfer to your computer's hard disk. We do not
  use cookies to collect Personally Identifiable Information. When you visit our Applications, we send one or more
  cookies - small file containing a string of characters - to your computer or other device that uniquely identifies
  your browser. Homespree may use cookies to better understand how you interact with the Website and our service, to
  monitor aggregate usage by our users and web traffic routing on the Website, and to improve the Website and our
  services. Most Internet browsers automatically accept cookies. You can instruct your browser, by editing its options,
  to stop accepting cookies or to prompt you before accepting a cookie from the websites you visit.

  ## 5. Personally Identifiable Information Disclosure

  Respecting you information is very important to Homespree. We want you to understand when and with whom we may share
  your Personally Identifiable Information with while you are using our service. We do not share your personal
  information with others expect as indicate below or when we inform you and give you an opportunity to opt out of
  having your personal information shared. Under no circumstances, other than in the event of a Business Transfer will
  Homespree sell, rent, or lease its Consumer Lists to a third party.

  Circumstances under which we share your Personally Identifiable Information:

  **a. To provide information to Contractors**

  We may share your Personally Identifiable Information with Contractors registered with Homespree that perform
  services on behalf of Consumers. Sharing this information with Contractors allows them to provide an accurate
  Approximate Estimate on the service you request. The information we share is generally the information contained in
  the Service Request form, including the username (and first name of the Consumer when we have it), the type of
  service needed, when and where the service should be performed, a description of the service needed, and any
  photographs pertaining to the Service Request. When you accept an Approximate Estimate from a Contractor, additional
  information will be shared, including Personally Identifiable Information such as the your full name, phone number,
  email address, and street address of the job location.

  **b. To provide information to Consumers**

  If you are a registered Contractor, we may share your Personally Identifiable Information with Consumers requesting
  services through Homespree. Sharing this information with Consumers helps them to assess Contractor quality and select
  the Contractor to perform the service they need done. The information we share is generally the information in your
  Contractor Profile, with the exception of your address, contact phone number, mobile phone number, and email address.
  In addition, we share the Approximate Estimate submitted on behalf of you for the Service Request and any additional
  information you choose to provide to the Consumer such as appointment start times, private notes, and questions about
  the Service Request. If the Consumer agrees to your Approximate Estimate and would like to schedule an appointment
  with you then, and only then, do we share your email address with the Consumer in order to facilitate communication
  about the scheduled job.

  **c. To facilitate use of third-party services**

  We engage certain trusted third parties to perform functions and provide services to us, including, without
  limitation, hosting and maintenance, customer relationship, database storage and management, direct marketing
  campaigns and User credit card information storage. We will share your Personally Identifiable Information with these
  third parties, but only to the extent necessary to perform these functions and provide such services, and only
  pursuant to binding contractual obligations requiring such third parties to maintain the privacy and security of your
  data.

  **d. To comply with laws and law enforcement**

  Homespree cooperates with government and law enforcement officials or private parties to enforce and comply with the
  law. We may disclose any information about you to government or law enforcement officials or private parties as we,
  in our sole discretion, believe necessary or appropriate to respond to claims, legal process (including subpoenas),
  to protect the property and rights of Homespree or a third party, the safety of the public or any person, to prevent
  or stop any illegal, unethical, or legally actionable activity, or to comply with the law.

  **e. In connection with business transfers**

  Homespree may sell, transfer or otherwise share some or all of its assets, including your Personally Identifiable
  Information, in connection with a merger, acquisition, reorganization or sale of assets or in the event of
  bankruptcy. You will have the opportunity to opt out of any such transfer if the new entity's planned processing of
  your information differs materially from that set forth in this Privacy Policy.

  ## 6. Editing Or Deleting Personally Identifiable Information

  If you are a registered user of Homespree’s Application(s), you may access and update or correct the information you
  provided to us by updating your settings in Account Settings or your Contractor Profile. If you wish to delete your
  account, you can do so by clicking “Cancel My Account” within your Account Settings.

  ## 7. Security

  **a. Account Protection**

  Your password set upon registration is the key to your Account information, including your Personally Identifiable
  Information and your Service Request information. When creating your password, you should use unique numbers,
  letters, special characters, and combinations thereof. In addition, do not disclose your password to anyone. If you
  do share your password or Personally Identifiable Information with others, you are solely responsible for all actions
  taken via your Account. If you lose control of your password, you may lose substantial control over your personal
  information and be subject to legally binding actions taken on your behalf. We offer you the ability to change you
  password within your Account Settings. If you lose your password you must immediately notify Homespree to change your
  password.


  **b. Vulnerability of Personally Identifiable Information**

  Homespree is very concerned about safeguarding the confidentiality of your personally identifiable information. We
  employ administrative, physical and electronic measures designed to protect your information from unauthorized access.
  However, we cannot guarantee that hackers or unauthorized personnel will not gain access to your personal information
  despite our efforts. You should note that in using the Website or other Application, your information will travel
  through third-party infrastructures that are not under our control. . Therefore, we do not promise and cannot
  guarantee, and thus you should not expect, that your Personally Identifiable Information or private communications
  will not be collected and used by others. Homespree is not responsible for the unauthorized use by third parties of
  information you post or otherwise make available.

  ## 8. Links To Other Websites

  Our Applications contains links to other websites. The fact that we link to a website is not an endorsement,
  authorization or representation of our affiliation with that third party. We do not exercise control over third party
  websites. These other websites may place their own cookies or other files on your computer, collect data or solicit
  Personally Identifiable Information from you. Other sites follow different rules regarding the use or disclosure of
  the personally identifiable information you submit to them. We encourage you to read the privacy policies or
  statements of the other websites you visit.

  ## 9. Children

  The Applications are not directed to persons under 18. If a parent or guardian becomes aware that his or her child
  has provided us with Personally Identifiable Information without the parent or guardian's consent, he or she should
  contact us at founders@myhomespree.com. We do not knowingly collect personally identifiable information from minors
  under 18. If we become aware that a minor under 18 has provided us with personal identifiable information, we will
  use reasonable commercial efforts to promptly delete such information from our files.

  If you have any additional questions or concerns about this Policy, or wish to opt-out of any specific provision,
  please feel free to contact us any time through at founders@myhomespree.com

  ## 10. Financial Information

  **a. Collection of Financial Information**

  Homespree does not store credit card or bank account information. Credit card transactions and fund transfers are
  transmitted to a financial gateway, and we endeavor to protect the security of your payment information by using
  Secure Sockets Layer (SSL) technology. Homespree may, however, collect Personally Identifiable Information, such as
  full name, phone number, and address for billing purposes.

  **b. Use of Financial Information**

  When you enter your credit card or bank account information into the Website, a credit card processer encrypts the
  data. Homespree saves none of your credit card or bank account information, and this information is used for no
  purpose but to make the particular transaction you authorize.

  **c. Third-Party Payments Vendor**

  Homespree uses Stripe as its third-party payments vendor. You can access their security policies here.
