%footer.container.footer-box
  = image_tag asset_path('homespreelogofooter.png'), alt: "companyA"
  %nav.links
    %a{:href => "#"} About
    %a{:href => "#"} Tour
    %a{:href => "#"} Blog
    %a{:href => "#"} Terms of Use
    %a{:href => "#"} Support
  %nav.links
    %a{:href => "#"}
      = image_tag asset_path('twitter-icon.png'), alt: "twitter-icon"
    %a{:href => "#"}= image_tag asset_path('facebook-icon.png'), alt: "fb"
    %a{:href => "#"}= image_tag asset_path('googleplus-icon.png'), alt: "gplus"
