<section class="container">
  <nav class="navbar">
    <div class="navbar-inner">
      <div class="container">
        <a href="/" class="brand">LandingStrip</a>
        <ul class="nav">
          <li class="active"><a href="#">Home </a></li>
          <li><a href="#">Tour</a></li>
          <li><a href="#">Blog</a></li>
        </ul>
      </div>
    </div>
  </nav>
</section>