
  <div class="container">
    <nav class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a href="/" id="logo" class="brand">
            <%= image_tag asset_path("homespreelogosmall.png") %>
          </a>
          <ul class="nav">
            <li><a href="#">Homeowners</a></li>
            <li><a href="#">Contractors</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Blog</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
