<nav class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a href="/" id="logo" class="brand">
        <%= image_tag asset_path("homespreelogo.png") %>
      </a>
      <ul class="nav">
        <li><%= link_to "Homeowners", homeowners_path%></li>
        <li><%= link_to "Contractors", contractors_path%></li>
        <li><%= link_to "About", about_path%></li>
      </ul>
    </div>
  </div>
</nav>