- content_for :content do
  #content
    .secondary
      .container
        .row-fluid
          .span8.offset2
            = content_for?(:project_wizard) ? yield(:project_wizard) : yield

= render :template => 'layouts/application'