<% content_for :content do %>
  <div class="secondary">
    <div class="container">

      <div class="row-fluid">
        <div class="span5 offset4">

          <h1 class="block-underline-full"><%= yield :title %></h1>
          <%= content_for?(:registration_page) ? yield(:registration_page) : yield %>

        </div>
      </div>

    </div>
  </div>
<% end %>

<%= render :template => 'layouts/application' %>