- content_for :content do
  #content
    .secondary
      .container
        = content_for?(:static_page) ? yield(:static_page) : yield

= render :template => 'layouts/application'

= render "partials/footer", position: "absolute"